workflows/CUAL/foILvSy2LhUGBqkQ.json
{
  "id": "foILvSy2LhUGBqkQ",
  "name": "CUAL - Error Notification Handler",
  "active": true,
  "isArchived": false,
  "updatedAt": "2026-03-26T16:09:32.006Z",
  "createdAt": "2026-02-16T19:29:51.036Z",
  "versionId": "0dfad6e2-0abb-4cd2-85fa-ccc2d134baa3",
  "nodes": [
    {
      "parameters": {
        "sendTo": "alec.galvez@designshopp.com, owen.quintenta@designshopp.com, melissa@designshopp.com",
        "subject": "=CUAL Alert [{{ $json.priority }}]: {{ $json.workflowName }} failed",
        "message": "=<b>PRIORITY: {{ $json.priority }}</b><br/>\n{{ $json.priorityLabel }}<br/>\n<br/>\n<b>Workflow:</b> {{ $json.workflowName }}<br/>\n<b>Recommended Action:</b> {{ $json.recommendedAction }}<br/>\n<br/>\n<hr/>\n<b>Technical Details</b><br/>\n<b>Workflow ID:</b> {{ $json.workflowId }}<br/>\n<b>Execution ID:</b> {{ $json.executionId }}<br/>\n<b>Execution URL:</b> {{ $json.executionUrl }}<br/>\n<b>Failed Node:</b> {{ $json.failedNode }}<br/>\n<b>Error Message:</b> {{ $json.errorMessage }}<br/>\n<b>Mode:</b> {{ $json.mode }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        432,
        0
      ],
      "id": "57ab81a5-60e3-48bd-a169-b709d8fcb1d5",
      "name": "Send a message",
      "webhookId": "cdc644ac-fce1-4272-a7c2-c1c91173af18",
      "credentials": {
        "gmailOAuth2": {
          "id": "CGSyc2j9LllgKdAU",
          "name": "[DS - alec.galvez@designshopp.com] Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "51ceb0d3-9df2-4166-8e07-f79bf73d359a",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nlet errorMessage = '';\nlet failedNode = '';\nlet executionId = '';\nlet executionUrl = '';\nlet mode = '';\nlet workflowName = item.workflow?.name || 'Unknown';\nlet workflowId = item.workflow?.id || 'Unknown';\n\nif (item.execution) {\n  // Schema 1: error in a regular (non-trigger) node\n  errorMessage = item.execution.error?.message || 'Unknown';\n  failedNode = item.execution.lastNodeExecuted || 'Unknown';\n  executionId = item.execution.id || 'N/A';\n  executionUrl = item.execution.url || 'N/A';\n  mode = item.execution.mode || 'Unknown';\n} else if (item.trigger) {\n  // Schema 2: error in the trigger node itself\n  errorMessage = item.trigger.error?.message || 'Unknown';\n  failedNode = 'Trigger Node (workflow did not execute)';\n  executionId = 'N/A (trigger-level failure)';\n  executionUrl = 'N/A (trigger-level failure)';\n  mode = item.trigger.mode || 'trigger';\n}\n\n// Classify priority: LOW = transient API errors, HIGH = logic/config failures\nconst lowPriorityPatterns = [\n  /\\b503\\b/, /\\b500\\b/, /\\b429\\b/,\n  /rate.?limit/i, /service.?unavailable/i, /too.?many.?requests/i,\n  /timeout/i, /temporarily unavailable/i, /ECONNRESET/i, /ETIMEDOUT/i,\n  /bad gateway/i, /gateway timeout/i\n];\nconst isLowPriority = lowPriorityPatterns.some(p => p.test(errorMessage));\nconst priority = isLowPriority ? 'LOW' : 'HIGH';\n\nconst priorityLabel = priority === 'LOW'\n  ? 'LOW — Temporary API outage (503/500/429). Usually self-resolves within minutes.'\n  : 'HIGH — Logic or configuration failure. Requires investigation.';\n\nconst recommendedAction = priority === 'LOW'\n  ? 'No action needed — temporary API issue, usually self-resolves within minutes.'\n  : 'Action required — please investigate. Technical details below.';\n\nreturn [{\n  json: {\n    workflowName,\n    workflowId,\n    errorMessage,\n    failedNode,\n    executionId,\n    executionUrl,\n    mode,\n    priority,\n    priorityLabel,\n    recommendedAction\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "9b83c3a0-b8dc-433d-943d-1396cd249b1d",
      "name": "Normalize Error Data"
    },
    {
      "id": "sheets-cual-buglog",
      "name": "Log to Bug Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        432,
        200
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11yWjBmTvO_-cHHcWPJ2jT4PiRDN3nsjWyqSEnc7P_PI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=2084648493",
          "mode": "list",
          "cachedResultName": "Bug Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Time": "={{ $now.format('HH:mm:ss') }}",
            "Client": "CUAL",
            "Workflow Name": "={{ $json.workflowName }}",
            "Error Type": "={{ $json.mode === 'trigger' ? 'Trigger Failure' : 'Execution Error' }}",
            "Error Message/Description": "={{ $json.errorMessage }}",
            "Node Where Error Occurred": "={{ $json.failedNode }}",
            "Triggered By": "Auto",
            "Status": "Open",
            "Assigned To": "Owen",
            "Resolution Notes": ""
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NuvxHNUd8fNqRvXJ",
          "name": "automation@spilledmilkagency.com"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Normalize Error Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Normalize Error Data": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Bug Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {},
  "tags": []
}