workflows/CPA/WeJpFqOYAOQzJwMW.json
{
  "id": "WeJpFqOYAOQzJwMW",
  "name": "CPA Exam Upload + AI Extraction",
  "active": true,
  "isArchived": false,
  "updatedAt": "2026-03-26T16:11:38.296Z",
  "createdAt": "2026-03-25T15:38:49.859Z",
  "versionId": "9dc580ed-e31d-4ea5-ba17-69ceb5030c74",
  "nodes": [
    {
      "parameters": {
        "authentication": "basicAuth",
        "formTitle": "CPA Exam Upload — Internal Testing",
        "formDescription": "Upload a single exam document for AI extraction testing. Accepted formats: PDF, JPG, JPEG, PNG.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Trainer Email",
              "fieldType": "email",
              "placeholder": "trainer@example.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Exam File",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf,.jpg,.jpeg,.png",
              "requiredField": true
            },
            {
              "fieldLabel": "Notes",
              "fieldType": "textarea",
              "placeholder": "Any context about this submission (optional)"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "form-trigger",
      "name": "Upload Exam Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "webhookId": "cpa-exam-upload",
      "credentials": {
        "httpBasicAuth": {
          "id": "6ak2BqGghjcUV4lZ",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst dateStr = now.toISOString().replace(/[-:T]/g, '').substring(0, 14);\nconst randomSuffix = Math.random().toString(36).substring(2, 6);\nconst submissionId = `CPA-${dateStr}-${randomSuffix}`;\n\nconst trainerEmail = $input.first().json['Trainer Email'] || '';\nconst notes = $input.first().json['Notes'] || '';\n\nconst binaryKeys = Object.keys($input.first().binary || {});\nif (binaryKeys.length === 0) throw new Error('No file uploaded');\n\nconst fileKey = binaryKeys[0];\nconst fileBinary = $input.first().binary[fileKey];\nconst mimeType = fileBinary.mimeType || '';\nconst fileName = fileBinary.fileName || 'unknown';\n\nif (!mimeType.includes('application/pdf') && !mimeType.includes('image/')) {\n  throw new Error(`Unsupported file type: ${mimeType}. Please upload a PDF, JPG, or PNG.`);\n}\n\nreturn [{\n  json: { submissionId, trainerEmail, notes, mimeType, fileName, dateProcessed: now.toISOString() },\n  binary: $input.first().binary\n}];"
      },
      "id": "code-parse",
      "name": "Parse Upload + Generate ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst prevData = $('Parse Upload + Generate ID').first().json;\n\nlet binaryData = {};\ntry {\n  const parseNode = $('Parse Upload + Generate ID').first();\n  if (parseNode.binary) binaryData = parseNode.binary;\n} catch(e) {}\nif (!binaryData || Object.keys(binaryData).length === 0) {\n  try {\n    const formNode = $('Upload Exam Form').first();\n    if (formNode.binary) binaryData = formNode.binary;\n  } catch(e) {}\n}\n\nlet aiResponse;\nlet multiPageNote = '';\n\ntry {\n  let responseText = '';\n\n  if (input?.candidates?.[0]?.content?.parts?.[0]?.text) {\n    responseText = input.candidates[0].content.parts[0].text;\n  }\n  else if (typeof input?.text === 'string' && input.text.length > 10) {\n    responseText = input.text;\n  }\n  else if (typeof input?.content === 'string') {\n    responseText = input.content;\n  }\n  else {\n    const searchForJson = (obj, depth = 0) => {\n      if (depth > 5) return '';\n      if (typeof obj === 'string' && obj.includes('is_exam_form')) return obj;\n      if (Array.isArray(obj)) {\n        for (const item of obj) { const r = searchForJson(item, depth + 1); if (r) return r; }\n      } else if (obj && typeof obj === 'object') {\n        for (const val of Object.values(obj)) { const r = searchForJson(val, depth + 1); if (r) return r; }\n      }\n      return '';\n    };\n    responseText = searchForJson(input);\n  }\n\n  if (!responseText) throw new Error('Could not find Gemini response text. Keys: ' + Object.keys(input).join(', '));\n\n  responseText = responseText.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\n  if (responseText.includes('\\\\n')) responseText = responseText.replace(/\\\\n/g, '\\n');\n\n  const jsonMatch = responseText.match(/(\\[[\\s\\S]*\\]|\\{[\\s\\S]*\\})/);\n  if (!jsonMatch) throw new Error('No JSON found in response. First 200 chars: ' + responseText.substring(0, 200));\n\n  const parsed = JSON.parse(jsonMatch[0]);\n  if (Array.isArray(parsed)) {\n    multiPageNote = `[Multi-page: ${parsed.length} students detected. Processing student 1 only. Full multi-student support in Phase 2.]`;\n    aiResponse = parsed[0];\n  } else {\n    aiResponse = parsed;\n  }\n\n} catch (e) {\n  return [{ json: { ...prevData, error: `Parse error: ${e.message}`, status: 'ERROR', overallConfidence: 0, missingFields: JSON.stringify(['all - parse error']), courseCode: '', courseName: '', studentFirstName: '', studentLastName: '', examDate: '', writtenGrade: '', passFail: '', studentSignature: '', trainerSignature: '', trainerName: '', ptiTrainerId: '', examAccessKey: '', handsOnComplete: false, notes: prevData.notes || '' }, binary: binaryData }];\n}\n\nif (!aiResponse.is_exam_form) {\n  return [{ json: { ...prevData, is_exam_form: false, status: 'NOT_AN_EXAM', overallConfidence: 0, missingFields: JSON.stringify([]), courseCode: '', courseName: '', studentFirstName: '', studentLastName: '', examDate: '', writtenGrade: '', passFail: '', studentSignature: '', trainerSignature: '', trainerName: '', ptiTrainerId: '', examAccessKey: '', handsOnComplete: false, notes: prevData.notes || '' }, binary: binaryData }];\n}\n\nconst getVal = (f) => f && typeof f === 'object' ? f.value : f;\nconst getConf = (f) => f && typeof f === 'object' ? (f.confidence || 0) : 0.5;\nconst getNotes = (f) => f && typeof f === 'object' ? (f.notes || '') : '';\n\nconst fields = {\n  examDate: { val: getVal(aiResponse.exam_date), conf: getConf(aiResponse.exam_date), notes: getNotes(aiResponse.exam_date), weight: 1.0 },\n  studentFirstName: { val: getVal(aiResponse.student_first_name), conf: getConf(aiResponse.student_first_name), notes: getNotes(aiResponse.student_first_name), weight: 1.0 },\n  studentLastName: { val: getVal(aiResponse.student_last_name), conf: getConf(aiResponse.student_last_name), notes: getNotes(aiResponse.student_last_name), weight: 1.0 },\n  studentSignature: { val: getVal(aiResponse.student_signature), conf: getConf(aiResponse.student_signature), notes: getNotes(aiResponse.student_signature), weight: 0.5 },\n  writtenGrade: { val: getVal(aiResponse.written_grade), conf: getConf(aiResponse.written_grade), notes: getNotes(aiResponse.written_grade), weight: 1.0 },\n  trainerSignature: { val: getVal(aiResponse.trainer_signature), conf: getConf(aiResponse.trainer_signature), notes: getNotes(aiResponse.trainer_signature), weight: 0.5 },\n  trainerName: { val: getVal(aiResponse.trainer_name), conf: getConf(aiResponse.trainer_name), notes: getNotes(aiResponse.trainer_name), weight: 1.0 },\n  ptiTrainerId: { val: getVal(aiResponse.pti_trainer_id), conf: getConf(aiResponse.pti_trainer_id), notes: getNotes(aiResponse.pti_trainer_id), weight: 1.5 },\n  examAccessKey: { val: getVal(aiResponse.exam_access_key), conf: getConf(aiResponse.exam_access_key), notes: getNotes(aiResponse.exam_access_key), weight: 1.5 },\n  handsOnComplete: { val: aiResponse.hands_on_tasks?.all_mandatory_passed, conf: aiResponse.hands_on_tasks?.confidence || 0.5, notes: aiResponse.hands_on_tasks?.notes || '', weight: 1.0 }\n};\n\nfor (const [key, field] of Object.entries(fields)) {\n  if (['ptiTrainerId', 'examAccessKey'].includes(key) && field.notes && (field.notes.toLowerCase().includes('ambiguous') || field.notes.toLowerCase().includes('unclear'))) {\n    field.conf = Math.max(0, field.conf - 0.1);\n  }\n  if (['studentFirstName', 'studentLastName', 'trainerName'].includes(key) && field.notes && (field.notes.toLowerCase().includes('unclear') || field.notes.toLowerCase().includes('smudged'))) {\n    field.conf = Math.max(0, field.conf - 0.05);\n  }\n  if (key === 'examDate' && field.notes && field.notes.toLowerCase().includes('ambig')) {\n    field.conf = Math.max(0, field.conf - 0.1);\n  }\n}\n\nlet totalWeight = 0, weightedSum = 0;\nfor (const field of Object.values(fields)) { totalWeight += field.weight; weightedSum += field.conf * field.weight; }\nconst overallConfidence = totalWeight > 0 ? Math.round((weightedSum / totalWeight) * 100) / 100 : 0;\n\nconst missingFields = [];\nif (!fields.examDate.val) missingFields.push('examDate');\nif (!fields.studentFirstName.val) missingFields.push('studentFirstName');\nif (!fields.studentLastName.val) missingFields.push('studentLastName');\nif (fields.studentSignature.val === 'ABSENT' || !fields.studentSignature.val) missingFields.push('studentSignature');\nif (!fields.writtenGrade.val && fields.writtenGrade.val !== 0) missingFields.push('writtenGrade');\nif (fields.trainerSignature.val === 'ABSENT' || !fields.trainerSignature.val) missingFields.push('trainerSignature');\nif (!fields.trainerName.val) missingFields.push('trainerName');\nif (!fields.ptiTrainerId.val) missingFields.push('ptiTrainerId');\nif (!fields.examAccessKey.val) missingFields.push('examAccessKey');\nif (fields.handsOnComplete.val !== true) missingFields.push('handsOnTasks');\n\nlet status;\nif (missingFields.length > 0) { status = 'INCOMPLETE'; }\nelse if (overallConfidence >= 0.90) { status = 'READY_FOR_CRM'; }\nelse if (overallConfidence >= 0.75) { status = 'NEEDS_REVIEW'; }\nelse { status = 'INCOMPLETE'; }\n\nconst grade = parseFloat(fields.writtenGrade.val);\nconst threshold = parseFloat(aiResponse.passing_threshold) || 75;\nlet passFail = 'UNKNOWN';\nif (!isNaN(grade)) passFail = grade >= threshold ? 'PASS' : 'FAIL';\n\nconst allNotes = Object.entries(fields).filter(([k, f]) => f.notes).map(([k, f]) => `${k}: ${f.notes}`).join('; ');\nconst combinedNotes = [prevData.notes, multiPageNote, allNotes].filter(Boolean).join(' | ');\n\nreturn [{\n  json: {\n    submissionId: prevData.submissionId,\n    dateProcessed: prevData.dateProcessed,\n    trainerEmail: prevData.trainerEmail,\n    courseCode: aiResponse.course_code || '',\n    courseName: aiResponse.course_name || '',\n    studentFirstName: fields.studentFirstName.val || '',\n    studentLastName: fields.studentLastName.val || '',\n    examDate: fields.examDate.val || '',\n    writtenGrade: fields.writtenGrade.val || '',\n    passFail,\n    studentSignature: fields.studentSignature.val || '',\n    trainerSignature: fields.trainerSignature.val || '',\n    trainerName: fields.trainerName.val || '',\n    ptiTrainerId: fields.ptiTrainerId.val || '',\n    examAccessKey: fields.examAccessKey.val || '',\n    handsOnComplete: fields.handsOnComplete.val === true,\n    overallConfidence,\n    status,\n    missingFields: JSON.stringify(missingFields),\n    notes: combinedNotes,\n    fileName: prevData.fileName\n  },\n  binary: binaryData\n}];"
      },
      "id": "confidence-scoring",
      "name": "Confidence Scoring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        0
      ]
    },
    {
      "parameters": {
        "inputDataFieldName": "Exam_File",
        "name": "={{ $json.submissionId }}_{{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1XXaBcaB9_1nY096conIMgutm2Q_BF2Eq",
          "mode": "id"
        },
        "options": {},
        "operation": "upload"
      },
      "id": "archive-drive",
      "name": "Archive to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1792,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VpFaCV9rKYuTzbXv",
          "name": "automation@spilledmilkagency.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1lq_NnzUdLTTpndTYdN3PATMOqSry5qKQ41gWwuVAgzE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "submissionId": "={{ $('Confidence Scoring').first().json.submissionId }}",
            "dateProcessed": "={{ $('Confidence Scoring').first().json.dateProcessed }}",
            "trainerEmail": "={{ $('Confidence Scoring').first().json.trainerEmail }}",
            "courseCode": "={{ $('Confidence Scoring').first().json.courseCode }}",
            "courseName": "={{ $('Confidence Scoring').first().json.courseName }}",
            "studentFirstName": "={{ $('Confidence Scoring').first().json.studentFirstName }}",
            "studentLastName": "={{ $('Confidence Scoring').first().json.studentLastName }}",
            "examDate": "={{ $('Confidence Scoring').first().json.examDate }}",
            "writtenGrade": "={{ $('Confidence Scoring').first().json.writtenGrade }}",
            "passFail": "={{ $('Confidence Scoring').first().json.passFail }}",
            "studentSignature": "={{ $('Confidence Scoring').first().json.studentSignature }}",
            "trainerSignature": "={{ $('Confidence Scoring').first().json.trainerSignature }}",
            "trainerName": "={{ $('Confidence Scoring').first().json.trainerName }}",
            "ptiTrainerId": "={{ $('Confidence Scoring').first().json.ptiTrainerId }}",
            "examAccessKey": "={{ $('Confidence Scoring').first().json.examAccessKey }}",
            "handsOnComplete": "={{ $('Confidence Scoring').first().json.handsOnComplete }}",
            "overallConfidence": "={{ $('Confidence Scoring').first().json.overallConfidence }}",
            "status": "={{ $('Confidence Scoring').first().json.status }}",
            "missingFields": "={{ $('Confidence Scoring').first().json.missingFields }}",
            "driveLink": "={{ $json.webViewLink || '' }}",
            "notes": "={{ $('Confidence Scoring').first().json.notes }}",
            "reviewAction": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "submissionId",
              "displayName": "submissionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dateProcessed",
              "displayName": "dateProcessed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "trainerEmail",
              "displayName": "trainerEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "courseCode",
              "displayName": "courseCode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "courseName",
              "displayName": "courseName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "studentFirstName",
              "displayName": "studentFirstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "studentLastName",
              "displayName": "studentLastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "examDate",
              "displayName": "examDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "writtenGrade",
              "displayName": "writtenGrade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "passFail",
              "displayName": "passFail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "studentSignature",
              "displayName": "studentSignature",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "trainerSignature",
              "displayName": "trainerSignature",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "trainerName",
              "displayName": "trainerName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ptiTrainerId",
              "displayName": "ptiTrainerId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "examAccessKey",
              "displayName": "examAccessKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "handsOnComplete",
              "displayName": "handsOnComplete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "overallConfidence",
              "displayName": "overallConfidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "missingFields",
              "displayName": "missingFields",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "driveLink",
              "displayName": "driveLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reviewAction",
              "displayName": "reviewAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "log-sheet",
      "name": "Log to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2016,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jr25MKfV6H2zSwxO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Exam Processing Complete",
        "completionMessage": "=<h3>Extraction Results</h3>\n<p><strong>Submission ID:</strong> {{ $('Confidence Scoring').first().json.submissionId }}</p>\n<p><strong>Student:</strong> {{ $('Confidence Scoring').first().json.studentFirstName }} {{ $('Confidence Scoring').first().json.studentLastName }}</p>\n<p><strong>Course:</strong> {{ $('Confidence Scoring').first().json.courseCode }} - {{ $('Confidence Scoring').first().json.courseName }}</p>\n<p><strong>Exam Date:</strong> {{ $('Confidence Scoring').first().json.examDate }}</p>\n<p><strong>Grade:</strong> {{ $('Confidence Scoring').first().json.writtenGrade }} ({{ $('Confidence Scoring').first().json.passFail }})</p>\n<p><strong>Confidence:</strong> {{ Math.round($('Confidence Scoring').first().json.overallConfidence * 100) }}%</p>\n<p><strong>Status:</strong> {{ $('Confidence Scoring').first().json.status }}</p>\n{{ $('Confidence Scoring').first().json.status === 'INCOMPLETE' ? '<p><strong>Missing Fields:</strong> ' + $('Confidence Scoring').first().json.missingFields + '</p>' : '' }}\n{{ $('Confidence Scoring').first().json.trainerSignature === 'ABSENT' ? '<p style=\"color:red\"><strong>⚠ Trainer Signature: MISSING</strong></p>' : '' }}\n<hr>\n<p>📋 <strong>Google Sheet:</strong> Copy this link and open in a new tab:</p>\n<p><code>https://docs.google.com/spreadsheets/d/1lq_NnzUdLTTpndTYdN3PATMOqSry5qKQ41gWwuVAgzE</code></p>",
        "options": {}
      },
      "id": "results-page",
      "name": "Results Page",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        2240,
        0
      ],
      "webhookId": "e1e251d3-0528-4f0d-bb3c-37342a31d658"
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "text": "You are an expert document data extractor for Canadian propane certification exams from the Canadian Propane Association / Propane Training Institute.\n\nYou are analyzing a SCANNED HANDWRITTEN exam form with a standardized layout.\n\nCRITICAL RULES:\n1. Extract ONLY what is PHYSICALLY WRITTEN in each specific field. Do NOT calculate, infer, or derive values.\n2. If a field area is BLANK (nothing written/no marks), set its value to null. Do NOT fill it with data from other fields.\n3. The STUDENT section and TRAINER section are COMPLETELY SEPARATE. Never copy data between them.\n4. Report confidence as 0.0 to 1.0 for each field.\n5. For alphanumeric codes: be very careful with O vs 0, I vs 1, 5 vs S, B vs 8, 7 vs Z.\n\nFORM LAYOUT (top to bottom):\n1. TOP: Logo + course code box (top-right)\n2. STUDENT SECTION (\"TO BE COMPLETED BY THE STUDENT\"): First name, last name, date, PTI Student ID, student signature, email\n3. WRITTEN EXAM: Grid of numbered questions with letter answers\n4. BOTTOM-LEFT: \"PRACTICAL EVALUATION\" with hands-on tasks YES/NO checklist\n5. BOTTOM-RIGHT: \"TO BE COMPLETED BY THE TRAINER\" section — a box with a 2-COLUMN GRID layout:\n\n   ROW 1 (top row of trainer box):\n   | LEFT CELL: WRITTEN GRADE | RIGHT CELL: SIGNATURE |\n\n   ROW 2 (below row 1):\n   | LEFT CELL: NAME          | RIGHT CELL: PTI TRAINER ID# |\n\n   ROW 3 (full width):\n   | EXAM ACCESS KEY |\n\n   CRITICAL: The NAME field (Row 2, Left) is DIRECTLY BELOW the SIGNATURE field (Row 1, Right).\n   Do NOT read the name written in the NAME field as content of the SIGNATURE field above it.\n   These are SEPARATE cells in SEPARATE rows.\n\n=== WRITTEN GRADE RULES (CRITICAL) ===\n- The WRITTEN GRADE field is in Row 1, Left cell of the trainer box\n- Extract ONLY the number physically written in that cell\n- If blank, set value to null\n- Do NOT calculate the grade from the exam answers yourself\n\n=== TRAINER SECTION RULES (CRITICAL) ===\n- ALL fields in the trainer section belong to THE TRAINER, not the student\n- trainer_name = the name written in the NAME field (Row 2, Left cell)\n- If the NAME field is blank, set trainer_name to null\n- NEVER use the student's name from the top of the form for any trainer field\n\n=== TRAINER SIGNATURE DETECTION (CRITICAL) ===\n- The SIGNATURE field is Row 1, Right cell of the trainer box\n- Look ONLY at that specific cell for a signature\n- The NAME field (Row 2, Left) is a COMPLETELY DIFFERENT cell. A name written there is NOT on the SIGNATURE line.\n- Report \"PRESENT\" ONLY if there is a handwritten cursive scribble or flourish physically inside the SIGNATURE cell (Row 1, Right)\n- Report \"ABSENT\" if the SIGNATURE cell is blank — no marks, no text, no ink at all\n- A handwritten percentage like \"84%\" in the WRITTEN GRADE cell (Row 1, Left) is NOT a signature\n- The trainer's name written in the NAME cell (Row 2, Left) is NOT a signature — it is in a different row\n- EXAM FORMS WITH A MISSING TRAINER SIGNATURE ARE COMMON. Do not assume one must exist.\n- DEFAULT TO \"ABSENT\" if not 100% certain there is a distinct ink mark inside the SIGNATURE cell specifically.\n\n=== HANDS-ON TASKS RULES (CRITICAL) ===\n- The PRACTICAL EVALUATION section has a checklist of tasks with YES/NO columns\n- A task is \"marked_yes\": true ONLY if there is a VISIBLE PHYSICAL MARK (checkmark, tick, X, circle, or any clear ink mark) in the YES column for that specific task row\n- If the YES column for a task is BLANK, EMPTY, or has NO INK MARKS at all, set \"marked_yes\": false\n- Do NOT assume, infer, or hallucinate checkmarks that are not physically present\n- If the ENTIRE hands-on section appears blank with no marks anywhere, set all \"marked_yes\" to false and \"all_mandatory_passed\" to false\n- DEFAULT TO false for any task where you cannot clearly see a physical mark\n\n=== OUTPUT FORMAT ===\n\n{\n  \"is_exam_form\": true/false,\n  \"course_code\": \"e.g. 100-11, 100-04, 400-04\",\n  \"course_name\": \"Full name from top-right box\",\n  \"course_version\": \"e.g. 2.3, 4.0, 3.2\",\n  \"exam_date\": { \"value\": \"date as written or null if blank\", \"confidence\": 0.0-1.0, \"notes\": \"\" },\n  \"student_first_name\": { \"value\": \"from STUDENT section or null\", \"confidence\": 0.0-1.0, \"notes\": \"\" },\n  \"student_last_name\": { \"value\": \"from STUDENT section or null\", \"confidence\": 0.0-1.0, \"notes\": \"\" },\n  \"student_signature\": { \"value\": \"PRESENT or ABSENT\", \"confidence\": 0.0-1.0, \"notes\": \"\" },\n  \"written_grade\": { \"value\": \"number physically written in WRITTEN GRADE field, or null if field is blank\", \"confidence\": 0.0-1.0, \"notes\": \"describe what you see in the WRITTEN GRADE field\" },\n  \"passing_threshold\": \"75 or 77 (from printed text on form)\",\n  \"pass_fail\": \"PASS or FAIL or UNKNOWN (UNKNOWN if written_grade is null)\",\n  \"hands_on_tasks\": {\n    \"mandatory_tasks\": [\n      { \"task_number\": 1, \"description\": \"brief name\", \"marked_yes\": true/false/null }\n    ],\n    \"all_mandatory_passed\": true/false,\n    \"confidence\": 0.0-1.0,\n    \"notes\": \"\"\n  },\n  \"trainer_signature\": { \"value\": \"PRESENT or ABSENT\", \"confidence\": 0.0-1.0, \"notes\": \"Describe ONLY what you see in the SIGNATURE cell (Row 1, Right). State whether it contains any ink marks or is blank. Do NOT describe the NAME cell below it.\" },\n  \"trainer_name\": { \"value\": \"name written in NAME field (Row 2, Left cell), or null if blank\", \"confidence\": 0.0-1.0, \"notes\": \"\" },\n  \"pti_trainer_id\": { \"value\": \"from PTI TRAINER ID# field (Row 2, Right cell), or null if blank\", \"confidence\": 0.0-1.0, \"notes\": \"\" },\n  \"exam_access_key\": { \"value\": \"from EXAM ACCESS KEY field (Row 3), or null if blank/only printed dashes\", \"confidence\": 0.0-1.0, \"notes\": \"\" }\n}\n\nFor multi-page PDFs with multiple students, return a JSON ARRAY of objects (one per student). For single-page, return a single JSON object.\n\nIf this document is NOT an exam form, set is_exam_form to false and all other fields to null.\nRespond with ONLY the JSON object or array, no other text.",
        "inputType": "binary",
        "binaryPropertyName": "Exam_File",
        "simplify": false,
        "options": {
          "maxOutputTokens": 16000
        }
      },
      "id": "gemini-extract",
      "name": "Gemini Document Analysis",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ],
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "QbXmF2itOMcpLSy8",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "connections": {
    "Upload Exam Form": {
      "main": [
        [
          {
            "node": "Parse Upload + Generate ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence Scoring": {
      "main": [
        [
          {
            "node": "Archive to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive to Drive": {
      "main": [
        [
          {
            "node": "Log to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Sheet": {
      "main": [
        [
          {
            "node": "Results Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Upload + Generate ID": {
      "main": [
        [
          {
            "node": "Gemini Document Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Document Analysis": {
      "main": [
        [
          {
            "node": "Confidence Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "XF0fwW43JwvHC4Tt",
    "binaryMode": "separate",
    "timeSavedMode": "fixed"
  },
  "pinData": {},
  "tags": []
}