workflows/CMCA/2brfJUoikPtQ0ZWO.json
{
  "id": "2brfJUoikPtQ0ZWO",
  "name": "P1 + P2: Pull articles from RSS Feeds and filter with keywords",
  "active": true,
  "isArchived": false,
  "updatedAt": "2026-03-30T14:12:42.627Z",
  "createdAt": "2025-12-19T16:11:09.650Z",
  "versionId": "16b0c435-0910-4227-82ba-a22f745aed3c",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.feeds }}",
        "options": {
          "ignoreSSL": true
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1008,
        -208
      ],
      "id": "8a4da26e-bf16-4c5f-9683-ea3785a36279",
      "name": "RSS Read",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        752,
        -224
      ],
      "id": "36a32fea-0d0a-4120-8f11-94ce3b67942a",
      "name": "Loop Over URLs"
    },
    {
      "parameters": {
        "fieldToSplitOut": "feeds",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        528,
        -224
      ],
      "id": "8736f7d7-8b1a-453c-8232-32cac5b140dd",
      "name": "Split Out URLs"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"feeds\": [\n    \"https://www.lapresse.ca/affaires/finances-personnelles/rss\",\n    \"https://www.lapresse.ca/affaires/economie/rss\",\n    \"https://www.lapresse.ca/affaires/marches/rss\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        -224
      ],
      "id": "d3a4cd34-4367-4c92-abbb-504a5bdccd61",
      "name": "URLs",
      "notes": "La Presse sources only (Mar 2026) — per Mel's brief:\n- finances-personnelles/rss: Personal finance\n- economie/rss: Economy\n- marches/rss: Markets (high noise, scoring handles filtering)\n\nCFIB has no RSS feed — handled by separate HTTP scraper branch below"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// CANADA RELEVANCE SCORING — CMCA Blog Automation\n// Handles both English and French content (La Presse feeds)\n// Score threshold: >= 0.3 to pass\n// Updated: Mar 2026\n// ============================================================\n\n// +0.5: Canada is the primary subject (headline or lead paragraph)\nconst primaryCanadaSignals = [\n  'canada', 'canadian', 'canadien', 'canadienne', 'canadiens', 'canadiennes',\n  'cfib', 'fcei',\n  'statistique canada', 'statistics canada',\n  'banque du canada', 'bank of canada',\n  'agence du revenu du canada', 'canada revenue agency', 'cra', 'arc',\n  'gouvernement du canada', 'government of canada',\n  'budget federal', 'federal budget', 'budget federale',\n  'chambre des communes', 'house of commons',\n  'economie canadienne', 'canadian economy',\n  'pme canadienne', 'canadian sme'\n];\n\n// +0.3: Mentions Canadian companies/institutions\nconst canadianInstitutions = [\n  'rbc', 'banque royale', 'td bank', 'banque td', 'bmo', 'banque de montreal',\n  'scotiabank', 'banque scotia', 'cibc', 'banque nationale',\n  'desjardins', 'caisse populaire', 'caisse desjardins',\n  'shopify', 'loblaws', 'metro inc', 'sobeys', 'couche-tard',\n  'bell canada', 'rogers', 'telus',\n  'air canada', 'westjet',\n  'bdc', 'banque de developpement du canada', 'business development bank',\n  'edc', 'exportation et developpement canada',\n  'investissement quebec',\n  'pme', 'sme', 'petite entreprise', 'small business',\n  'entrepreneur canadien', 'canadian entrepreneur',\n  'chambre de commerce', 'chamber of commerce'\n];\n\n// +0.2: Mentions Canadian location\nconst canadianLocations = [\n  'ontario', 'quebec', 'british columbia', 'colombie-britannique',\n  'alberta', 'saskatchewan', 'manitoba', 'nouvelle-ecosse', 'nova scotia',\n  'nouveau-brunswick', 'new brunswick', 'terre-neuve', 'newfoundland',\n  'prince edward island', 'yukon', 'nunavut', 'northwest territories',\n  'toronto', 'montreal', 'vancouver', 'calgary', 'edmonton',\n  'ottawa', 'winnipeg', 'halifax', 'hamilton', 'kitchener', 'waterloo',\n  'regina', 'saskatoon', 'victoria',\n  'gta', 'greater toronto',\n  'tps', 'tvq', 'tvh'\n];\n\n// -0.5: Focus is clearly another country\nconst foreignFocusSignals = [\n  'wall street', 'federal reserve', 'the fed', 'us economy', 'u.s. economy',\n  'american economy', 'white house', 'us congress', 'dow jones', 'nasdaq',\n  's&p 500', 'sp500', 'european central bank', 'ecb', 'bank of england',\n  'china economy', 'chinese economy', 'uk economy', 'british economy',\n  'german economy', 'silicon valley', 'new york stock'\n];\n\n// -0.3: Global topic with no clear Canada angle (only if no positive signals)\nconst globalNoCanadaSignals = [\n  'geopolitical', 'geopolitique', 'war fears', 'middle east conflict',\n  'global recession', 'recession mondiale', 'worldwide inflation',\n  'inflation mondiale', 'imf warns', 'fmi avertit', 'world bank warns',\n  'davos', 'g20 summit', 'g7 summit'\n];\n\n// Hard exclusions — disqualifying regardless of score\nconst hardExclusions = [\n  'investment portfolio', 'portefeuille d investissement',\n  'wealth management', 'gestion de patrimoine',\n  'crypto', 'cryptocurrency', 'cryptomonnaie',\n  'bitcoin', 'ethereum', 'stablecoin', 'nft',\n  'billionaire', 'milliardaire',\n  'fixed income', 'revenu fixe',\n  'family office',\n  'etf', 'mutual fund', 'fonds commun',\n  'hedge fund', 'fonds speculatif',\n  'portfolio allocation', 'repartition du portefeuille',\n  'high-net-worth',\n  'pension fund', 'fonds de pension',\n  'clo', 'leveraged loan', 'pret a effet de levier',\n  'default rate',\n  'dividend stocks', 'dividend-paying',\n  'social media addiction',\n  'workplace harassment', 'harcelement au travail',\n  'freedom of speech', 'liberte d expression',\n  'us supreme court', 'supreme court us',\n  'hungary', 'orban',\n  'war fears', 'crainte de guerre'\n];\n\nconst SCORE_THRESHOLD = 0.3;\n\nfunction scoreArticle(item) {\n  const title = (item.json.title || '').toLowerCase();\n  const content = (item.json.content || '').toLowerCase();\n  const lead = content.substring(0, 500);\n  const fullText = title + ' ' + content;\n\n  let score = 0;\n  const reasons = [];\n\n  // Hard exclusion check first (fast exit)\n  for (const term of hardExclusions) {\n    const escaped = term.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n    const regex = new RegExp('\\\\b' + escaped + '\\\\b', 'i');\n    if (regex.test(fullText)) {\n      return { score: -99, reasons: ['EXCLUDED: \"' + term + '\"'], pass: false };\n    }\n  }\n\n  // +0.5: Primary Canada signals in title/lead\n  let primaryHit = false;\n  for (const signal of primaryCanadaSignals) {\n    if (title.includes(signal) || lead.includes(signal)) {\n      if (!primaryHit) {\n        score += 0.5;\n        reasons.push('+0.5 primary Canada signal: \"' + signal + '\"');\n        primaryHit = true;\n      }\n      break;\n    }\n  }\n\n  // +0.3: Canadian institutions anywhere in content\n  let institutionHit = false;\n  for (const inst of canadianInstitutions) {\n    if (fullText.includes(inst)) {\n      if (!institutionHit) {\n        score += 0.3;\n        reasons.push('+0.3 Canadian institution: \"' + inst + '\"');\n        institutionHit = true;\n      }\n      break;\n    }\n  }\n\n  // +0.2: Canadian location anywhere in content\n  let locationHit = false;\n  for (const loc of canadianLocations) {\n    if (fullText.includes(loc)) {\n      if (!locationHit) {\n        score += 0.2;\n        reasons.push('+0.2 Canadian location: \"' + loc + '\"');\n        locationHit = true;\n      }\n      break;\n    }\n  }\n\n  // -0.5: Clear foreign focus in title/lead\n  let foreignHit = false;\n  for (const signal of foreignFocusSignals) {\n    if (title.includes(signal) || lead.includes(signal)) {\n      if (!foreignHit) {\n        score -= 0.5;\n        reasons.push('-0.5 foreign focus: \"' + signal + '\"');\n        foreignHit = true;\n      }\n      break;\n    }\n  }\n\n  // -0.3: Global topic, no Canada angle (only if no positive signals)\n  if (!primaryHit && !institutionHit && !locationHit) {\n    for (const signal of globalNoCanadaSignals) {\n      if (fullText.includes(signal)) {\n        score -= 0.3;\n        reasons.push('-0.3 global, no Canada angle: \"' + signal + '\"');\n        break;\n      }\n    }\n  }\n\n  const pass = score >= SCORE_THRESHOLD;\n  return { score: Math.round(score * 100) / 100, reasons, pass };\n}\n\n// Date formatter\nconst monthNames = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\nfunction formatPubDate(isoDate) {\n  if (!isoDate) return '';\n  const date = new Date(isoDate);\n  if (isNaN(date.getTime())) return '';\n  const month = monthNames[date.getMonth()];\n  const day = date.getDate();\n  const year = date.getFullYear();\n  const hours = String(date.getHours()).padStart(2, '0');\n  const minutes = String(date.getMinutes()).padStart(2, '0');\n  return month + ' ' + day + ', ' + year + ' @ ' + hours + ':' + minutes;\n}\n\n// --- MAIN PIPELINE ---\n\n// 1. Score all items\nlet scored = $input.all().map(item => {\n  const result = scoreArticle(item);\n  return { item, score: result.score, reasons: result.reasons, pass: result.pass };\n});\n\n// 2. Filter by threshold\nlet filtered = scored.filter(s => s.pass);\n\n// 3. Deduplicate by URL\nconst seenLinks = new Set();\nfiltered = filtered.filter(s => {\n  const link = s.item.json.link;\n  if (!link || seenLinks.has(link)) return false;\n  seenLinks.add(link);\n  return true;\n});\n\n// 4. Sort LATEST first\nfiltered.sort((a, b) => {\n  const ta = new Date(a.item.json.pubDate).getTime() || 0;\n  const tb = new Date(b.item.json.pubDate).getTime() || 0;\n  return tb - ta;\n});\n\n// 5. Take top 10\nlet top10 = filtered.slice(0, 10);\n\n// 6. Re-sort EARLIEST first for sheet append order\ntop10.sort((a, b) => {\n  const ta = new Date(a.item.json.pubDate).getTime() || 0;\n  const tb = new Date(b.item.json.pubDate).getTime() || 0;\n  return ta - tb;\n});\n\n// 7. Return — canada_score and score_reasons are extra fields\n// Google Sheets node only maps TITLE/DATE/URL/CONTENT so extras are harmless\n// Add CANADA SCORE and SCORE REASONS columns to sheet manually to use for QA\nreturn top10.map(s => ({\n  json: {\n    title: s.item.json.title,\n    link: s.item.json.link,\n    content: s.item.json.content,\n    pubDate: formatPubDate(s.item.json.pubDate),\n    canada_score: s.score,\n    score_reasons: s.reasons.join(' | ')\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -416
      ],
      "id": "448a104a-1f3c-4fe2-b4d2-44f2bbcf0cbc",
      "name": "Filter by keywords and change date format"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1O7jBME_Vmh0ORs5vchKfWvAo0Ayn0wjWeBJbDJdpfas",
          "mode": "list",
          "cachedResultName": "CMCA Blog Topics - AUTOMATION TEST",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O7jBME_Vmh0ORs5vchKfWvAo0Ayn0wjWeBJbDJdpfas/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O7jBME_Vmh0ORs5vchKfWvAo0Ayn0wjWeBJbDJdpfas/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TITLE": "={{ $json.title }}",
            "DATE PUBLISHED": "={{ $json.pubDate }}",
            "URL": "={{ $json.link }}",
            "CONTENT": "={{ $json.content }}"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TITLE",
              "displayName": "TITLE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DATE PUBLISHED",
              "displayName": "DATE PUBLISHED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ADMIN ACTION",
              "displayName": "ADMIN ACTION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS LOG",
              "displayName": "STATUS LOG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LINK TO GOOGLE DOC",
              "displayName": "LINK TO GOOGLE DOC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LINK TO WORDPRESS BACKEND",
              "displayName": "LINK TO WORDPRESS BACKEND",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CONTENT",
              "displayName": "CONTENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        -416
      ],
      "id": "97eb30e5-adc4-4976-9df5-1b39c09d73dc",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8UYwvprhMGHKF6ra",
          "name": "automation@spilledmilkagency.com"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        16,
        -224
      ],
      "id": "f856405a-d7c6-417b-a7ef-10381cb24c4f",
      "name": "Schedule Trigger"
    },
    {
      "id": "cfib-http-request",
      "name": "Fetch CFIB Media Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        -480
      ],
      "parameters": {
        "method": "GET",
        "url": "https://www.cfib-fcei.ca/en/media",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "cfib-parser",
      "name": "Extract CFIB Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -480
      ],
      "parameters": {
        "jsCode": "// Extract article links from CFIB /en/media page\n// CFIB uses HubSpot CMS - articles listed at /en/media/[slug]\ntry {\n  const response = $input.first().json;\n  const html = response.data || response.body || '';\n\n  if (!html || html.length < 500) {\n    return [];\n  }\n\n  const seen = new Set();\n  const results = [];\n\n  // Match article links + inline title text\n  // Pattern: <a href=\"/en/media/slug\">Article Title</a>\n  const articleRegex = /<a[^>]+href=\"(\\/en\\/media\\/[a-z][a-z0-9\\-]{5,})\"[^>]*>([^<]{20,300})<\\/a>/gi;\n\n  let match;\n  while ((match = articleRegex.exec(html)) !== null) {\n    const path = match[1];\n    const rawTitle = match[2].trim().replace(/\\s+/g, ' ');\n\n    if (seen.has(path)) continue;\n\n    // Skip navigation/utility text\n    const skipPhrases = ['read more', 'learn more', 'click here', 'view all', 'see all', 'back to', 'filter', 'menu', 'search'];\n    if (skipPhrases.some(p => rawTitle.toLowerCase().includes(p))) continue;\n\n    seen.add(path);\n\n    results.push({\n      json: {\n        title: rawTitle,\n        link: 'https://www.cfib-fcei.ca' + path,\n        // Use title as content for scoring — P3+P4+P5 fetches full article text\n        content: rawTitle,\n        pubDate: new Date().toISOString()\n      }\n    });\n\n    if (results.length >= 10) break;\n  }\n\n  // Fallback: slug-only extraction if title regex missed everything\n  if (results.length === 0) {\n    const slugRegex = /href=\"(\\/en\\/media\\/[a-z][a-z0-9\\-]{15,})\"/gi;\n    while ((match = slugRegex.exec(html)) !== null) {\n      const path = match[1];\n      if (seen.has(path)) continue;\n      seen.add(path);\n\n      const title = path.split('/').pop().replace(/-/g, ' ').replace(/\\b\\w/g, l => l.toUpperCase());\n\n      results.push({\n        json: {\n          title: title,\n          link: 'https://www.cfib-fcei.ca' + path,\n          content: title,\n          pubDate: new Date().toISOString()\n        }\n      });\n\n      if (results.length >= 10) break;\n    }\n  }\n\n  return results;\n} catch (e) {\n  // Return empty — workflow continues with La Presse only\n  return [];\n}"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "merge-rss-cfib",
      "name": "Merge RSS + CFIB",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        900,
        -480
      ],
      "parameters": {
        "mode": "append"
      }
    }
  ],
  "connections": {
    "RSS Read": {
      "main": [
        [
          {
            "node": "Loop Over URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over URLs": {
      "main": [
        [
          {
            "node": "Filter by keywords and change date format",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge RSS + CFIB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out URLs": {
      "main": [
        [
          {
            "node": "Loop Over URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URLs": {
      "main": [
        [
          {
            "node": "Split Out URLs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by keywords and change date format": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "URLs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch CFIB Media Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CFIB Media Page": {
      "main": [
        [
          {
            "node": "Extract CFIB Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge RSS + CFIB": {
      "main": [
        [
          {
            "node": "Filter by keywords and change date format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract CFIB Articles": {
      "main": [
        [
          {
            "node": "Merge RSS + CFIB",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "bg8o5L8lUqPtR450cJsEu"
  },
  "pinData": {},
  "tags": []
}