workflows/CMCA/4jbCc1zM1gzua5xM.json
{
  "id": "4jbCc1zM1gzua5xM",
  "name": "[CMCA] P3 - Receive DocuSign",
  "active": true,
  "isArchived": false,
  "updatedAt": "2026-03-30T18:26:07.422Z",
  "createdAt": "2025-11-11T16:10:29.263Z",
  "versionId": "e05866a6-cc99-4ef6-86e0-19131e98e283",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "subject:\"Complete with Docusign\""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -752,
        -32
      ],
      "id": "2dbe8b8f-8dd1-4e72-b794-e61b5130663a",
      "name": "Trigger: Receive Emails",
      "credentials": {
        "gmailOAuth2": {
          "id": "LfULPgXZiOMRS3r5",
          "name": "[CMCA - admin@cmcafinance.com] Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a36a010e-ab4d-4d90-a11a-a859c3e03aac",
              "leftValue": "={{ $json.subject_line }}",
              "rightValue": "Complete with Docusign",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "9a3d6316-b06f-45f1-9837-21512e84c547",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -80,
        -96
      ],
      "id": "3a79751e-3ea5-4a0c-97bc-77cd7805151b",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Documents Needed to Complete Our Review",
        "message": "=<!doctype html>\n<html>\n    <head>\n        <meta charset=\"utf-8\" />\n        <meta name=\"viewport\" content=\"width=device-width\" />\n        <title>Documents Needed to Complete OUR Review</title>\n        <style>\n            @media only screen and (max-width: 620px) {\n                .container {\n                    width: 100% !important;\n                }\n                .stack {\n                    display: block !important;\n                    width: 100% !important;\n                }\n                .pad {\n                    padding-left: 16px !important;\n                    padding-right: 16px !important;\n                }\n            }\n            img {\n                border: 0;\n                -ms-interpolation-mode: bicubic;\n                display: block;\n            }\n            a {\n                color: inherit;\n                text-decoration: none;\n            }\n        </style>\n    </head>\n    <body\n        style=\"\n            margin: 0;\n            padding: 0;\n            background-color: #f4f4f4;\n            font-family: Arial, Helvetica, sans-serif;\n            -webkit-text-size-adjust: 100%;\n            -ms-text-size-adjust: 100%;\n        \"\n    >\n        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" role=\"presentation\">\n            <tr>\n                <td align=\"center\" style=\"padding: 20px 10px\">\n                    <table\n                        class=\"container\"\n                        cellpadding=\"0\"\n                        cellspacing=\"0\"\n                        border=\"0\"\n                        width=\"600\"\n                        role=\"presentation\"\n                        style=\"\n                            width: 600px;\n                            max-width: 600px;\n                            background-color: #ffffff;\n                            border-radius: 6px;\n                            overflow: hidden;\n                        \"\n                    >\n                        <tr>\n                    \t\t<td style=\"padding:30px;background-color: #00314D;\">\n                    \t\t\t<p style=\"margin: 0; width: 100%;text-align: center; color: #fff; font-size: 13px; line-height: 24px;\"><b><span style=\"color:#E03431;\">QUICK & EASY APPROVALS.</span> STRAIGHTFORWARD PROCESS.</b></p>\n                    \t\t</td>\n                    \t</tr>\n                        <tr>\n                            <td style=\"padding: 30px; text-align: center; background-color: #ffffff\">\n                                <img\n                                    src=\"http://canadianmerchantcashadvance.ca/wp-content/uploads/2025/11/logo-cmca.png\"\n                                    alt=\"CMCA Finance\"\n                                    width=\"160\"\n                                    style=\"display: block; border: 0; outline: none; text-decoration: none; margin: auto;\"\n                                />\n                            </td>\n                        </tr>\n                        <tr>\n                            <td class=\"pad\" style=\"padding: 10px 45px; color: #515967;\">\n                                <p style=\"margin: 0 0 16px 0; font-size: 18px; font-weight: 700; line-height: 24px; color: #15243C;\">Hello,</p>\n                                <p style=\"margin: 0 0 16px 0; font-size: 18px; font-weight: 700; line-height: 24px; color: #15243C;\">\n                                    Your CMCA application has been securely received through DocuSign and is now moving to the next stage of review.\n                                </p>\n                                <p style=\"margin: 0 0 30px 0; font-size: 15px; font-weight: 400; line-height: 24px; color: #515967;\">\n                                    To continue with your financing request, please take a few minutes to finalize your application online:\n                                </p>\n                                <p style=\"margin: 0 0 10px 0; text-align: center; font-size: 24px; font-weight: 700; line-height: 24px; color: #00314D;\">\n                                    COMPLETE YOUR APPLICATION\n                                </p>\n                                <p style=\"margin: 0 0 30px 0; text-align: center; font-size: 16px; font-weight: 700; line-height: 24px; color: #C5221F;\">\n                                    Final Step\n                                </p>\n                                <p style=\"margin: 0 0 30px 0; font-size: 15px; font-weight: 400; line-height: 22px; color: #515967;\">\n                                    <b>To complete our underwriting review, we require your business bank statements for the previous 2–3 months.</b> Once we receive your statements, our underwriting team will finalize the assessment and prepare the financing options available to you.\n                                </p>\n\n\n                                <p style=\"display: block; max-width: 460px; width: 100%; margin: 0 auto 30px; font-size: 12px; font-weight: 400px; line-height: 19px; text-align: center; color: #515967;\">\n                                    <i>If you'd like to discuss next steps or have questions, you may also schedule a call with us. Please let us know the best phone number to reach you and a convenient time for a brief call. We're here to make this process clear, secure, and efficient: <a href=\"mailto:underwriting@cmcafinance.com\">underwriting@cmcafinance.com</a>.</i>\n                                </p>\n                                <div style=\"display: block; max-width: 460px; width: 100%; margin: 0 auto; height: 1px; background-color: #E1E6EF;\"></div>\n                            </td>\n                        </tr>\n                        <tr>\n                            <td>\n                                <p style=\"display: block; max-width: 510px; margin: 30px auto; font-size: 17px; font-weight: 700; line-height: 22px; text-align: center; color: #C5221F;\">CMCA is committed to responsible, secure, and transparent lending.</p>\n                                <table\n                                    width=\"460\"\n                                    cellpadding=\"0\"\n                                    cellspacing=\"0\"\n                                    border=\"0\"\n                                    role=\"presentation\"\n                                    style=\"margin: 0 auto;\"\n                                >\n                                    <tr>\n                                        <td>\n                                            <p style=\"font-size: 13px; font-weight: 400; line-height: 22px; text-align: center; color: #15243C;\">We are accredited by the Better Business Bureau</p>\n                                            <p style=\"margin:0; display: block; text-align: center;\">\n                                                <img src=\"http://canadianmerchantcashadvance.ca/wp-content/uploads/2025/11/logo-bbb.png\" width=\"150\" style=\"display: inline-block;\" />\n                                            </p>\n                                        </td>\n                                        <td>\n                                            <p style=\"font-size: 13px; font-weight: 400; line-height: 22px; text-align: center; color: #15243C;\">Proud member of the Canadian Lender Association</p>\n                                            <p style=\"margin:0; display: block; text-align: center;\">\n                                                <img src=\"http://canadianmerchantcashadvance.ca/wp-content/uploads/2025/11/logo-cla.png\" width=\"150\" style=\"display: inline-block;\" />\n                                            </p>\n                                        </td>\n                                    </tr>\n                                    <tr>\n                                        <td colspan=\"2\">\n                                            <p style=\"margin: 30px auto; font-size: 12px; font-weight: 400; line-height: 19px; text-align: center; font-style: italic; color: #15243C;\">Note: If you prefer to complete a PDF version of the application instead, simply reply to this email to request the form. Docusign is the preferred method.</p>\n                                            <div style=\"display: block; max-width: 460px; width: 100%; margin: 0 auto; height: 1px; background-color: #E1E6EF;\"></div>\n                                        </td>\n                                    </tr>\n                                </table>\n                            </td>\n                        </tr>\n                        <tr>\n                            <td>\n                                <table\n                                    width=\"460\"\n                                    cellpadding=\"0\"\n                                    cellspacing=\"0\"\n                                    border=\"0\"\n                                    role=\"presentation\"\n                                    style=\"margin: 0 auto;\"\n                                >\n                                    <p style=\"text-align: center; font-size: 10px; font-weight: 400; line-height: 17px; color: #515967; margin-top:30px;\"><b>CMCA – Canadian Merchant Cash Advance</b><br/>Underwriting & Client Services</p>\n                                    <p style=\"text-align: center; font-size: 10px; font-weight: 400; line-height: 17px; color: #515967;margin-bottom:30px;\"><b>CMCA Finance® Corporate Office</b><br/>309 Lakeshore Blvd. Pointe-Claire, QC H9S 4L6<br/>Phone: <a href=\"tel:18556512844\">1-855-651-2844</a><br/>Fax: <a href=\"tel:18555416893\">1-855-541-6893</a><br/><a href=\"www.canadianmerchantcashadvance.ca\" target=\"_blank\">www.canadianmerchantcashadvance.ca</a>&nbsp;&nbsp;&nbsp;<a href=\"mailto:underwriting@cmcafinance.com\" target=\"_blank\">underwriting@cmcafinance.com</a></p>\n                                </table>\n                            </td>\n                        </tr>\n                    </table>\n                </td>\n            </tr>\n        </table>\n    </body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        144,
        -96
      ],
      "id": "f55e190e-6e81-4b8c-933e-1313f456475a",
      "name": "Send a message",
      "webhookId": "996e7d31-21d1-4fe8-955a-b518627abeab",
      "credentials": {
        "gmailOAuth2": {
          "id": "LfULPgXZiOMRS3r5",
          "name": "[CMCA - admin@cmcafinance.com] Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Keep only the last item\n// Guard: if no rows found, exit cleanly\nif (items.length === 0) return [];\nreturn [ items[items.length - 1] ];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -96
      ],
      "id": "4459e0a7-c6c9-4e11-a243-583cc3cdf8ba",
      "name": "Get last item"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw",
          "mode": "list",
          "cachedResultName": "Automation: CMCA Application Lead Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 109979117,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw/edit#gid=109979117"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get last item').item.json.row_number }}",
            "Log Date and Time": "={{ $json.formatted }}",
            "Automation Status": "=DocuSign received. Document request email sent."
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "First",
              "displayName": "First",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "What are you looking to finance?",
              "displayName": "What are you looking to finance?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "What industry are you in?",
              "displayName": "What industry are you in?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "How much financing do you need?",
              "displayName": "How much financing do you need?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Storefront/Online Business",
              "displayName": "Storefront/Online Business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "How long has your business been operating?",
              "displayName": "How long has your business been operating?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "What are your average monthly sales?",
              "displayName": "What are your average monthly sales?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Entry Date",
              "displayName": "Entry Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Duplicate?",
              "displayName": "Duplicate?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Admin Action",
              "displayName": "Admin Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Automation Status",
              "displayName": "Automation Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Log Date and Time",
              "displayName": "Log Date and Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        -32
      ],
      "id": "718594b9-6a14-47e5-83b5-3ebaa470607c",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gnjqsanqJmpgUgbn",
          "name": "[CMCA - admin@cmcafinance.com] Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        816,
        -96
      ],
      "id": "cf413051-5c67-4e67-aeb9-a8b1fee39bac",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "jsCode": "// Input date string, e.g. \"2025-11-06T10:09:16.026-05:00\"\nconst currentDate = String($input.first().json.currentDate);\n\n// Parse ISO date and convert to Canada Eastern Time\nconst dateObj = new Date(currentDate);\n\n// Format output as \"YYYY-MM-DD | HH:mm\" in America/Toronto timezone\nconst options = {\n  timeZone: 'America/Toronto',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false\n};\n\nconst localeStr = dateObj.toLocaleString('en-CA', options).replace(',', '');\nconst [dateCA, timeCA] = localeStr.split(' ');\nconst formatted = `${dateCA} | ${timeCA}`;\n\nreturn [{ json: { formatted } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -96
      ],
      "id": "e7ce0d72-acb0-4e84-a496-91028e63a859",
      "name": "Get Log Date and Time"
    },
    {
      "parameters": {
        "jsCode": "const subject_line = $input.first().json.subject;\nconst email = $input.first().json.text || \"\";\n\nconst match = email.match(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[A-Z]{2,}/i);\n\nreturn [\n  {\n    json: {\n      email: match ? match[0] : null,\n      subject_line\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        -96
      ],
      "id": "8cff96d7-421f-47fa-994f-486a8da37fcf",
      "name": "Extract email addresses"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -528,
        -32
      ],
      "id": "578b24cb-c902-4754-9cdc-6158d2e04f81",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw",
          "mode": "list",
          "cachedResultName": "Automation: CMCA Application Lead Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 109979117,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw/edit#gid=109979117"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email Address",
              "lookupValue": "={{ $('If').item.json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        368,
        -96
      ],
      "id": "a2bedc33-dbf4-4ba1-b1a0-931483372a0c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gnjqsanqJmpgUgbn",
          "name": "[CMCA - admin@cmcafinance.com] Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Trigger: Receive Emails": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get last item": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Get Log Date and Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Log Date and Time": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract email addresses": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Extract email addresses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Get last item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "bg8o5L8lUqPtR450cJsEu",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "pinData": {},
  "tags": []
}