workflows/CMCA/8WB4tvCVqKRmDFzx.json
{
  "id": "8WB4tvCVqKRmDFzx",
  "name": "[BACKUP] P3 + P4 + P5: Create draft posts and Google Docs from approved articles in Google Sheets",
  "active": false,
  "isArchived": false,
  "updatedAt": "2026-02-23T20:26:09.000Z",
  "createdAt": "2026-02-23T20:26:09.582Z",
  "versionId": "304f2659-ba2b-4876-a944-026e25e26308",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1O7jBME_Vmh0ORs5vchKfWvAo0Ayn0wjWeBJbDJdpfas",
          "mode": "list",
          "cachedResultName": "CMCA Blog Topics - AUTOMATION TEST",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O7jBME_Vmh0ORs5vchKfWvAo0Ayn0wjWeBJbDJdpfas/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O7jBME_Vmh0ORs5vchKfWvAo0Ayn0wjWeBJbDJdpfas/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "ADMIN ACTION"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1216,
        -32
      ],
      "id": "6e7afb43-67ae-460f-a1bd-a65e9c3b2e61",
      "name": "Google Sheets Trigger",
      "executeOnce": false,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "0b6nrZSaUQxfUH04",
          "name": "automation@spilledmilkagency.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -768,
        -32
      ],
      "id": "c04418b3-bbc4-494c-934e-d1d46a6ce169",
      "name": "Loop Over Items: APPROVED"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Write a blog article based on this source material:\n\nTitle: {{ $('Google Sheets Trigger').item.json.TITLE }}\nSource URL: {{ $('Google Sheets Trigger').item.json.URL }}\nSource Content: {{ $('Google Sheets Trigger').item.json.CONTENT }}\n\nINSTRUCTIONS:\n1. Read the source content carefully. Extract the key facts, data points, and business implications — do not just rephrase the headline.\n2. If source content is empty or unavailable, use the title and URL to write a well-researched article on the topic. Focus on what a Canadian SME owner needs to know.\n3. Write a minimum of 550 words (target 600-700). Do not output fewer than 550 words under any circumstances.\n4. Generate an SEO-friendly title and a meta_description of 150-160 characters. Do NOT include the meta description inside the article body.\n\nARTICLE STRUCTURE:\n- Opening paragraph: State the issue clearly and why it matters to Canadian business owners. 2-3 sentences, 50-75 words. Do NOT label this \"Introduction.\"\n- Business impact section: The bulk of the article. How does this specifically affect Canadian SMEs — their cash flow, operating costs, staffing, customer demand, compliance obligations, or growth plans? Use specific detail from the source content. 200-250 words minimum.\n- Actionable advice: 2-3 numbered steps business owners can take right now. Each step should be specific and practical, not vague principles. 150-175 words minimum.\n- Closing CTA: ONE separate paragraph mentioning CMCA Finance with a natural link to https://canadianmerchantcashadvance.ca/. Do NOT label this \"Conclusion.\"\n\nINTERNAL LINKS — include 1-2 in the wp_content where they fit naturally:\n- Pros and cons of MCA: https://canadianmerchantcashadvance.ca/blog/the-pros-and-cons-of-a-merchant-cash-advance/\n- Credit scores and MCAs: https://canadianmerchantcashadvance.ca/blog/the-impact-of-credit-scores-on-merchant-cash-advances/\n- MCA for service businesses: https://canadianmerchantcashadvance.ca/blog/why-merchant-cash-advance-providers-are-beneficial-for-service-based-businesses/\n- MCA with low credit: https://canadianmerchantcashadvance.ca/blog/merchant-cash-advances-a-viable-solution-for-businesses-with-low-credit-scores-or-bad-credit/\n- Financial risk mitigation: https://canadianmerchantcashadvance.ca/blog/mitigating-financial-risks-with-merchant-cash-advance-a-small-business-survival-guide/\n- MCA factor rates: https://canadianmerchantcashadvance.ca/blog/how-to-understand-merchant-cash-advance-factor-rates/\n\nFINAL CHECK before outputting:\n- Is the article 550+ words? If not, expand the business impact section with more specific detail.\n- Does the article sound like a real person wrote it? Read it back — if any sentence sounds like generic AI filler, rewrite it with specific detail.\n- Is the word \"loan\" or \"loans\" used anywhere? If yes, replace with \"merchant cash advance,\" \"funding,\" or \"working capital.\"\n- Is meta_description inside the article body? If yes, remove it. It belongs only in the JSON field.\n- Does the article use Canadian spelling? (colour, centre, favour, honour)"
            },
            {
              "content": "You are a blog writer for CMCA Finance (Canadian Merchant Cash Advance), writing for Canadian small business owners. Return ONLY valid JSON with no text before or after:\n\n{\n  \"title\": \"\",\n  \"slug\": \"\",\n  \"content\": \"\",\n  \"wp_content\": \"\",\n  \"category\": \"\",\n  \"meta_description\": \"\"\n}\n\nOUTPUT FORMAT RULES:\n- \"slug\": Convert title to lowercase, replace spaces with dashes, remove special characters.\n- \"content\": Plain text version of the article for Google Docs. Must be 550-700 words. Force minimum 550 words.\n- \"wp_content\": HTML version for WordPress. Same article as \"content\" but wrapped in HTML tags (<p>, <h2>, <h3>, <strong>, <a>, <ol>, <li>). Must be 550-700 words. Force minimum 550 words. Do NOT include the headline title in wp_content (it is added separately by WordPress). Do NOT include meta_description in the article body.\n- \"category\": Select the best fit from: Financial Advice (ID: 5), Restaurants (ID: 13), Small Business (ID: 6). Output the ID number only.\n- \"meta_description\": 150-160 characters. SEO-optimized summary. This goes in the JSON only, NOT inside the article body.\n\nCONTENT DEPTH RULES:\nYour job is NOT to summarize the source article. Your job is to EXTRACT the business lesson and convert it into actionable guidance for Canadian SME owners. For every article:\n1. Identify the core issue affecting Canadian small businesses.\n2. Explain WHY it matters to a business owner's cash flow, operations, or growth — with specific detail, not vague generalities.\n3. Provide concrete, actionable advice they can implement this week — not abstract principles.\n4. Connect naturally to CMCA's services ONLY in the closing paragraph.\n\nWRITING STYLE — MATCH THIS TONE:\nWrite like a knowledgeable Canadian business advisor talking directly to a small business owner. Study these patterns from approved CMCA articles:\n\nGOOD (match this): \"Labour shortages are already hitting the sector hard, making it difficult to maintain consistent service. This reality forces businesses to re-evaluate recruiting, retention, and training strategies, often at a higher operational cost.\"\nWHY IT WORKS: Specific problem, concrete consequence, practical implication. No buzzwords.\n\nGOOD (match this): \"Inflation has increased expenses for fuel, food supplies, and other essentials, putting pressure on profit margins. Labour shortages can further limit your ability to meet demand during busy periods.\"\nWHY IT WORKS: Names specific cost categories. Connects cause to business effect.\n\nGOOD (match this): \"Reassess your budget regularly to reflect changing costs and revenues, adjusting plans to protect your cash flow.\"\nWHY IT WORKS: Actionable, specific, one sentence. Not padded with filler.\n\nBAD (never do this): \"In the dynamic landscape of entrepreneurship, businesses are navigating challenges and seizing opportunities.\"\nWHY IT'S BAD: Empty buzzwords, says nothing specific, sounds AI-generated.\n\nBAD (never do this): \"This is where strategic planning and innovative solutions come into play, enabling businesses to thrive in an ever-changing marketplace.\"\nWHY IT'S BAD: Generic filler that could apply to any topic. Obvious AI pattern.\n\nANTI-AI WRITING RULES (CRITICAL — FOLLOW STRICTLY):\n- NEVER start the article with \"In today's...\", \"In the dynamic...\", \"In the ever-evolving...\", \"In an increasingly...\", or \"In the world of...\"\n- NEVER use \"navigate\", \"landscape\", \"realm\", \"paradigm\", \"leverage\", \"spearhead\", \"delve\", \"robust\", \"synergy\", \"holistic\", \"streamline\" or \"game-changer\"\n- NEVER use \"This is where [X] comes in\" or \"This is where [X] steps in\"\n- NEVER label sections \"Introduction\" or \"Conclusion\"\n- NEVER end with \"In conclusion...\" or \"To sum up...\"\n- NEVER use three adjectives in a row (\"innovative, dynamic, and comprehensive\")\n- NEVER pad sentences with filler like \"It's important to note that...\" or \"It goes without saying...\"\n- Vary sentence length. Mix short punchy sentences with longer explanatory ones.\n- Use concrete nouns and specific numbers where possible, not abstract concepts.\n- Write as if you are explaining this to a real person sitting across from you.\n\nBRAND VOICE REQUIREMENTS:\n- Voice: Supportive, trustworthy, straightforward, Canadian, empowering\n- Tone: Informative, clear, helpful, professional, factual, reassuring\n- NEVER use the word \"loan\" or \"loans\" — CMCA provides merchant cash advances, not loans\n- Brand name: Use \"CMCA\" or \"CMCA Finance\" only. Never invent variations.\n- Service terms: Use \"merchant cash advance,\" \"cash advance,\" \"funding,\" or \"working capital\"\n- Use Canadian spelling: colour, centre, favour, honour, analyse, programme, catalogue\n- Reference Canadian context (regulations, economy, seasons), not American\n\nWRITING RULES:\n- Write in second person (\"you\", \"your business\")\n- Keep sentences concise and paragraphs short (3-4 sentences max per paragraph)\n- Use simple, clear language accessible to a general audience\n- No aggressive sales language or unrealistic promises\n- No overly technical financial terminology\n- Do not be condescending or preachy\n\nTRUST SIGNALS (weave ONE naturally into the CTA paragraph — do not list all of them):\n- BBB Accreditation\n- Canadian Lenders Association (CLA) member\n- 95% approval rate\n- Headquartered in Montreal\n- 5.0 Google Reviews rating\n\nKEY MESSAGES (use where naturally relevant — do not force all of them):\n- Speed: \"funding in as little as 24 hours\"\n- Simplicity: \"quick and easy process\"\n- Flexibility: \"tailored to your business needs\"\n- Canadian: \"proudly Canadian\", headquartered in Montreal\n\nCTA RULES:\n- Include the CTA ONLY ONCE, in a separate closing paragraph AFTER the advice section\n- Do NOT embed CTA language within numbered advice points\n- Keep advice points focused on actionable tips, not promotional content\n- Use one of these CTAs, adapted to the article topic:\n  * \"If your business is facing cash flow challenges, CMCA Finance can help with flexible, short-term funding solutions.\"\n  * \"Need working capital to navigate these changes? CMCA Finance offers fast, flexible funding for Canadian businesses.\"\n  * \"CMCA Finance helps Canadian small businesses access the funds they need, when they need them.\"\n\nIMPORTANT: Count your words before outputting. If \"content\" or \"wp_content\" is under 550 words, expand the middle section with more specific detail about business impact. Do NOT pad with filler phrases — add substance.",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -96,
        -96
      ],
      "id": "f252fe8b-a724-4ceb-940d-84d9b58cc803",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "cGgSXZ6cb8m5Q3gj",
          "name": "[SpilledMilk - billing@spilledmilk.com] OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1O7jBME_Vmh0ORs5vchKfWvAo0Ayn0wjWeBJbDJdpfas",
          "mode": "list",
          "cachedResultName": "CMCA Blog Topics - AUTOMATION TEST",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O7jBME_Vmh0ORs5vchKfWvAo0Ayn0wjWeBJbDJdpfas/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O7jBME_Vmh0ORs5vchKfWvAo0Ayn0wjWeBJbDJdpfas/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $('Google Sheets Trigger').item.json.URL }}",
            "STATUS LOG": "={{ $('Convert DateTime format').item.json.date }} {{ $('Convert DateTime format').item.json.time }} | Google Doc created and WordPress draft post created",
            "LINK TO WORDPRESS BACKEND": "=https://canadianmerchantcashadvance.ca/wp-admin/post.php?post={{ $json.id }}&action=edit&lang=en",
            "LINK TO GOOGLE DOC": "=https://docs.google.com/document/d/{{ $('Insert text to document').item.json.documentId }}"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TITLE",
              "displayName": "TITLE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DATE PUBLISHED",
              "displayName": "DATE PUBLISHED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ADMIN ACTION",
              "displayName": "ADMIN ACTION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS LOG",
              "displayName": "STATUS LOG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LINK TO GOOGLE DOC",
              "displayName": "LINK TO GOOGLE DOC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LINK TO WORDPRESS BACKEND",
              "displayName": "LINK TO WORDPRESS BACKEND",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        928,
        -32
      ],
      "id": "2da5347e-f4fe-414f-9431-1a8b1612efef",
      "name": "Updated Status Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NuvxHNUd8fNqRvXJ",
          "name": "automation@spilledmilkagency.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "simple": false,
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model').item.json.message.content.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        480,
        -96
      ],
      "id": "7e38e76c-854c-42de-8de7-8c49fcd3be2d",
      "name": "Insert text to document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Rowcq7rTCiyfehVc",
          "name": "automation@spilledmilkagency.com"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -544,
        -96
      ],
      "id": "2d9e4b3d-89b1-4306-b61f-03bc9c204d81",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.currentDate;\n\n// Parse original datetime\nconst date = new Date(input);\n\n// Formatter for Canada Eastern Time\nconst formatter = new Intl.DateTimeFormat('en-CA', {\n  timeZone: 'America/Toronto',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false,\n});\n\nconst parts = formatter.formatToParts(date);\nconst get = (type) => parts.find(p => p.type === type).value;\n\nreturn {\n  date: `${get('year')}-${get('month')}-${get('day')}`,\n  time: `${get('hour')}:${get('minute')}`\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -96
      ],
      "id": "2fa04157-93aa-4916-8064-b67f396ab7f8",
      "name": "Convert DateTime format"
    },
    {
      "parameters": {
        "title": "=[DRAFT] {{ $('Message a model').item.json.message.content.title }}",
        "additionalFields": {
          "content": "={{ $('Message a model').item.json.message.content.wp_content }}",
          "slug": "={{ $('Message a model').item.json.message.content.slug }}",
          "categories": "={{ $('Message a model').item.json.message.content.category }}"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        704,
        -96
      ],
      "id": "0b4e0a84-b25d-4a0c-8589-5c0e8959361a",
      "name": "Create a post",
      "credentials": {
        "wordpressApi": {
          "id": "apu6UY3Ke6WNXjpp",
          "name": "[CMCA - dstheme] Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst filtered = items.filter(item => {\n  const row = item.json;\n\n  return (\n    row[\"ADMIN ACTION\"] === \"Approve\" &&\n    (!row[\"STATUS LOG\"] || row[\"STATUS LOG\"].trim() === \"\") &&\n    (!row[\"LINK TO GOOGLE DOC\"] || row[\"LINK TO GOOGLE DOC\"].trim() === \"\") &&\n    (!row[\"LINK TO WORDPRESS BACKEND\"] || row[\"LINK TO WORDPRESS BACKEND\"].trim() === \"\")\n  );\n});\n\nreturn filtered;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        -32
      ],
      "id": "200245e7-500b-4ba6-a3b8-cc3c52cc0abe",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "folderId": "1w46IETmauIkWMqTrNaE3tJFx4uk0cszQ",
        "title": "=[{{ $('Convert DateTime format').item.json.date }}] {{ $json.message.content.title }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        256,
        -96
      ],
      "id": "6e2c4fa4-2b20-4eea-a598-826d4dc80a95",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Rowcq7rTCiyfehVc",
          "name": "automation@spilledmilkagency.com"
        }
      }
    }
  ],
  "connections": {
    "Loop Over Items: APPROVED": {
      "main": [
        [],
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updated Status Log": {
      "main": [
        [
          {
            "node": "Loop Over Items: APPROVED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert text to document": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Convert DateTime format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert DateTime format": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Updated Status Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items: APPROVED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Insert text to document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "bg8o5L8lUqPtR450cJsEu"
  },
  "pinData": {},
  "tags": []
}