workflows/CMCA/AEW7RHFhE8k5tNtf.json
{
  "id": "AEW7RHFhE8k5tNtf",
  "name": "P2 + P3 + P4: Pull data, merge data, calculate KPIs",
  "active": false,
  "isArchived": false,
  "updatedAt": "2026-03-02T18:18:46.348Z",
  "createdAt": "2026-02-11T06:22:04.502Z",
  "versionId": "bfa363e8-3092-42c3-80ea-d5652448a249",
  "nodes": [
    {
      "parameters": {
        "managerCustomerId": "8761312891",
        "clientCustomerId": "8761312891",
        "additionalOptions": {
          "dateRange": "LAST_7_DAYS",
          "campaignStatus": "ENABLED"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.googleAds",
      "typeVersion": 1,
      "position": [
        -5552,
        -240
      ],
      "id": "a89315e1-3851-47cd-93d8-36ce85c5da51",
      "name": "Google Ads: YouTube",
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "clDJ7KWsNd0vqAr4",
          "name": "[CUAL - cookingupalegacy@gmail.com] Google Ads account"
        }
      },
      "notes": "8761312891 - \"Working\" Manager ID\n\n9325785913 - TESTED - No output (YouTube Promotions)\n2428063923 - TESTED - No output\n7937355693 - TESTED - No output"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v24.0/118290808038621/insights",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n    \"access_token\":\"EAAUT3CZAvdJ4BQ4Y146zSK3KwggiOusCZBWQPaANyABBdj71W3ZBgTuV7WqR0O5jF9sSZByYcluy1O9ZCelL5AYtZBBzdllIyyb6TZAXZCHigPkDT5bMnu9dJ2GEkMZCyh576BzBVkM5HqQRdvythcA1mGnZAxICNiWpHwp1iiIsUDH8eZAu2YGoZBYPb7B59nDCMHUBb3MZD\",\n\"metric\": \"page_media_view,page_daily_follows_unique\",\n\"period\": \"day\",\n\"since\": \"{{ $('Set Date Range + Context').item.json.start_date }}\",\n\"until\": \"{{ $('Set Date Range + Context').item.json.end_date }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5376,
        1440
      ],
      "id": "1c779f19-0c15-41fc-924a-393d77a984c4",
      "name": "FB Organic: Views and Followers",
      "onError": "continueErrorOutput",
      "notes": "** FEB 25 2026 **\nOLD URL: https://graph.facebook.com/v24.0/17841461428303569/insights\nOLD \"access_token\":\"EAAUT3CZAvdJ4BQkAPr3AAE4GnmrIW9ma03N0nE3ZCQKz6CK99LmoDKLPgNCY26mfeEtYuiDLVI0LDqU8b8KE3gzlhIZBHQcWcjXDEzzVOviZA013HA55TfZAY7kggRHBCThEoZBuZA6AHgsABuqxNAZAs2HOgN7dsYi5kKgZAeCDqXngnpxDvJxEruTcQAhV1htDoiMAyl8F2S7zbEBiSODLHEtszpJ9uswJ878FI\","
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v24.0/118290808038621/insights",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n    \"access_token\":\"EAAUT3CZAvdJ4BQ4Y146zSK3KwggiOusCZBWQPaANyABBdj71W3ZBgTuV7WqR0O5jF9sSZByYcluy1O9ZCelL5AYtZBBzdllIyyb6TZAXZCHigPkDT5bMnu9dJ2GEkMZCyh576BzBVkM5HqQRdvythcA1mGnZAxICNiWpHwp1iiIsUDH8eZAu2YGoZBYPb7B59nDCMHUBb3MZD\",\n\"metric\": \"page_actions_post_reactions_like_total,page_post_engagements\",\n\"period\": \"day\",\n\"since\": \"{{ $('Set Date Range + Context').item.json.start_date }}\",\n\"until\": \"{{ $('Set Date Range + Context').item.json.end_date }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5104,
        1328
      ],
      "id": "d8f05e2d-8fdf-4ce9-a9f6-624a9497ef3a",
      "name": "FB Organic: Likes and Shares",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// ---------- Views and Followers (daily values arrays) ----------\nconst viewsFollowersData = $('FB Organic: Views and Followers').first().json.data;\nlet FBOrganic_totalViews = 0;\nlet FBOrganic_totalFollowers = 0;\nfor (const metric of viewsFollowersData) {\n  if (metric.name === \"page_media_view\") {\n    FBOrganic_totalViews = metric.values.reduce((sum, v) => sum + v.value, 0);\n  }\n  if (metric.name === \"page_daily_follows_unique\") {\n    FBOrganic_totalFollowers = metric.values.reduce((sum, v) => sum + v.value, 0);\n  }\n}\n\n// ---------- Likes and Engagements (daily values arrays) ----------\nconst likesEngagementsData = $('FB Organic: Likes and Shares').first().json.data;\nlet FBOrganic_totalLikes = 0;\nlet FBOrganic_totalEngagements = 0;\nfor (const metric of likesEngagementsData) {\n  if (metric.name === \"page_actions_post_reactions_like_total\") {\n    FBOrganic_totalLikes = metric.values.reduce((sum, v) => sum + v.value, 0);\n  }\n  if (metric.name === \"page_post_engagements\") {\n    // NOTE: This is the closest proxy for \"shares\" — it includes\n    // likes + comments + shares + other interactions combined.\n    // No standalone page-level shares metric exists in the FB API.\n    FBOrganic_totalEngagements = metric.values.reduce((sum, v) => sum + v.value, 0);\n  }\n}\n\n// ---------- Return totals ----------\nreturn [\n  {\n    json: {\n      FBOrganic_totalViews,\n      FBOrganic_totalFollowers,\n      FBOrganic_totalLikes,\n      FBOrganic_totalEngagements,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4880,
        1232
      ],
      "id": "5c0d9f61-25ab-4dbd-bbcd-a3e1e92fb239",
      "name": "Format Data: FB Organic Likes, Views, Shares, Followers"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v24.0/17841461428303569/insights",
        "sendQuery": true,
        "specifyQuery": "=json",
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonQuery": "={\n    \"access_token\":\"EAAUT3CZAvdJ4BQ4Y146zSK3KwggiOusCZBWQPaANyABBdj71W3ZBgTuV7WqR0O5jF9sSZByYcluy1O9ZCelL5AYtZBBzdllIyyb6TZAXZCHigPkDT5bMnu9dJ2GEkMZCyh576BzBVkM5HqQRdvythcA1mGnZAxICNiWpHwp1iiIsUDH8eZAu2YGoZBYPb7B59nDCMHUBb3MZD\",\n    \"metric\":\"likes,shares\",\n    \"metric_type\":\"total_value\",\n    \"period\":\"day\",\n    \"since\":\"{{ $('Set Date Range + Context').item.json.start_date }}\",\n    \"until\":\"{{ $('Set Date Range + Context').item.json.end_date }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5104,
        1712
      ],
      "id": "c0872d1b-9fdc-4b5b-bf28-b78ef655359e",
      "name": "IG Organic: Likes and Shares",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// ---------- Views and Reach (total_value format) ----------\nconst viewsReachData = $('IG Organic: Views and Reach').first().json.data;\nlet IGOrganic_totalViews = 0;\nlet IGOrganic_totalReach = 0;\nfor (const metric of viewsReachData) {\n  if (metric.name === \"views\") {\n    IGOrganic_totalViews = metric.total_value.value;\n  }\n  if (metric.name === \"reach\") {\n    IGOrganic_totalReach = metric.total_value.value;\n  }\n}\n\n// ---------- Likes and Shares (total_value format) ----------\nconst likesSharesData = $('IG Organic: Likes and Shares').first().json.data;\nlet IGOrganic_totalLikes = 0;\nlet IGOrganic_totalShares = 0;\nfor (const metric of likesSharesData) {\n  if (metric.name === \"likes\") {\n    IGOrganic_totalLikes = metric.total_value.value;\n  }\n  if (metric.name === \"shares\") {\n    IGOrganic_totalShares = metric.total_value.value;\n  }\n}\n\n// ---------- Followers (daily values array — sum daily deltas) ----------\nconst followersData = $('IG Organic: Followers').first().json.data;\nlet IGOrganic_totalFollowers = 0;\nfor (const metric of followersData) {\n  if (metric.name === \"follower_count\") {\n    IGOrganic_totalFollowers = metric.values.reduce((sum, v) => sum + v.value, 0);\n  }\n}\n\n// ---------- Return totals ----------\nreturn [\n  {\n    json: {\n      IGOrganic_totalViews,\n      IGOrganic_totalReach,\n      IGOrganic_totalFollowers,\n      IGOrganic_totalLikes,\n      IGOrganic_totalShares,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4880,
        1616
      ],
      "id": "50427036-d730-413e-a536-d6c706bacec6",
      "name": "Format Data: IG Organic Likes, Views, Shares, Followers"
    },
    {
      "parameters": {
        "url": "https://youtubeanalytics.googleapis.com/v2/reports",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ids",
              "value": "channel==MINE"
            },
            {
              "name": "startDate",
              "value": "={{ $json.start_date }}"
            },
            {
              "name": "endDate",
              "value": "={{ $json.end_date }}"
            },
            {
              "name": "metrics",
              "value": "=views"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5776,
        -144
      ],
      "id": "10d11172-65a5-46fa-87cf-f04ccc3a0017",
      "name": "YT Paid: Views",
      "credentials": {
        "googleOAuth2Api": {
          "id": "Gnjz9LZnjDBoeLp9",
          "name": "[CUAL - cookingupalegacy@gmail.com] Google account"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "views,estimatedMinutesWatched,averageViewDuration"
    },
    {
      "parameters": {
        "url": "https://youtubeanalytics.googleapis.com/v2/reports",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"ids\": \"channel==UC4fnMqD3QD33iSmrIKJ57Ow\",\n  \"metrics\": \"views,likes,shares,subscribersGained,estimatedMinutesWatched\",\n  \"dimensions\": \"day\",\n  \"startDate\": \"{{ $json.start_date }}\",\n  \"endDate\": \"{{ $json.end_date }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5328,
        848
      ],
      "id": "5a762ebd-1a45-4e40-bfbd-8dfda5040586",
      "name": "YT Organic: Views, Likes, Shares, Subscriber Count, and Ave Minutes Watched",
      "credentials": {
        "googleOAuth2Api": {
          "id": "Gnjz9LZnjDBoeLp9",
          "name": "[CUAL - cookingupalegacy@gmail.com] Google account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v24.0/act_931044352092437/insights",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"access_token\": \"EAAUT3CZAvdJ4BQ4mZAt1qYEVq95HDjaKM4l5SSCe94OfYSZANe20SN2MHydtTzUNc6akAidFZAokjTmZBOCx84ZC9z8ERvTRfMmhf7K1bT5qoTzDWVFZBwVsZC4QL9hlbJFzZALykQLs3AHou37e5nlUedqn763drHvPsN1uZAdXXQ2WJbJnxMhjKPd6vunMqsFGxPIPnS20od5qwpRdhJqMrTMUBeR5cNWztxZCWJA\",\n  \"fields\": \"impressions,reach,spend,actions\",\n  \"level\": \"account\",\n  \"action_breakdowns\": \"action_type\",\n  \"time_range\": {\n    \"since\": \"{{ $json.start_date }}\",\n    \"until\": \"{{ $json.end_date }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5328,
        2176
      ],
      "id": "f73ac3cd-7c99-4bb0-a430-94bd2ccd517a",
      "name": "FB Paid: Spend, Views, Likes, Shares, Followers",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get all input data\nconst data = $input.all()[0].json.data;\n\n// Initialize totals\nlet totalSpend = 0;\nlet totalPaidViews = 0;\nlet totalPaidLikes = 0;\nlet totalPaidShares = 0;\nlet totalPaidFollowers = 0;\nlet totalImpressions = 0;\nlet totalReach = 0;\n\n// Loop through each day\ndata.forEach(day => {\n  const spend = parseFloat(day.spend || 0);\n  totalSpend += spend;\n\n  // NEW: Aggregate impressions & reach\n  totalImpressions += Number(day.impressions || 0);\n  totalReach += Number(day.reach || 0);\n\n  // Find actions\n  const actions = day.actions || [];\n\n  // Get counts for specific action_types\n  const videoViews = actions.find(a => a.action_type === \"video_view\")?.value || 0;\n  const postReactions = actions.find(a => a.action_type === \"post_reaction\")?.value || 0;\n  const postEngagement = actions.find(a => a.action_type === \"post_engagement\")?.value || 0;\n  const pageEngagement = actions.find(a => a.action_type === \"page_engagement\")?.value || 0;\n\n  // Aggregate totals\n  totalPaidViews += Number(videoViews);\n  totalPaidLikes += Number(postReactions);\n  totalPaidShares += Number(postEngagement) - Number(postReactions);\n  totalPaidFollowers += Number(pageEngagement);\n});\n\n// Calculate cost metrics safely (avoid division by 0)\nconst cpv = totalPaidViews ? totalSpend / totalPaidViews : 0;\nconst cpl = totalPaidLikes ? totalSpend / totalPaidLikes : 0;\nconst cps = totalPaidShares ? totalSpend / totalPaidShares : 0;\nconst cpf = totalPaidFollowers ? totalSpend / totalPaidFollowers : 0;\n\n// Return result as a single JSON with numbers\nreturn [\n  {\n    json: {\n      FBPaid_totalSpend: Number(totalSpend.toFixed(2)),\n      FBPaid_totalImpressions: totalImpressions,\n      FBPaid_totalReach: totalReach,\n      FBPaid_totalViews: totalPaidViews,\n      FBPaid_totalLikes: totalPaidLikes,\n      FBPaid_totalShares: totalPaidShares,\n      FBPaid_totalFollowers: totalPaidFollowers,\n      FBPaid_CPV: Number(cpv.toFixed(4)),\n      FBPaid_CPL: Number(cpl.toFixed(4)),\n      FBPaid_CPS: Number(cps.toFixed(4)),\n      FBPaid_CPF: Number(cpf.toFixed(4))\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4880,
        2000
      ],
      "id": "38b3c3af-3f7a-4e45-9319-6c06ee4768e6",
      "name": "Format Data: FB Paid Spend, Views, Likes, Shares, Followers"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v24.0/act_931044352092437/insights",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"access_token\": \"EAAUT3CZAvdJ4BQ4mZAt1qYEVq95HDjaKM4l5SSCe94OfYSZANe20SN2MHydtTzUNc6akAidFZAokjTmZBOCx84ZC9z8ERvTRfMmhf7K1bT5qoTzDWVFZBwVsZC4QL9hlbJFzZALykQLs3AHou37e5nlUedqn763drHvPsN1uZAdXXQ2WJbJnxMhjKPd6vunMqsFGxPIPnS20od5qwpRdhJqMrTMUBeR5cNWztxZCWJA\",\n  \"fields\": \"impressions,reach,spend,actions\",\n  \"level\": \"account\",\n  \"action_breakdowns\": \"action_type\",\n  \"filtering\": \"[{\\\"field\\\":\\\"publisher_platform\\\",\\\"operator\\\":\\\"IN\\\",\\\"value\\\":[\\\"instagram\\\"]}]\",\n  \"time_range\": {\n    \"since\":\"{{ $json.start_date }}\",\n    \"until\":\"{{ $json.end_date }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5328,
        2480
      ],
      "id": "a82950ce-1d3c-419d-b746-e7be3954c7ee",
      "name": "IG Paid: Spend, Views, Likes, Shares, Followers",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get all input data\nconst data = $input.all()[0].json.data;\n\n// Initialize totals\nlet totalSpend = 0;\nlet totalPaidViews = 0;\nlet totalPaidLikes = 0;\nlet totalPaidShares = 0;\nlet totalPaidFollowers = 0;\nlet totalImpressions = 0;\nlet totalReach = 0;\n\n// Loop through each day\ndata.forEach(day => {\n  const spend = parseFloat(day.spend || 0);\n  totalSpend += spend;\n\n  // NEW: Aggregate impressions & reach\n  totalImpressions += Number(day.impressions || 0);\n  totalReach += Number(day.reach || 0);\n\n  // Find actions\n  const actions = day.actions || [];\n\n  // Get counts for specific action_types\n  const videoViews = actions.find(a => a.action_type === \"video_view\")?.value || 0;\n  const postReactions = actions.find(a => a.action_type === \"post_reaction\")?.value || 0;\n  const postEngagement = actions.find(a => a.action_type === \"post_engagement\")?.value || 0;\n  const pageEngagement = actions.find(a => a.action_type === \"page_engagement\")?.value || 0;\n\n  // Aggregate totals\n  totalPaidViews += Number(videoViews);\n  totalPaidLikes += Number(postReactions);\n  totalPaidShares += Number(postEngagement) - Number(postReactions);\n  totalPaidFollowers += Number(pageEngagement);\n});\n\n// Calculate cost metrics safely (avoid division by 0)\nconst cpv = totalPaidViews ? totalSpend / totalPaidViews : 0;\nconst cpl = totalPaidLikes ? totalSpend / totalPaidLikes : 0;\nconst cps = totalPaidShares ? totalSpend / totalPaidShares : 0;\nconst cpf = totalPaidFollowers ? totalSpend / totalPaidFollowers : 0;\n\n// Return result as a single JSON with numbers\nreturn [\n  {\n    json: {\n      IGPaid_totalSpend: Number(totalSpend.toFixed(2)),\n      IGPaid_totalImpressions: totalImpressions,\n      IGPaid_totalReach: totalReach,\n      IGPaid_totalViews: totalPaidViews,\n      IGPaid_totalLikes: totalPaidLikes,\n      IGPaid_totalShares: totalPaidShares,\n      IGPaid_totalFollowers: totalPaidFollowers,\n      IGPaid_CPV: Number(cpv.toFixed(4)),\n      IGPaid_CPL: Number(cpl.toFixed(4)),\n      IGPaid_CPS: Number(cps.toFixed(4)),\n      IGPaid_CPF: Number(cpf.toFixed(4))\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4880,
        2384
      ],
      "id": "20b594db-5ff2-44a8-96eb-859d6bd432ab",
      "name": "Format Data: IG Paid Spend, Views, Likes, Shares, Followers"
    },
    {
      "parameters": {
        "jsCode": "function sumVideoViews(items) {\n  return items.reduce((total, item) => {\n    // Convert to number because videoViews comes as a string\n    return total + Number(item.videoViews || 0);\n  }, 0);\n}\n\n// Example usage in n8n:\nconst data = $input.all().map(i => i.json); // if this is your n8n input\n\nconst YTPaid_totalSpend = 0;\nconst YTPaid_totalViews = sumVideoViews(data);\nconst YTPaid_totalLikes = 0;\nconst YTPaid_totalShares = 0;\nconst YTPaid_totalFollowers = 0;\nconst YTPaid_CPV = 0;\nconst YTPaid_CPL = 0;\nconst YTPaid_CPS = 0;\nconst YTPaid_CPF = 0;\n//const viewsFromYT = $('YT Paid: Views').first().json.rows[0][0];\n//const YTOrganic_totalViews = viewsFromYT - YTPaid_totalViews;\n//const totalViews = totalPaidViews + YTOrganic_totalViews;\n\nreturn [\n  {\n    json: {\n      YTPaid_totalSpend,\n      YTPaid_totalViews,\n      YTPaid_totalLikes,\n      YTPaid_totalShares,\n      YTPaid_totalFollowers,\n      YTPaid_CPV,\n      YTPaid_CPL,\n      YTPaid_CPS,\n      YTPaid_CPF\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5328,
        -240
      ],
      "id": "48fb3bed-af63-4404-8ba6-9e684d8dbfd9",
      "name": "Format Data: YT Paid Views"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -6672,
        2496
      ],
      "id": "b2924451-f142-4b56-9d94-37e04875b783",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f11c100-2b47-4fa6-9e8e-97d9676c5abd",
              "name": "start_date",
              "value": "=2026-02-12",
              "type": "string"
            },
            {
              "id": "0397551d-3862-4ba3-85ae-fdfafa0111c2",
              "name": "end_date",
              "value": "=2026-02-18",
              "type": "string"
            },
            {
              "id": "02a25a00-1dac-497f-b69d-c90bca2ac3c3",
              "name": "client_name",
              "value": "Cooking up a Legacy",
              "type": "string"
            },
            {
              "id": "e5560732-2292-47f0-a7d2-12241019e048",
              "name": "current_week",
              "value": "={{ Math.ceil($now.diff($now.startOf(\"year\"), \"weeks\").weeks) }}",
              "type": "number"
            },
            {
              "id": "2762a5f9-2bd2-46c2-9781-5217ccae6888",
              "name": "current_quarter",
              "value": "={{ 'Q' + Math.ceil($now.month / 3) }}",
              "type": "string"
            },
            {
              "id": "d73e78ca-7221-417a-a1ec-8745736dbd62",
              "name": "prior_week_start",
              "value": "={{ $now.minus({days: 14}).toFormat('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "1cdb5127-b5f4-41f1-a042-537b62149193",
              "name": "prior_week_end",
              "value": "={{ $now.minus({days: 8}).toFormat('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6448,
        2496
      ],
      "id": "c7926456-6652-424f-b5c4-8b68184231ac",
      "name": "Set Date Range + Context",
      "notes": "START DATE: {{ $now.minus({days: 7}).toFormat('yyyy-MM-dd') }}\nEND DATE: {{ $now.minus({days: 1}).toFormat('yyyy-MM-dd') }}"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ZUJtsn3-tClLdDjHYw0qRxv2OAVbOkTIt0pzqd1imZc",
          "mode": "list",
          "cachedResultName": "CUAL Marketing Engineering KPIs Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZUJtsn3-tClLdDjHYw0qRxv2OAVbOkTIt0pzqd1imZc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 751911884,
          "mode": "list",
          "cachedResultName": "Quarterly Expectations per platform",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZUJtsn3-tClLdDjHYw0qRxv2OAVbOkTIt0pzqd1imZc/edit#gid=751911884"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "QUARTER",
              "lookupValue": "={{ $json.current_quarter }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -5104,
        2768
      ],
      "id": "0132d14a-778e-4986-a027-593d1353304c",
      "name": "Pull Expectations Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "l0vUx3jpXgDL4Fs3",
          "name": "[CUAL - cookingupalegacy@gmail.com] Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get input JSON from previous node\nconst inputData = $input.all().map(item => item.json);\n\n// Initialize the output object\nlet output = { current_quarter: null };\n\n// Ensure there is at least one row to get the current quarter\nif (inputData.length > 0) {\n  output.current_quarter = inputData[0].QUARTER;\n}\n\n// Loop through each platform row and map values\ninputData.forEach(row => {\n  switch(row.PLATFORM.toLowerCase()) {\n    case 'facebook':\n      output.FBTarget_PaidViews = row[\"Avg Weekly Paid Views\"];\n      output.FBTarget_OrganicViews = row[\"Avg Weekly Organic Views\"];\n      output.FBTarget_TotalViews = row[\"Avg Weekly Total Views\"];\n      output.FBTarget_PaidFollowers = row[\"Avg Weekly Paid Followers\"];\n      output.FBTarget_OrganicFollowers = row[\"Avg Weekly Organic Followers\"];\n      output.FBTarget_TotalNewFollowers = row[\"Avg Weekly Total New Followers\"];\n      break;\n    case 'instagram':\n      output.IGTarget_PaidViews = row[\"Avg Weekly Paid Views\"];\n      output.IGTarget_OrganicViews = row[\"Avg Weekly Organic Views\"];\n      output.IGTarget_TotalViews = row[\"Avg Weekly Total Views\"];\n      output.IGTarget_PaidFollowers = row[\"Avg Weekly Paid Followers\"];\n      output.IGTarget_OrganicFollowers = row[\"Avg Weekly Organic Followers\"];\n      output.IGTarget_TotalNewFollowers = row[\"Avg Weekly Total New Followers\"];\n      break;\n    case 'youtube':\n      output.YTTarget_PaidViews = row[\"Avg Weekly Paid Views\"];\n      output.YTTarget_OrganicViews = row[\"Avg Weekly Organic Views\"];\n      output.YTTarget_TotalViews = row[\"Avg Weekly Total Views\"];\n      output.YTTarget_PaidFollowers = row[\"Avg Weekly Paid Followers\"];\n      output.YTTarget_OrganicFollowers = row[\"Avg Weekly Organic Followers\"];\n      output.YTTarget_TotalNewFollowers = row[\"Avg Weekly Total New Followers\"];\n      break;\n  }\n});\n\n// n8n function node must return an array of objects\nreturn [ { json: output } ];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4880,
        2768
      ],
      "id": "56ad98a7-08ae-4896-8d14-2170e74f9273",
      "name": "Merge Target Data"
    },
    {
      "parameters": {
        "url": "https://youtubeanalytics.googleapis.com/v2/reports",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ids",
              "value": "channel==MINE"
            },
            {
              "name": "metrics",
              "value": "=views,likes,shares,subscribersGained,estimatedMinutesWatched"
            },
            {
              "name": "dimensions",
              "value": "=day"
            },
            {
              "name": "startDate",
              "value": "={{ $json.prior_week_start }}"
            },
            {
              "name": "endDate",
              "value": "={{ $json.prior_week_end }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5328,
        3056
      ],
      "id": "1dbf12b3-71fd-45ad-a5fa-af757da946aa",
      "name": "PRIOR WEEK | YT Organic: Views, Likes, Shares, Subscriber Count, and Ave Minutes Watched1",
      "credentials": {
        "googleOAuth2Api": {
          "id": "Gnjz9LZnjDBoeLp9",
          "name": "[CUAL - cookingupalegacy@gmail.com] Google account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json; // Your resultTable object\n\nif (!data || !data.rows) {\n  throw new Error(\"Data or data.rows is undefined\");\n}\n\nlet YTOrganic_totalViews_PRIOR = 0;\nlet YTOrganic_totalLikes_PRIOR = 0;\nlet YTOrganic_totalShares_PRIOR = 0;\nlet YTOrganic_totalFollowers_PRIOR = 0;\nlet YTOrganic_estMinsWatched_PRIOR = 0;\n\nfor (const row of data.rows) {\n  YTOrganic_totalViews_PRIOR += row[1];\n  YTOrganic_totalLikes_PRIOR += row[2];        // likes\n  YTOrganic_totalShares_PRIOR += row[3];       // shares\n  YTOrganic_totalFollowers_PRIOR += row[4];  // subscribersGained\n  YTOrganic_estMinsWatched_PRIOR += row[5];\n}\n\nreturn [\n  {\n    json: {\n      YTOrganic_totalViews_PRIOR,\n      YTOrganic_totalLikes_PRIOR,\n      YTOrganic_totalShares_PRIOR,\n      YTOrganic_totalFollowers_PRIOR,\n      //YTOrganic_totalEngagement: YTOrganic_totalLikes + YTOrganic_totalShares + YTOrganic_totalFollowers,\n      YTOrganic_estMinsWatched_PRIOR\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4880,
        2960
      ],
      "id": "935ecd49-9531-45b5-bc83-2871377ffebd",
      "name": "PRIOR WEEK | YT Organic Views, Likes, Shares, Followers, Est. Mins Watched1"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v24.0/17841461428303569/insights",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n    \"access_token\":\"EAAUT3CZAvdJ4BQkAPr3AAE4GnmrIW9ma03N0nE3ZCQKz6CK99LmoDKLPgNCY26mfeEtYuiDLVI0LDqU8b8KE3gzlhIZBHQcWcjXDEzzVOviZA013HA55TfZAY7kggRHBCThEoZBuZA6AHgsABuqxNAZAs2HOgN7dsYi5kKgZAeCDqXngnpxDvJxEruTcQAhV1htDoiMAyl8F2S7zbEBiSODLHEtszpJ9uswJ878FI\",\n    \"metric\":\"reach,follower_count\",\n    \"period\":\"day\",\n    \"since\":\"{{ $json.prior_week_start }}\",\n    \"until\":\"{{ $json.prior_week_end }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5328,
        3632
      ],
      "id": "792b4e76-9de2-4a3e-894c-09c688f1240a",
      "name": "PRIOR WEEK | FB Organic: Views and Followers",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// ---------- Views and Followers (daily arrays) ----------\nconst viewsFollowersData = $('PRIOR WEEK | FB Organic: Views and Followers').first().json.data;\nlet FBOrganic_totalViews_PRIOR = 0;\nlet FBOrganic_totalFollowers_PRIOR = 0;\nfor (const metric of viewsFollowersData) {\n  if (metric.name === \"page_media_view\") {\n    FBOrganic_totalViews_PRIOR = metric.values.reduce((sum, v) => sum + v.value, 0);\n  }\n  if (metric.name === \"page_daily_follows_unique\") {\n    FBOrganic_totalFollowers_PRIOR = metric.values.reduce((sum, v) => sum + v.value, 0);\n  }\n}\n// ---------- Likes and Engagements (daily arrays) ----------\nconst likesEngagementsData = $('PRIOR WEEK | FB Organic: Likes and Shares').first().json.data;\nlet FBOrganic_totalLikes_PRIOR = 0;\nlet FBOrganic_totalEngagements_PRIOR = 0;\nfor (const metric of likesEngagementsData) {\n  if (metric.name === \"page_actions_post_reactions_like_total\") {\n    FBOrganic_totalLikes_PRIOR = metric.values.reduce((sum, v) => sum + v.value, 0);\n  }\n  if (metric.name === \"page_post_engagements\") {\n    FBOrganic_totalEngagements_PRIOR = metric.values.reduce((sum, v) => sum + v.value, 0);\n  }\n}\n// ---------- Return totals ----------\nreturn [\n  {\n    json: {\n      FBOrganic_totalViews_PRIOR,\n      FBOrganic_totalFollowers_PRIOR,\n      FBOrganic_totalLikes_PRIOR,\n      FBOrganic_totalEngagements_PRIOR,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4880,
        3344
      ],
      "id": "72f79528-2391-4904-8f10-572106369d62",
      "name": "PRIOR WEEK | Format Data: FB Organic Likes, Views, Shares, Followers"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v24.0/17841461428303569/insights",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n    \"access_token\":\"EAAUT3CZAvdJ4BQkAPr3AAE4GnmrIW9ma03N0nE3ZCQKz6CK99LmoDKLPgNCY26mfeEtYuiDLVI0LDqU8b8KE3gzlhIZBHQcWcjXDEzzVOviZA013HA55TfZAY7kggRHBCThEoZBuZA6AHgsABuqxNAZAs2HOgN7dsYi5kKgZAeCDqXngnpxDvJxEruTcQAhV1htDoiMAyl8F2S7zbEBiSODLHEtszpJ9uswJ878FI\",\n    \"metric\":\"likes, shares\",\n    \"metric_type\":\"total_value\",\n    \"period\":\"day\",\n    \"since\":\"{{ $('Set Date Range + Context').item.json.prior_week_start }}\",\n    \"until\":\"{{ $('Set Date Range + Context').item.json.prior_week_end }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5104,
        3440
      ],
      "id": "fee99c7c-4eee-4b78-98bf-3ff561763161",
      "name": "PRIOR WEEK | FB Organic: Likes and Shares",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// ---------- JSON 1: Reach & Followers ----------\n\nconst json1 = $('PRIOR WEEK | IG Organic: Views and Followers').first().json.data; // json1 is an array\n\nlet IGOrganic_totalViews_PRIOR = 0;\nlet IGOrganic_totalFollowers_PRIOR = 0;\n\nfor (const metric of json1) {\n  if (metric.name === \"reach\") {\n    IGOrganic_totalViews_PRIOR = metric.values.reduce((sum, v) => sum + v.value, 0);\n  }\n  if (metric.name === \"follower_count\") {\n    IGOrganic_totalFollowers_PRIOR = metric.values.reduce((sum, v) => sum + v.value, 0);\n  }\n}\n\n// ---------- JSON 2: Likes & Shares ----------\nconst json2 = $input.first().json.data; // json2 is an array\n\nlet IGOrganic_totalLikes_PRIOR = 0;\nlet IGOrganic_totalShares_PRIOR = 0;\n\nfor (const metric of json2) {\n  if (metric.name === \"likes\") {\n    IGOrganic_totalLikes_PRIOR = metric.total_value.value;\n  }\n  if (metric.name === \"shares\") {\n    IGOrganic_totalShares_PRIOR = metric.total_value.value;\n  }\n}\n\n// ---------- Return totals ----------\nreturn [\n  {\n    json: {\n      IGOrganic_totalViews_PRIOR,\n      IGOrganic_totalFollowers_PRIOR,\n      IGOrganic_totalLikes_PRIOR,\n      IGOrganic_totalShares_PRIOR,\n      //IGOrganic_totalEngagement: IGOrganic_totalLikes + IGOrganic_totalShares\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4880,
        3728
      ],
      "id": "7c27f6b9-ee3e-45a3-9147-d217e76b0ae7",
      "name": "PRIOR WEEK | Format Data: IG Organic Likes, Views, Shares, Followers"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v24.0/17841461428303569/insights",
        "sendQuery": true,
        "specifyQuery": "=json",
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonQuery": "={\n  \"access_token\": \"EAAUT3CZAvdJ4BQkAPr3AAE4GnmrIW9ma03N0nE3ZCQKz6CK99LmoDKLPgNCY26mfeEtYuiDLVI0LDqU8b8KE3gzlhIZBHQcWcjXDEzzVOviZA013HA55TfZAY7kggRHBCThEoZBuZA6AHgsABuqxNAZAs2HOgN7dsYi5kKgZAeCDqXngnpxDvJxEruTcQAhV1htDoiMAyl8F2S7zbEBiSODLHEtszpJ9uswJ878FI\",\n  \"metric\":\"likes, shares\",\n    \"metric_type\":\"total_value\",\n    \"period\":\"day\",\n  \"level\": \"account\",\n  \"time_increment\": 1,\n  \"use_account_attribution_setting\": \"true\",\n  \"action_breakdowns\": \"action_type\",\n  \"filtering\": \"[{\\\"field\\\":\\\"publisher_platform\\\",\\\"operator\\\":\\\"IN\\\",\\\"value\\\":[\\\"instagram\\\"]}]\",\n  \"time_range\": {\n    \"since\":\"{{ $('Set Date Range + Context').item.json.prior_week_start }}\",\n    \"until\":\"{{ $('Set Date Range + Context').item.json.prior_week_end }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5104,
        3824
      ],
      "id": "489b3f32-d72f-45bc-a823-3aa9865ba6e9",
      "name": "PRIOR WEEK | IG Organic: Likes and Shares",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v24.0/17841461428303569/insights",
        "sendQuery": true,
        "specifyQuery": "=json",
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonQuery": "={\n  \"access_token\": \"EAAUT3CZAvdJ4BQkAPr3AAE4GnmrIW9ma03N0nE3ZCQKz6CK99LmoDKLPgNCY26mfeEtYuiDLVI0LDqU8b8KE3gzlhIZBHQcWcjXDEzzVOviZA013HA55TfZAY7kggRHBCThEoZBuZA6AHgsABuqxNAZAs2HOgN7dsYi5kKgZAeCDqXngnpxDvJxEruTcQAhV1htDoiMAyl8F2S7zbEBiSODLHEtszpJ9uswJ878FI\",\n  \"metric\": \"reach,follower_count\",\n  \"period\": \"day\",\n  \"level\": \"account\",\n  \"time_increment\": 1,\n  \"use_account_attribution_setting\": \"true\",\n  \"action_breakdowns\": \"action_type\",\n  \"filtering\": \"[{\\\"field\\\":\\\"publisher_platform\\\",\\\"operator\\\":\\\"IN\\\",\\\"value\\\":[\\\"instagram\\\"]}]\",\n  \"time_range\": {\n    \"since\":\"{{ $json.prior_week_start }}\",\n    \"until\":\"{{ $json.prior_week_end }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5328,
        4016
      ],
      "id": "a0a9088d-fea1-46d4-8b73-69874b81d6a1",
      "name": "PRIOR WEEK | IG Organic: Views and Followers",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "numberInputs": 9
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3520,
        2272
      ],
      "id": "ad30cd9b-8b17-4a32-93c3-33f1fe13e86c",
      "name": "Merge all data"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ZUJtsn3-tClLdDjHYw0qRxv2OAVbOkTIt0pzqd1imZc",
          "mode": "list",
          "cachedResultName": "CUAL Marketing Engineering KPIs Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZUJtsn3-tClLdDjHYw0qRxv2OAVbOkTIt0pzqd1imZc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Organic",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZUJtsn3-tClLdDjHYw0qRxv2OAVbOkTIt0pzqd1imZc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "WEEK": "={{ $now.minus({days: 7}).toFormat('yyyy-MM-dd') }} - {{ $now.minus({days: 1}).toFormat('yyyy-MM-dd') }}",
            "WEEK NO.": "={{ Math.ceil($now.diff($now.startOf(\"year\"), \"weeks\").weeks) }}",
            "YouTube Views": "={{ $json.result_json.organic.youtube.views }}",
            "YouTube Subscribers": "={{ $json.result_json.organic.youtube.new_followers }}",
            "YouTube Likes": "={{ $json.result_json.organic.youtube.likes }}",
            "YouTube Shares": "={{ $json.result_json.organic.youtube.shares }}",
            "Facebook Views": "={{ $json.result_json.organic.facebook.views }}",
            "Facebook Followers": "={{ $json.result_json.organic.facebook.new_followers }}",
            "Facebook Likes": "={{ $json.result_json.organic.facebook.likes }}",
            "Facebook Shares": "={{ $json.result_json.organic.facebook.shares }}",
            "Instagram Views": "={{ $json.result_json.organic.instagram.views }}",
            "Instagram Followers": "={{ $json.result_json.organic.instagram.new_followers }}",
            "Instagram Likes": "={{ $json.result_json.organic.instagram.likes }}",
            "Instagram Shares": "={{ $json.result_json.organic.instagram.shares }}",
            "Time Watched": "={{ $json.result_json.organic.youtube.est_hours_watched }} hours"
          },
          "matchingColumns": [
            "WEEK"
          ],
          "schema": [
            {
              "id": "WEEK NO.",
              "displayName": "WEEK NO.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WEEK",
              "displayName": "WEEK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "YouTube Views",
              "displayName": "YouTube Views",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "YouTube Subscribers",
              "displayName": "YouTube Subscribers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time Watched",
              "displayName": "Time Watched",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "YouTube Likes",
              "displayName": "YouTube Likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "YouTube Shares",
              "displayName": "YouTube Shares",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook Views",
              "displayName": "Facebook Views",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook Followers",
              "displayName": "Facebook Followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook Likes",
              "displayName": "Facebook Likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook Shares",
              "displayName": "Facebook Shares",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram Views",
              "displayName": "Instagram Views",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram Followers",
              "displayName": "Instagram Followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram Likes",
              "displayName": "Instagram Likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram Shares",
              "displayName": "Instagram Shares",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2784,
        2192
      ],
      "id": "34bcbd67-ab0d-4aca-bd79-b13667386883",
      "name": "Add Organic Data to Google Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "l0vUx3jpXgDL4Fs3",
          "name": "[CUAL - cookingupalegacy@gmail.com] Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ZUJtsn3-tClLdDjHYw0qRxv2OAVbOkTIt0pzqd1imZc",
          "mode": "list",
          "cachedResultName": "CUAL Marketing Engineering KPIs Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZUJtsn3-tClLdDjHYw0qRxv2OAVbOkTIt0pzqd1imZc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 862980506,
          "mode": "list",
          "cachedResultName": "Budget (Paid)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZUJtsn3-tClLdDjHYw0qRxv2OAVbOkTIt0pzqd1imZc/edit#gid=862980506"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "WEEK": "={{ $now.minus({days: 7}).toFormat('yyyy-MM-dd') }} - {{ $now.minus({days: 1}).toFormat('yyyy-MM-dd') }}",
            "PLATFORM": "=YouTube",
            "WEEK NO.": "={{ Math.ceil($now.diff($now.startOf(\"year\"), \"weeks\").weeks) }}",
            "Paid Views": "={{ $json.result_json.paid.youtube.views }}",
            "Paid Likes": "={{ $json.result_json.paid.youtube.likes }}",
            "Paid Shares": "={{ $json.result_json.paid.youtube.shares }}",
            "Paid New Followers": "={{ $json.result_json.paid.youtube.new_followers }}",
            "Paid Spend": "={{ $json.result_json.paid.youtube.spend }}",
            "CPV (Cost Per View)": "={{ $json.result_json.paid.youtube.cpv }}",
            "CPL (Cost Per Like)": "={{ $json.result_json.paid.youtube.cpl }}",
            "CPS (Cost Per Share)": "={{ $json.result_json.paid.youtube.cps }}",
            "CPF (Cost Per Follower)": "={{ $json.result_json.paid.youtube.cpf }}",
            "Impressions": "N/A",
            "Reach": "N/A"
          },
          "matchingColumns": [
            "WEEK"
          ],
          "schema": [
            {
              "id": "WEEK NO.",
              "displayName": "WEEK NO.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WEEK",
              "displayName": "WEEK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PLATFORM",
              "displayName": "PLATFORM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Impressions",
              "displayName": "Impressions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reach",
              "displayName": "Reach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Paid Views",
              "displayName": "Paid Views",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CPV (Cost Per View)",
              "displayName": "CPV (Cost Per View)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Paid Likes",
              "displayName": "Paid Likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CPL (Cost Per Like)",
              "displayName": "CPL (Cost Per Like)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Paid Shares",
              "displayName": "Paid Shares",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CPS (Cost Per Share)",
              "displayName": "CPS (Cost Per Share)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Paid New Followers",
              "displayName": "Paid New Followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CPF (Cost Per Follower)",
              "displayName": "CPF (Cost Per Follower)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Paid Spend",
              "displayName": "Paid Spend",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2784,
        2384
      ],
      "id": "afc41378-e664-4e33-9043-a2e1e8955114",
      "name": "YouTube Paid data => Budget (Paid) tab",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "l0vUx3jpXgDL4Fs3",
          "name": "[CUAL - cookingupalegacy@gmail.com] Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ZUJtsn3-tClLdDjHYw0qRxv2OAVbOkTIt0pzqd1imZc",
          "mode": "list",
          "cachedResultName": "CUAL Marketing Engineering KPIs Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZUJtsn3-tClLdDjHYw0qRxv2OAVbOkTIt0pzqd1imZc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 862980506,
          "mode": "list",
          "cachedResultName": "Budget (Paid)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZUJtsn3-tClLdDjHYw0qRxv2OAVbOkTIt0pzqd1imZc/edit#gid=862980506"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "WEEK": "={{ $now.minus({days: 7}).toFormat('yyyy-MM-dd') }} - {{ $now.minus({days: 1}).toFormat('yyyy-MM-dd') }}",
            "PLATFORM": "=Facebook",
            "WEEK NO.": "={{ Math.ceil($now.diff($now.startOf(\"year\"), \"weeks\").weeks) }}",
            "Paid Views": "={{ $json.result_json.paid.facebook.views }}",
            "Paid Likes": "={{ $json.result_json.paid.facebook.likes }}",
            "Paid Shares": "={{ $json.result_json.paid.facebook.shares }}",
            "Paid New Followers": "={{ $json.result_json.paid.facebook.new_followers }}",
            "Paid Spend": "={{ $json.result_json.paid.facebook.spend }}",
            "CPV (Cost Per View)": "={{ $json.result_json.paid.facebook.cpv }}",
            "CPL (Cost Per Like)": "={{ $json.result_json.paid.facebook.cpl }}",
            "CPS (Cost Per Share)": "={{ $json.result_json.paid.facebook.cps }}",
            "CPF (Cost Per Follower)": "={{ $json.result_json.paid.facebook.cpf }}",
            "Impressions": "={{ $json.result_json.paid.facebook.impressions }}",
            "Reach": "={{ $json.result_json.paid.facebook.reach }}"
          },
          "matchingColumns": [
            "WEEK"
          ],
          "schema": [
            {
              "id": "WEEK NO.",
              "displayName": "WEEK NO.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WEEK",
              "displayName": "WEEK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PLATFORM",
              "displayName": "PLATFORM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Impressions",
              "displayName": "Impressions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reach",
              "displayName": "Reach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Paid Views",
              "displayName": "Paid Views",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CPV (Cost Per View)",
              "displayName": "CPV (Cost Per View)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Paid Likes",
              "displayName": "Paid Likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CPL (Cost Per Like)",
              "displayName": "CPL (Cost Per Like)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Paid Shares",
              "displayName": "Paid Shares",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CPS (Cost Per Share)",
              "displayName": "CPS (Cost Per Share)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Paid New Followers",
              "displayName": "Paid New Followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CPF (Cost Per Follower)",
              "displayName": "CPF (Cost Per Follower)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Paid Spend",
              "displayName": "Paid Spend",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2784,
        2576
      ],
      "id": "6134ed97-577e-4bb2-9722-a77b5027fcbe",
      "name": "Facebook Paid data => Budget (Paid) tab",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "l0vUx3jpXgDL4Fs3",
          "name": "[CUAL - cookingupalegacy@gmail.com] Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ZUJtsn3-tClLdDjHYw0qRxv2OAVbOkTIt0pzqd1imZc",
          "mode": "list",
          "cachedResultName": "CUAL Marketing Engineering KPIs Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZUJtsn3-tClLdDjHYw0qRxv2OAVbOkTIt0pzqd1imZc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 862980506,
          "mode": "list",
          "cachedResultName": "Budget (Paid)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZUJtsn3-tClLdDjHYw0qRxv2OAVbOkTIt0pzqd1imZc/edit#gid=862980506"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "WEEK": "={{ $now.minus({days: 7}).toFormat('yyyy-MM-dd') }} - {{ $now.minus({days: 1}).toFormat('yyyy-MM-dd') }}",
            "PLATFORM": "=Instagram",
            "WEEK NO.": "={{ Math.ceil($now.diff($now.startOf(\"year\"), \"weeks\").weeks) }}",
            "Paid Views": "={{ $json.result_json.paid.instagram.views }}",
            "Paid Likes": "={{ $json.result_json.paid.instagram.likes }}",
            "Paid Shares": "={{ $json.result_json.paid.instagram.shares }}",
            "Paid New Followers": "={{ $json.result_json.paid.instagram.new_followers }}",
            "Paid Spend": "={{ $json.result_json.paid.instagram.spend }}",
            "CPV (Cost Per View)": "={{ $json.result_json.paid.instagram.cpv }}",
            "CPL (Cost Per Like)": "={{ $json.result_json.paid.instagram.cpl }}",
            "CPS (Cost Per Share)": "={{ $json.result_json.paid.instagram.cps }}",
            "CPF (Cost Per Follower)": "={{ $json.result_json.paid.instagram.cpf }}",
            "Impressions": "={{ $json.result_json.paid.instagram.impressions }}",
            "Reach": "={{ $json.result_json.paid.instagram.reach }}"
          },
          "matchingColumns": [
            "WEEK"
          ],
          "schema": [
            {
              "id": "WEEK NO.",
              "displayName": "WEEK NO.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WEEK",
              "displayName": "WEEK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PLATFORM",
              "displayName": "PLATFORM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Impressions",
              "displayName": "Impressions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reach",
              "displayName": "Reach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Paid Views",
              "displayName": "Paid Views",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CPV (Cost Per View)",
              "displayName": "CPV (Cost Per View)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Paid Likes",
              "displayName": "Paid Likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CPL (Cost Per Like)",
              "displayName": "CPL (Cost Per Like)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Paid Shares",
              "displayName": "Paid Shares",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CPS (Cost Per Share)",
              "displayName": "CPS (Cost Per Share)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Paid New Followers",
              "displayName": "Paid New Followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CPF (Cost Per Follower)",
              "displayName": "CPF (Cost Per Follower)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Paid Spend",
              "displayName": "Paid Spend",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2784,
        2768
      ],
      "id": "80317ad8-70cf-48e9-bf09-ac695f4ffa61",
      "name": "Instagram Paid data => Budget (Paid) tab",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "l0vUx3jpXgDL4Fs3",
          "name": "[CUAL - cookingupalegacy@gmail.com] Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "alec.galvez+2@designshopp.com",
        "subject": "CUAL TEST",
        "message": "=<!DOCTYPE html>\n<html>\n<body style=\"margin:0;padding:0;background-color:#f4f4f4;font-family:Arial,Helvetica,sans-serif;\">\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#f4f4f4;padding:20px 0;\">\n<tr>\n<td align=\"center\">\n\n<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"width:100%;max-width:600px;background-color:#ffffff;border-collapse:collapse;\">\n\n<!-- HEADER -->\n<tr>\n<td style=\"padding:24px;border-bottom:2px solid #eeeeee;\">\n<h1 style=\"margin:0;font-size:22px;color:#111111;\">\nDaily Performance Report: {{$json[\"Name\"]}}\n</h1>\n<p style=\"margin:8px 0 0 0;font-size:14px;color:#555555;\">\n<strong>Date:</strong> {{$json[\"Date\"]}} &nbsp; | &nbsp;\n<strong>Week:</strong> {{$json[\"Week\"]}}\n</p>\n</td>\n</tr>\n\n<!-- SUMMARY -->\n<tr>\n<td style=\"padding:24px;\">\n<h2 style=\"margin:0 0 12px 0;font-size:18px;\">Summary</h2>\n<p style=\"margin:0;font-size:14px;line-height:1.6;color:#444444;\">\n{{$json[\"Summary\"]}}\n</p>\n</td>\n</tr>\n\n<!-- PAID PERFORMANCE -->\n<tr>\n<td style=\"padding:24px;\">\n<h2 style=\"margin:0 0 12px 0;font-size:18px;\">Paid Performance</h2>\n\n<table width=\"100%\" cellpadding=\"8\" cellspacing=\"0\" border=\"1\" style=\"border-collapse:collapse;font-size:13px;border:1px solid #dddddd;\">\n<tr style=\"background-color:#f9f9f9;\">\n<th align=\"left\">Metric</th>\n<th align=\"left\">Actual</th>\n<th align=\"left\">Target</th>\n<th align=\"left\">Status</th>\n</tr>\n\n<tr><td>Spend</td><td>{{$json[\"Paid Performance\"][\"Spend Actual\"]}}</td><td>{{$json[\"Paid Performance\"][\"Spend Target\"]}}</td><td>{{$json[\"Paid Performance\"][\"Spend Status\"]}}</td></tr>\n<tr><td>Views</td><td>{{$json[\"Paid Performance\"][\"Views Actual\"]}}</td><td>{{$json[\"Paid Performance\"][\"Views Target\"]}}</td><td>{{$json[\"Paid Performance\"][\"Views Status\"]}}</td></tr>\n<tr><td>Likes</td><td>{{$json[\"Paid Performance\"][\"Likes Actual\"]}}</td><td>{{$json[\"Paid Performance\"][\"Likes Target\"]}}</td><td>{{$json[\"Paid Performance\"][\"Likes Status\"]}}</td></tr>\n<tr><td>CPL</td><td>{{$json[\"Paid Performance\"][\"CPL Actual\"]}}</td><td>{{$json[\"Paid Performance\"][\"CPL Target\"]}}</td><td>{{$json[\"Paid Performance\"][\"CPL Status\"]}}</td></tr>\n<tr><td>Shares</td><td>{{$json[\"Paid Performance\"][\"Shares Actual\"]}}</td><td>{{$json[\"Paid Performance\"][\"Shares Target\"]}}</td><td>{{$json[\"Paid Performance\"][\"Shares Status\"]}}</td></tr>\n<tr><td>CPS</td><td>{{$json[\"Paid Performance\"][\"CPS Actual\"]}}</td><td>{{$json[\"Paid Performance\"][\"CPS Target\"]}}</td><td>{{$json[\"Paid Performance\"][\"CPS Status\"]}}</td></tr>\n<tr><td>Followers</td><td>{{$json[\"Paid Performance\"][\"Followers Actual\"]}}</td><td>{{$json[\"Paid Performance\"][\"Followers Target\"]}}</td><td>{{$json[\"Paid Performance\"][\"Followers Status\"]}}</td></tr>\n<tr><td>CPF</td><td>{{$json[\"Paid Performance\"][\"CPF Actual\"]}}</td><td>{{$json[\"Paid Performance\"][\"CPF Target\"]}}</td><td>{{$json[\"Paid Performance\"][\"CPF Status\"]}}</td></tr>\n\n</table>\n</td>\n</tr>\n\n<!-- ORGANIC PERFORMANCE -->\n<tr>\n<td style=\"padding:24px;\">\n<h2 style=\"margin:0 0 12px 0;font-size:18px;\">Organic Performance</h2>\n\n<table width=\"100%\" cellpadding=\"8\" cellspacing=\"0\" border=\"1\" style=\"border-collapse:collapse;font-size:13px;border:1px solid #dddddd;\">\n<tr style=\"background-color:#f9f9f9;\">\n<th align=\"left\">Metric</th>\n<th align=\"left\">Actual</th>\n<th align=\"left\">Target</th>\n<th align=\"left\">Status</th>\n</tr>\n\n<tr><td>Views</td><td>{{$json[\"Organic Performance\"][\"Views Actual\"]}}</td><td>{{$json[\"Organic Performance\"][\"Views Target\"]}}</td><td>{{$json[\"Organic Performance\"][\"Views Status\"]}}</td></tr>\n<tr><td>Reach Growth Rate</td><td>{{$json[\"Organic Performance\"][\"Reach Growth Rate Actual\"]}}</td><td>{{$json[\"Organic Performance\"][\"Reach Growth Rate Target\"]}}</td><td>{{$json[\"Organic Performance\"][\"Reach Growth Rate Status\"]}}</td></tr>\n<tr><td>Likes</td><td>{{$json[\"Organic Performance\"][\"Likes Actual\"]}}</td><td>{{$json[\"Organic Performance\"][\"Likes Target\"]}}</td><td>{{$json[\"Organic Performance\"][\"Likes Status\"]}}</td></tr>\n<tr><td>Shares</td><td>{{$json[\"Organic Performance\"][\"Shares Actual\"]}}</td><td>{{$json[\"Organic Performance\"][\"Shares Target\"]}}</td><td>{{$json[\"Organic Performance\"][\"Shares Status\"]}}</td></tr>\n<tr><td>Engagement Rate</td><td>{{$json[\"Organic Performance\"][\"Engagement Rate Actual\"]}}</td><td>{{$json[\"Organic Performance\"][\"Engagement Rate Target\"]}}</td><td>{{$json[\"Organic Performance\"][\"Engagement Rate Status\"]}}</td></tr>\n<tr><td>Followers</td><td>{{$json[\"Organic Performance\"][\"Followers Actual\"]}}</td><td>{{$json[\"Organic Performance\"][\"Followers Target\"]}}</td><td>{{$json[\"Organic Performance\"][\"Followers Status\"]}}</td></tr>\n<tr><td>Follower Growth Rate</td><td>{{$json[\"Organic Performance\"][\"Follower Growth Rate Actual\"]}}</td><td>{{$json[\"Organic Performance\"][\"Follower Growth Rate Target\"]}}</td><td>{{$json[\"Organic Performance\"][\"Follower Growth Rate Status\"]}}</td></tr>\n\n</table>\n</td>\n</tr>\n\n<!-- BLENDED PERFORMANCE -->\n<tr>\n<td style=\"padding:24px;\">\n<h2 style=\"margin:0 0 12px 0;font-size:18px;\">Blended Performance</h2>\n\n<table width=\"100%\" cellpadding=\"8\" cellspacing=\"0\" border=\"1\" style=\"border-collapse:collapse;font-size:13px;border:1px solid #dddddd;\">\n<tr style=\"background-color:#f9f9f9;\">\n<th align=\"left\">Metric</th>\n<th align=\"left\">Actual</th>\n<th align=\"left\">Target</th>\n<th align=\"left\">Status</th>\n</tr>\n\n<tr><td>Total Views</td><td>{{$json[\"Blended Performance\"][\"Total Views Actual\"]}}</td><td>{{$json[\"Blended Performance\"][\"Total Views Target\"]}}</td><td>{{$json[\"Blended Performance\"][\"Total Views Status\"]}}</td></tr>\n<tr><td>Paid/Organic Views Split</td><td>{{$json[\"Blended Performance\"][\"Paid/Organic Views Split Actual\"]}}</td><td>{{$json[\"Blended Performance\"][\"Paid/Organic Views Split Target\"]}}</td><td>{{$json[\"Blended Performance\"][\"Paid/Organic Views Split Status\"]}}</td></tr>\n<tr><td>Total Followers</td><td>{{$json[\"Blended Performance\"][\"Total Followers Actual\"]}}</td><td>{{$json[\"Blended Performance\"][\"Total Followers Target\"]}}</td><td>{{$json[\"Blended Performance\"][\"Total Followers Status\"]}}</td></tr>\n<tr><td>Paid/Organic Followers Split</td><td>{{$json[\"Blended Performance\"][\"Paid/Organic Followers Split Actual\"]}}</td><td>{{$json[\"Blended Performance\"][\"Paid/Organic Followers Split Target\"]}}</td><td>{{$json[\"Blended Performance\"][\"Paid/Organic Followers Split Status\"]}}</td></tr>\n<tr><td>Blended CPV</td><td>{{$json[\"Blended Performance\"][\"Blended CPV Actual\"]}}</td><td>{{$json[\"Blended Performance\"][\"Blended CPV Target\"]}}</td><td>{{$json[\"Blended Performance\"][\"Blended CPV Status\"]}}</td></tr>\n<tr><td>Blended CPF</td><td>{{$json[\"Blended Performance\"][\"Blended CPF Actual\"]}}</td><td>{{$json[\"Blended Performance\"][\"Blended CPF Target\"]}}</td><td>{{$json[\"Blended Performance\"][\"Blended CPF Status\"]}}</td></tr>\n\n</table>\n</td>\n</tr>\n\n<!-- VS TARGET -->\n<tr>\n<td style=\"padding:24px;\">\n<h2 style=\"margin:0 0 12px 0;font-size:18px;\">vs Target</h2>\n\n<table width=\"100%\" cellpadding=\"8\" cellspacing=\"0\" border=\"1\" style=\"border-collapse:collapse;font-size:13px;border:1px solid #dddddd;\">\n<tr style=\"background-color:#f9f9f9;\">\n<th align=\"left\">Metric</th>\n<th align=\"left\">% of Target</th>\n<th align=\"left\">Status</th>\n</tr>\n\n<tr><td>Views vs Target</td><td>{{$json[\"VS Target\"][\"Views VS Target % of Target\"]}}</td><td>{{$json[\"VS Target\"][\"Views VS Target Status\"]}}</td></tr>\n<tr><td>Followers vs Target</td><td>{{$json[\"VS Target\"][\"Followers VS Target % of Target\"]}}</td><td>{{$json[\"VS Target\"][\"Followers VS Target Status\"]}}</td></tr>\n<tr><td>Spend vs Planned</td><td>{{$json[\"VS Target\"][\"Spend VS Planned % of Target\"]}}</td><td>{{$json[\"VS Target\"][\"Spend VS Planned Status\"]}}</td></tr>\n\n</table>\n</td>\n</tr>\n\n<!-- PLATFORM BREAKDOWN -->\n<tr>\n<td style=\"padding:24px;\">\n<h2 style=\"margin:0 0 12px 0;font-size:18px;\">Platform Breakdown</h2>\n<p style=\"margin:0;font-size:14px;line-height:1.6;color:#444444;\">\n{{$json[\"Platform Breakdown\"]}}\n</p>\n</td>\n</tr>\n\n</table>\n\n</td>\n</tr>\n</table>\n\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -2256,
        1904
      ],
      "id": "f9481d61-3492-431f-8f13-24807c52c520",
      "name": "Send a message",
      "webhookId": "47c3b6d7-dacf-462f-a1a0-e90ec2570f43",
      "credentials": {
        "gmailOAuth2": {
          "id": "CGSyc2j9LllgKdAU",
          "name": "[DS - alec.galvez@designshopp.com] Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are a senior social media performance analyst for Cooking up a Legacy, a food content brand. Your job is to analyze daily social media metrics and flag issues that need attention.\n\nYou will receive a JSON object containing metrics from YouTube, Facebook, and Instagram (both paid and organic), along with target values from our KPI sheet.\n\nYour analysis must:\n1. Compare actual values against targets\n2. Apply the 3-state flag system precisely\n3. Focus on actionable insights, not just data summaries\n4. Be concise. Executives read this daily.\n\nFlag Logic (apply exactly):\n- On Track: Actual is within ±10% of target\n- Warning: Actual is 10-20% off target (above or below)\n- Critical: Actual is >20% off target OR metric shows negative trend for 2+ consecutive periods\n\nRules:\n- For cost metrics (CPV, CPL, CPS, CPF): LOWER is better. Flag \"Critical\" if actual is >20% ABOVE target.\n- For volume metrics (Views, Followers, Likes, Shares): HIGHER is better. Flag \"Critical\" if actual is >20% BELOW target.\n- For Organic Likes, Organic Shares, Organic Engagement Rate: No targets exist. Report the value without a flag.\n- If data is missing or zero, note it as \"No data\" instead of calculating invalid percentages.\n- Do not invent data. Only analyze what is provided.\n\nOutput format: Use the exact structure provided in the user message."
            },
            {
              "content": "=Analyze the social media performance for Cooking up a Legacy on {{ $now.toFormat('yyyy-MM-dd') }}. Current week:\n{{ Math.ceil($now.diff($now.startOf(\"year\"), \"weeks\").weeks) }} | Current quarter: {{ 'Q' + Math.ceil($now.month / 3) }}\n\n{{ $json.result_string }}\n\nRespond with the following the structure exactly.\n\n## Daily Performance Report: Cooking up a Legacy\n**Date:**  {{ $now.toFormat('yyyy-MM-dd') }} | **Week:** {{ Math.ceil($now.diff($now.startOf(\"year\"), \"weeks\").weeks) }}\n\n### Summary\n[1-2 sentence executive summary of overall performance]\n\n### Paid Performance\n| Metric | Actual | Target | Status |\n|--------|--------|--------|--------|\n| Spend | $X | $X | On Track / Warning / Critical |\n| Views | X | X | On Track / Warning / Critical |\n| CPV | $X.XX | $X.XX | On Track / Warning / Critical |\n| Likes | X | X | On Track / Warning / Critical |\n| CPL | $X.XX | $X.XX | On Track / Warning / Critical |\n| Shares | X | X | On Track / Warning / Critical |\n| CPS | $X.XX | $X.XX | On Track / Warning / Critical |\n| Followers | X | X | On Track / Warning / Critical |\n| CPF | $X.XX | $X.XX | On Track / Warning / Critical |\n\n### Organic Performance\n| Metric | Actual | Target | Status |\n|--------|--------|--------|--------|\n| Views | X | X | On Track / Warning / Critical |\n| Reach Growth Rate | X% | — | On Track / Warning / Critical (vs prior week) |\n| Likes | X | — | (no target) |\n| Shares | X | — | (no target) |\n| Engagement Rate | X% | — | (no target) |\n| Followers | X | X | On Track / Warning / Critical |\n| Follower Growth Rate | X% | — | On Track / Warning / Critical (vs prior week) |\n\n### Blended Performance\n| Metric | Actual | Target | Status |\n|--------|--------|--------|--------|\n| Total Views | X | X | On Track / Warning / Critical |\n| Paid/Organic Split | X%/X% | — | (info only) |\n| Total Followers | X | X | On Track / Warning / Critical |\n| Paid/Organic Split | X%/X% | — | (info only) |\n| Blended CPV | $X.XX | — | (info only) |\n| Blended CPF | $X.XX | — | (info only) |\n\n### vs Target\n| Metric | % of Target | Status |\n|--------|-------------|--------|\n| Views vs Target | X% | On Track / Warning / Critical |\n| Followers vs Target | X% | On Track / Warning / Critical |\n| Spend vs Planned | X% | On Track / Warning / Critical |\n\n### Platform Breakdown\n[Brief note on which platform is performing best/worst if notable differences exist]"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -5776,
        -912
      ],
      "id": "6749a0d6-a57d-4ee9-9a86-4e11a42a7a95",
      "name": "Message a model (BACKUP)",
      "credentials": {
        "openAiApi": {
          "id": "cGgSXZ6cb8m5Q3gj",
          "name": "[SpilledMilk - billing@spilledmilk.com] OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are a senior social media performance analyst for Cooking up a Legacy, a food content brand. Your job is to analyze daily social media metrics and flag issues that need attention.\n\nYou will receive a JSON object containing metrics from YouTube, Facebook, and Instagram (both paid and organic), along with target values from our KPI sheet.\n\nYour analysis must:\n1. Compare actual values against targets\n2. Apply the 3-state flag system precisely\n3. Focus on actionable insights, not just data summaries\n4. Be concise. Executives read this daily.\n\nFlag Logic (apply exactly):\n- On Track: Actual is within ±10% of target\n- Warning: Actual is 10-20% off target (above or below)\n- Critical: Actual is >20% off target OR metric shows negative trend for 2+ consecutive periods\n\nRules:\n- For cost metrics (CPV, CPL, CPS, CPF): LOWER is better. Flag \"Critical\" if actual is >20% ABOVE target.\n- For volume metrics (Views, Followers, Likes, Shares): HIGHER is better. Flag \"Critical\" if actual is >20% BELOW target.\n- For Organic Likes, Organic Shares, Organic Engagement Rate: No targets exist. Report the value without a flag.\n- If data is missing or zero, note it as \"No data\" instead of calculating invalid percentages.\n- Do not invent data. Only analyze what is provided.\n\nOutput format: Use the exact structure provided in the user message."
            },
            {
              "content": "=Analyze the social media performance for Cooking up a Legacy on {{ $now.toFormat('yyyy-MM-dd') }}. Current week:\n{{ Math.ceil($now.diff($now.startOf(\"year\"), \"weeks\").weeks) }} | Current quarter: {{ 'Q' + Math.ceil($now.month / 3) }}\n\n{{ $json.result_string }}\n\nRespond with the following structure below. Output should be in JSON form.\n\nName: Cooking up a Legacy\nDate: {{ $now.toFormat('yyyy-MM-dd') }}\nWeek: {{ Math.ceil($now.diff($now.startOf(\"year\"), \"weeks\").weeks) }}\n\nSummary: [1-2 sentence executive summary of overall performance]\n\nPaid Performance\nSpend Actual: ${{ $json.result_json.calculated.spend_actual }}\nSpend Target: ${{ $json.result_json.calculated.spend_target }}\nSpend Status: On Track / Warning / Critical\nViews Actual: {{ $json.result_json.paid.totals.spend }}\nViews Target: {{ $json.result_json.targets.paid_views }}\nViews Status: On Track / Warning / Critical\nLikes Actual: {{ $json.result_json.paid.totals.likes }}\nLikes Target: X\nLikes Status: On Track / Warning / Critical\nCPL Actual: ${{ $json.result_json.paid.totals.cpl_actual }}\nCPL Target: $X.XX\nCPL Status: On Track / Warning / Critical\nShares Actual: {{ $json.result_json.paid.totals.shares }}\nShares Target: X\nShares Status: On Track / Warning / Critical\nCPS Actual: ${{ $json.result_json.paid.totals.cps_actual }}\nCPS Target: $X.XX\nCPS Status: On Track / Warning / Critical\nFollowers Actual: {{ $json.result_json.paid.totals.new_followers }}\nFollowers Target: {{ $json.result_json.targets.paid_followers }}\nFollowers Status: On Track / Warning / Critical\nCPF Actual: ${{ $json.result_json.paid.totals.cpf_actual }}\nCPF Target: $X.XX\nCPF Status: On Track / Warning / Critical\n\nOrganic Performance\nViews Actual: {{ $json.result_json.organic.instagram.views }}\nViews Target: {{ $json.result_json.targets.organic_views }}\nViews Status: On Track / Warning / Critical\nReach Growth Rate Actual: {{ $json.result_json.calculated.reach_growth_rate_actual }}%\nReach Growth Rate Target: — \nReach Growth Rate Status: On Track / Warning / Critical (vs prior week)\nLikes Actual: {{ $json.result_json.organic.totals.likes }}\nLikes Target: — \nLikes Status: (no target)\nShares Actual: {{ $json.result_json.organic.totals.shares }}\nShares Target: — \nShares Status: (no target)\nEngagement Rate Actual: {{ $json.result_json.calculated.engagement_rate_actual }}%\nEngagement Rate Target: — \nEngagement Rate Status: (no target)\nFollowers Actual: {{ $json.result_json.organic.totals.new_followers }}\nFollowers Target: X\nFollowers Status: On Track / Warning / Critical\nFollower Growth Rate Actual: {{ $json.result_json.calculated.follower_growth_rate_actual }}%\nFollower Growth Rate Target: —\nFollower Growth Rate Status: On Track / Warning / Critical (vs prior week)\n\nBlended Performance\nTotal Views Actual: {{ $json.result_json.calculated.total_views }}\nTotal Views Target: {{ $json.result_json.targets.total_views }}\nTotal Views Status: On Track / Warning / Critical\nPaid/Organic Views Split Actual: {{ $json.result_json.calculated.paid_organic_views_split_actual }}\nPaid/Organic Views Split Target: —\nPaid/Organic Views Split Status: (info only)\nTotal Followers Actual: {{ $json.result_json.calculated.total_followers }}\nTotal Followers Target: {{ $json.result_json.targets.total_followers }}\nTotal Followers Status: On Track / Warning / Critical\nPaid/Organic Followers Split Actual: {{ $json.result_json.calculated.paid_organic_followers_split_actual }}\nPaid/Organic Followers Split Target: —\nPaid/Organic Followers Split Status: (info only)\nBlended CPV Actual: ${{ $json.result_json.calculated.blended_cpv_actual }}\nBlended CPV Target: —\nBlended CPV Status: On Track / Warning / Critical\nBlended CPF Actual: ${{ $json.result_json.calculated.blended_cpf_actual }}\nBlended CPF Target: —\nBlended CPF Status: On Track / Warning / Critical\n\nVS Target\nViews VS Target % of Target: {{ $json.result_json.vs_target.views_vs_target_pct }}%\nViews VS Target Status: On Track / Warning / Critical\nFollowers VS Target % of Target: {{ $json.result_json.vs_target.followers_vs_target_pct }}%\nFollowers VS Target Status: On Track / Warning / Critical\nSpend VS Planned % of Target: X%\nSpend VS Planned Status: On Track / Warning / Critical\n\n\nPlatform Breakdown: [Brief note on which platform is performing best/worst if notable differences exist]"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -2848,
        2000
      ],
      "id": "d5d8b2ea-e20d-40dd-8808-b61880bfe1ef",
      "name": "Message a model (JSON OUTPUT)",
      "credentials": {
        "openAiApi": {
          "id": "cGgSXZ6cb8m5Q3gj",
          "name": "[SpilledMilk - billing@spilledmilk.com] OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get raw output from previous node\nlet raw = $input.first().json.output[0].content[0].text;\n\n// Ensure it's a string\nif (typeof raw !== 'string') {\n  throw new Error('Input is not a string');\n}\n\n// Remove markdown code block wrappers\nraw = raw\n  .replace(/^\\s*```json\\s*|^\\s*```\\s*/gi, '')\n  .replace(/```$/, '')\n  .trim();\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(raw);\n} catch (error) {\n  throw new Error('Failed to parse JSON: ' + error.message);\n}\n\n// Return proper JSON object\nreturn [\n  {\n    json: parsed\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2496,
        2000
      ],
      "id": "4afc6724-0045-4cef-bc26-366cec8f7623",
      "name": "Convert OpenAI Output to an actual JSON"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tKBh4qL7F2pKGoKhNXK7iX_LC7jbbXqziC_S25zwem8",
          "mode": "list",
          "cachedResultName": "CUAL Automation Execution Logger",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tKBh4qL7F2pKGoKhNXK7iX_LC7jbbXqziC_S25zwem8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Executions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tKBh4qL7F2pKGoKhNXK7iX_LC7jbbXqziC_S25zwem8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATE": "={{ $json.Date }}",
            "KPIs SUMMARY": "={{ $json.Summary }}",
            "CLIENT": "={{ $json.Name }}",
            "EMAIL SENT TO": "joe@designshopp.com",
            "REPORT DATE": "={{ $now.toFormat('yyyy-MM-dd') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATE",
              "displayName": "DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CLIENT",
              "displayName": "CLIENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "REPORT DATE",
              "displayName": "REPORT DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EMAIL SENT TO",
              "displayName": "EMAIL SENT TO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "KPIs SUMMARY",
              "displayName": "KPIs SUMMARY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2240,
        2096
      ],
      "id": "2a1eaed2-af26-493d-8834-50fe10fa46e1",
      "name": "Update Execution Logger: Email sent",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "l0vUx3jpXgDL4Fs3",
          "name": "[CUAL - cookingupalegacy@gmail.com] Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all input data\nconst allData = $input.all().map(item => item.json);\n\n// Initialize structures\nconst paid = { youtube: {}, facebook: {}, instagram: {}, totals: {} };\nconst organic = { youtube: {}, facebook: {}, instagram: {}, totals: {} };\nconst prior_week = { \n  organic_views: 0, \n  organic_followers: 0,\n  //organic_est_mins_watched: 0\n};\nconst calculated = {};\nconst targets = {};\nconst vs_target = {};\n\n// Helper to sum totals\nfunction sum(values) {\n  return values.reduce((a, b) => a + (b || 0), 0);\n}\n\n// ---- 1️⃣ Separate Paid & Organic ----\nallData.forEach(data => {\n  Object.keys(data).forEach(key => {\n    const value = Number(data[key]) || 0;\n\n    // ===== PAID METRICS =====\n    if (key.endsWith(\"Paid_totalSpend\")) {\n      if (key.startsWith(\"YT\")) paid.youtube.spend = value;\n      if (key.startsWith(\"FB\")) paid.facebook.spend = value;\n      if (key.startsWith(\"IG\")) paid.instagram.spend = value;\n    }\n    if (key.endsWith(\"Paid_totalViews\")) {\n      if (key.startsWith(\"YT\")) paid.youtube.views = value;\n      if (key.startsWith(\"FB\")) paid.facebook.views = value;\n      if (key.startsWith(\"IG\")) paid.instagram.views = value;\n    }\n    if (key.endsWith(\"Paid_totalLikes\")) {\n      if (key.startsWith(\"YT\")) paid.youtube.likes = value;\n      if (key.startsWith(\"FB\")) paid.facebook.likes = value;\n      if (key.startsWith(\"IG\")) paid.instagram.likes = value;\n    }\n    if (key.endsWith(\"Paid_totalShares\")) {\n      if (key.startsWith(\"YT\")) paid.youtube.shares = value;\n      if (key.startsWith(\"FB\")) paid.facebook.shares = value;\n      if (key.startsWith(\"IG\")) paid.instagram.shares = value;\n    }\n    if (key.endsWith(\"Paid_totalFollowers\")) {\n      if (key.startsWith(\"YT\")) paid.youtube.new_followers = value;\n      if (key.startsWith(\"FB\")) paid.facebook.new_followers = value;\n      if (key.startsWith(\"IG\")) paid.instagram.new_followers = value;\n    }\n\n    // Capture CPV, CPL, CPS, CPF per platform\n    if (key.endsWith(\"Paid_CPV\")) {\n      if (key.startsWith(\"YT\")) paid.youtube.cpv = value;\n      if (key.startsWith(\"FB\")) paid.facebook.cpv = value;\n      if (key.startsWith(\"IG\")) paid.instagram.cpv = value;\n    }\n    if (key.endsWith(\"Paid_CPL\")) {\n      if (key.startsWith(\"YT\")) paid.youtube.cpl = value;\n      if (key.startsWith(\"FB\")) paid.facebook.cpl = value;\n      if (key.startsWith(\"IG\")) paid.instagram.cpl = value;\n    }\n    if (key.endsWith(\"Paid_CPS\")) {\n      if (key.startsWith(\"YT\")) paid.youtube.cps = value;\n      if (key.startsWith(\"FB\")) paid.facebook.cps = value;\n      if (key.startsWith(\"IG\")) paid.instagram.cps = value;\n    }\n    if (key.endsWith(\"Paid_CPF\")) {\n      if (key.startsWith(\"YT\")) paid.youtube.cpf = value;\n      if (key.startsWith(\"FB\")) paid.facebook.cpf = value;\n      if (key.startsWith(\"IG\")) paid.instagram.cpf = value;\n    }\n\n    // ===== ORGANIC METRICS =====\n    if (key.endsWith(\"Organic_totalViews\")) {\n      if (key.startsWith(\"YT\")) organic.youtube.views = value;\n      if (key.startsWith(\"FB\")) organic.facebook.views = value;\n      if (key.startsWith(\"IG\")) organic.instagram.views = value;\n    }\n    if (key.endsWith(\"Organic_totalLikes\")) {\n      if (key.startsWith(\"YT\")) organic.youtube.likes = value;\n      if (key.startsWith(\"FB\")) organic.facebook.likes = value;\n      if (key.startsWith(\"IG\")) organic.instagram.likes = value;\n    }\n    if (key.endsWith(\"Organic_totalShares\")) {\n      if (key.startsWith(\"YT\")) organic.youtube.shares = value;\n      if (key.startsWith(\"FB\")) organic.facebook.shares = value;\n      if (key.startsWith(\"IG\")) organic.instagram.shares = value;\n    }\n    if (key.endsWith(\"Organic_totalFollowers\")) {\n      if (key.startsWith(\"YT\")) organic.youtube.new_followers = value;\n      if (key.startsWith(\"FB\")) organic.facebook.new_followers = value;\n      if (key.startsWith(\"IG\")) organic.instagram.new_followers = value;\n    }\n\n    // Estimated minutes watched (YouTube)\n    if (key === \"YTOrganic_estMinsWatched\") {\n      organic.youtube.est_mins_watched = value;\n    }\n\n    // PRIOR WEEK (only organic)\n    if (key.endsWith(\"Organic_totalViews_PRIOR\")) prior_week.organic_views += value;\n    if (key.endsWith(\"Organic_totalFollowers_PRIOR\")) prior_week.organic_followers += value;\n    //if (key === \"YTOrganic_estMinsWatched_PRIOR\") {\n    //  prior_week.organic_est_mins_watched = value;\n    //}\n\n    // TARGETS\n    if (key.endsWith(\"Target_TotalViews\")) targets.total_views = (targets.total_views || 0) + value;\n    if (key.endsWith(\"Target_TotalNewFollowers\")) targets.total_followers = (targets.total_followers || 0) + value;\n  });\n});\n\n// ---- 2️⃣ Compute Paid & Organic Totals ----\npaid.totals = {\n  spend: sum([paid.youtube.spend, paid.facebook.spend, paid.instagram.spend]),\n  views: sum([paid.youtube.views, paid.facebook.views, paid.instagram.views]),\n  likes: sum([paid.youtube.likes, paid.facebook.likes, paid.instagram.likes]),\n  shares: sum([paid.youtube.shares, paid.facebook.shares, paid.instagram.shares]),\n  new_followers: sum([paid.youtube.new_followers, paid.facebook.new_followers, paid.instagram.new_followers])\n};\n\norganic.totals = {\n  views: sum([organic.youtube.views, organic.facebook.views, organic.instagram.views]),\n  likes: sum([organic.youtube.likes, organic.facebook.likes, organic.instagram.likes]),\n  shares: sum([organic.youtube.shares, organic.facebook.shares, organic.instagram.shares]),\n  new_followers: sum([organic.youtube.new_followers, organic.facebook.new_followers, organic.instagram.new_followers])\n};\n\n// ---- 3️⃣ Calculated Metrics ----\ncalculated.total_views = paid.totals.views + organic.totals.views;\ncalculated.total_followers = paid.totals.new_followers + organic.totals.new_followers;\n\ncalculated.blended_cpv = calculated.total_views\n  ? paid.totals.spend / calculated.total_views\n  : 0;\n\ncalculated.blended_cpf = calculated.total_followers\n  ? paid.totals.spend / calculated.total_followers\n  : 0;\n\n// ---- 4️⃣ VS Target Metrics ----\nvs_target.views_vs_target_pct = targets.total_views\n  ? (calculated.total_views / targets.total_views) * 100\n  : 0;\n\nvs_target.followers_vs_target_pct = targets.total_followers\n  ? (calculated.total_followers / targets.total_followers) * 100\n  : 0;\n\n// ---- 5️⃣ Final combined object ----\nconst finalOutput = {\n  paid,\n  organic,\n  prior_week,\n  calculated,\n  targets,\n  vs_target\n};\n\n// ---- 6️⃣ Return BOTH string + non-string JSON ----\nreturn [\n  {\n    json: {\n      result_string: JSON.stringify(finalOutput),\n      result_json: finalOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5776,
        176
      ],
      "id": "ee6ae126-474c-4b80-b835-7754e037b472",
      "name": "Get all data (OLD BACKUP)"
    },
    {
      "parameters": {
        "jsCode": "// Get all input data\nconst allData = $input.all().map(item => item.json);\n\n// ----------------------------\n// Initialize Structures\n// ----------------------------\nconst paid = { youtube: {}, facebook: {}, instagram: {}, totals: {} };\nconst organic = { youtube: {}, facebook: {}, instagram: {}, totals: {} };\n\nconst prior_week = {\n  organic_views: 0,\n  organic_followers: 0,\n  organic_est_mins_watched: 0\n};\n\nconst calculated = {};\nconst targets = {\n  paid_views: 0,\n  organic_views: 0,\n  total_views: 0,\n  paid_followers: 0,\n  organic_followers: 0,\n  total_followers: 0\n};\n\nconst vs_target = {};\n\nfunction sum(values) {\n  return values.reduce((a, b) => a + (b || 0), 0);\n}\n\n// Round number to n decimals\nfunction round(value, decimals) {\n  return Number(Number(value).toFixed(decimals));\n}\n\nfunction formatSplit(paidValue, organicValue) {\n  const total = paidValue + organicValue;\n  if (!total) return \"0% / 0%\";\n  const paidPct = (paidValue / total) * 100;\n  const organicPct = (organicValue / total) * 100;\n  return `${paidPct.toFixed(2)}% / ${organicPct.toFixed(2)}%`;\n}\n\n// Convert minutes to hours (decimal)\nfunction minsToHours(mins) {\n  return round((Number(mins) || 0) / 60, 2);\n}\n\n// ----------------------------\n// 1️⃣ Extract Data\n// ----------------------------\nallData.forEach(data => {\n  Object.keys(data).forEach(key => {\n    const value = Number(data[key]) || 0;\n\n    // ===== PAID =====\n    if (key.endsWith(\"Paid_totalSpend\")) {\n      if (key.startsWith(\"YT\")) paid.youtube.spend = value;\n      if (key.startsWith(\"FB\")) paid.facebook.spend = value;\n      if (key.startsWith(\"IG\")) paid.instagram.spend = value;\n    }\n\n    if (key.endsWith(\"Paid_totalImpressions\")) {\n      if (key.startsWith(\"FB\")) paid.facebook.impressions = value;\n      if (key.startsWith(\"IG\")) paid.instagram.impressions = value;\n      // (YT not provided in your input)\n    }\n\n    if (key.endsWith(\"Paid_totalReach\")) {\n      if (key.startsWith(\"FB\")) paid.facebook.reach = value;\n      if (key.startsWith(\"IG\")) paid.instagram.reach = value;\n      // (YT not provided in your input)\n    }\n\n    if (key.endsWith(\"Paid_totalViews\")) {\n      if (key.startsWith(\"YT\")) paid.youtube.views = value;\n      if (key.startsWith(\"FB\")) paid.facebook.views = value;\n      if (key.startsWith(\"IG\")) paid.instagram.views = value;\n    }\n\n    if (key.endsWith(\"Paid_totalLikes\")) {\n      if (key.startsWith(\"YT\")) paid.youtube.likes = value;\n      if (key.startsWith(\"FB\")) paid.facebook.likes = value;\n      if (key.startsWith(\"IG\")) paid.instagram.likes = value;\n    }\n\n    if (key.endsWith(\"Paid_totalShares\")) {\n      if (key.startsWith(\"YT\")) paid.youtube.shares = value;\n      if (key.startsWith(\"FB\")) paid.facebook.shares = value;\n      if (key.startsWith(\"IG\")) paid.instagram.shares = value;\n    }\n\n    if (key.endsWith(\"Paid_totalFollowers\")) {\n      if (key.startsWith(\"YT\")) paid.youtube.new_followers = value;\n      if (key.startsWith(\"FB\")) paid.facebook.new_followers = value;\n      if (key.startsWith(\"IG\")) paid.instagram.new_followers = value;\n    }\n\n    if (key.endsWith(\"Paid_CPV\")) {\n      if (key.startsWith(\"YT\")) paid.youtube.cpv = value;\n      if (key.startsWith(\"FB\")) paid.facebook.cpv = value;\n      if (key.startsWith(\"IG\")) paid.instagram.cpv = value;\n    }\n\n    if (key.endsWith(\"Paid_CPL\")) {\n      if (key.startsWith(\"YT\")) paid.youtube.cpl = value;\n      if (key.startsWith(\"FB\")) paid.facebook.cpl = value;\n      if (key.startsWith(\"IG\")) paid.instagram.cpl = value;\n    }\n\n    if (key.endsWith(\"Paid_CPS\")) {\n      if (key.startsWith(\"YT\")) paid.youtube.cps = value;\n      if (key.startsWith(\"FB\")) paid.facebook.cps = value;\n      if (key.startsWith(\"IG\")) paid.instagram.cps = value;\n    }\n\n    if (key.endsWith(\"Paid_CPF\")) {\n      if (key.startsWith(\"YT\")) paid.youtube.cpf = value;\n      if (key.startsWith(\"FB\")) paid.facebook.cpf = value;\n      if (key.startsWith(\"IG\")) paid.instagram.cpf = value;\n    }\n\n    // ===== ORGANIC =====\n    if (key.endsWith(\"Organic_totalViews\") && !key.endsWith(\"_PRIOR\")) {\n      if (key.startsWith(\"YT\")) organic.youtube.views = value;\n      if (key.startsWith(\"FB\")) organic.facebook.views = value;\n      if (key.startsWith(\"IG\")) organic.instagram.views = value;\n    }\n\n    if (key.endsWith(\"Organic_totalLikes\") && !key.endsWith(\"_PRIOR\")) {\n      if (key.startsWith(\"YT\")) organic.youtube.likes = value;\n      if (key.startsWith(\"FB\")) organic.facebook.likes = value;\n      if (key.startsWith(\"IG\")) organic.instagram.likes = value;\n    }\n\n    if (key.endsWith(\"Organic_totalShares\") && !key.endsWith(\"_PRIOR\")) {\n      if (key.startsWith(\"YT\")) organic.youtube.shares = value;\n      if (key.startsWith(\"FB\")) organic.facebook.shares = value;\n      if (key.startsWith(\"IG\")) organic.instagram.shares = value;\n    }\n\n    if (key.endsWith(\"Organic_totalFollowers\") && !key.endsWith(\"_PRIOR\")) {\n      if (key.startsWith(\"YT\")) organic.youtube.new_followers = value;\n      if (key.startsWith(\"FB\")) organic.facebook.new_followers = value;\n      if (key.startsWith(\"IG\")) organic.instagram.new_followers = value;\n    }\n\n    // Convert YT est minutes watched to hours\n    if (key === \"YTOrganic_estMinsWatched\") {\n      organic.youtube.est_hours_watched = minsToHours(value);\n    }\n\n    // PRIOR\n    if (key.endsWith(\"Organic_totalViews_PRIOR\")) prior_week.organic_views += value;\n    if (key.endsWith(\"Organic_totalFollowers_PRIOR\")) prior_week.organic_followers += value;\n\n    // Convert PRIOR YT est minutes watched to hours too (optional but usually desired)\n    if (key === \"YTOrganic_estMinsWatched_PRIOR\") {\n      prior_week.organic_est_hours_watched = minsToHours(value);\n      prior_week.organic_est_mins_watched = value; // keep original minutes if you still need it\n    }\n\n    // TARGETS\n    if (key.endsWith(\"Target_PaidViews\")) targets.paid_views += value;\n    if (key.endsWith(\"Target_OrganicViews\")) targets.organic_views += value;\n    if (key.endsWith(\"Target_TotalViews\")) targets.total_views += value;\n    if (key.endsWith(\"Target_PaidFollowers\")) targets.paid_followers += value;\n    if (key.endsWith(\"Target_OrganicFollowers\")) targets.organic_followers += value;\n    if (key.endsWith(\"Target_TotalNewFollowers\")) targets.total_followers += value;\n  });\n});\n\n// ----------------------------\n// 2️⃣ Paid & Organic Totals\n// ----------------------------\npaid.totals = {\n  spend: sum([paid.youtube.spend, paid.facebook.spend, paid.instagram.spend]),\n  impressions: sum([paid.facebook.impressions, paid.instagram.impressions]),\n  reach: sum([paid.facebook.reach, paid.instagram.reach]),\n  views: sum([paid.youtube.views, paid.facebook.views, paid.instagram.views]),\n  likes: sum([paid.youtube.likes, paid.facebook.likes, paid.instagram.likes]),\n  shares: sum([paid.youtube.shares, paid.facebook.shares, paid.instagram.shares]),\n  new_followers: sum([paid.youtube.new_followers, paid.facebook.new_followers, paid.instagram.new_followers]),\n  cpv_actual: round(sum([paid.youtube.cpv, paid.facebook.cpv, paid.instagram.cpv]), 4),\n  cpl_actual: round(sum([paid.youtube.cpl, paid.facebook.cpl, paid.instagram.cpl]), 4),\n  cps_actual: round(sum([paid.youtube.cps, paid.facebook.cps, paid.instagram.cps]), 4),\n  cpf_actual: round(sum([paid.youtube.cpf, paid.facebook.cpf, paid.instagram.cpf]), 4)\n};\n\norganic.totals = {\n  views: sum([organic.youtube.views, organic.facebook.views, organic.instagram.views]),\n  likes: sum([organic.youtube.likes, organic.facebook.likes, organic.instagram.likes]),\n  shares: sum([organic.youtube.shares, organic.facebook.shares, organic.instagram.shares]),\n  new_followers: sum([organic.youtube.new_followers, organic.facebook.new_followers, organic.instagram.new_followers]),\n  // Only YT provided in your input; if later you add FB/IG watch-time, include them here\n  est_hours_watched: sum([organic.youtube.est_hours_watched])\n};\n\n// ----------------------------\n// 3️⃣ Calculated Metrics\n// ----------------------------\ncalculated.spend_actual = round(paid.totals.spend, 2);\ncalculated.total_views = paid.totals.views + organic.totals.views;\ncalculated.total_followers = paid.totals.new_followers + organic.totals.new_followers;\n\n// Useful rollups (optional, but usually why you asked for Impressions/Reach)\ncalculated.total_paid_impressions = paid.totals.impressions;\ncalculated.total_paid_reach = paid.totals.reach;\n\n// Keep your existing metrics\ncalculated.blended_cpv_actual = calculated.total_views ? round(paid.totals.spend / calculated.total_views, 4) : 0;\ncalculated.blended_cpf_actual = calculated.total_followers ? round(paid.totals.spend / calculated.total_followers, 4) : 0;\n\ncalculated.cpv_actual = paid.totals.cpv_actual;\ncalculated.cpl_actual = paid.totals.cpl_actual;\ncalculated.cps_actual = paid.totals.cps_actual;\ncalculated.cpf_actual = paid.totals.cpf_actual;\n\ncalculated.engagement_rate_actual = organic.totals.views\n  ? round(((organic.totals.likes + organic.totals.shares) / organic.totals.views) * 100, 2)\n  : 0;\n\ncalculated.reach_growth_rate_actual = prior_week.organic_views\n  ? round(((organic.totals.views - prior_week.organic_views) / prior_week.organic_views) * 100, 2)\n  : 0;\n\ncalculated.follower_growth_rate_actual = prior_week.organic_followers\n  ? round(((organic.totals.new_followers - prior_week.organic_followers) / prior_week.organic_followers) * 100, 2)\n  : 0;\n\ncalculated.paid_organic_views_split_actual = formatSplit(paid.totals.views, organic.totals.views);\ncalculated.paid_organic_followers_split_actual = formatSplit(paid.totals.new_followers, organic.totals.new_followers);\n\ncalculated.spend_target = targets.paid_views ? round(calculated.blended_cpv_actual * targets.paid_views, 2) : 0;\n\n// ----------------------------\n// 4️⃣ VS Target\n// ----------------------------\nvs_target.views_vs_target_pct = targets.total_views ? round((calculated.total_views / targets.total_views) * 100, 2) : 0;\nvs_target.followers_vs_target_pct = targets.total_followers ? round((calculated.total_followers / targets.total_followers) * 100, 2) : 0;\nvs_target.spend_vs_planned_pct = calculated.spend_target ? round((calculated.spend_actual / calculated.spend_target) * 100, 2) : 0;\n\n// ----------------------------\n// 5️⃣ Final Output\n// ----------------------------\nconst finalOutput = {\n  paid,\n  organic,\n  prior_week,\n  calculated,\n  targets,\n  vs_target\n};\n\nreturn [\n  {\n    json: {\n      result_string: JSON.stringify(finalOutput),\n      result_json: finalOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3072,
        2384
      ],
      "id": "74e3feec-b6a2-40b1-9a87-520147c52edf",
      "name": "Get all data (NEW)"
    },
    {
      "parameters": {
        "errorMessage": "Error on \"YT Organic: Views, Likes, Shares, Subscriber Count, and Ave Minutes Watched\" node"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -5776,
        -688
      ],
      "id": "39e4522f-6a26-4b1f-ac43-77bdc30c00f7",
      "name": "Error on YT Organic: Views, Likes, Shares, Subscriber Count, and Ave Minutes Watched"
    },
    {
      "parameters": {
        "errorMessage": "Error on \"YT Paid: Views\" node"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -5552,
        -48
      ],
      "id": "a108e878-a32b-4bb8-9cc0-d384f95d27ca",
      "name": "Error on YT Paid: Views"
    },
    {
      "parameters": {
        "errorMessage": "Error on \"FB Organic: Views and Followers\" node"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -5104,
        1520
      ],
      "id": "6fbeb9c0-b220-4e92-8ff8-47a46c49b61c",
      "name": "Error on \"FB Organic: Views and Followers\""
    },
    {
      "parameters": {
        "errorMessage": "Error on \"FB Organic: Likes and Shares\" node"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -4880,
        1424
      ],
      "id": "c34ab57e-149e-42ee-ad35-eea071dce655",
      "name": "Error on \"FB Organic: Likes and Shares\""
    },
    {
      "parameters": {
        "errorMessage": "Error on \"IG Organic: Views and Followers\" node"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -5104,
        1904
      ],
      "id": "606fe4c4-70e6-402b-a561-191ecb61fe5d",
      "name": "Error on \"IG Organic: Views and Followers\""
    },
    {
      "parameters": {
        "errorMessage": "Error on \"IG Organic: Likes and Shares\" node"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -4880,
        1808
      ],
      "id": "72dc4f1a-e8f0-4ded-905e-dde5971917b8",
      "name": "Error on \"IG Organic: Likes and Shares\""
    },
    {
      "parameters": {
        "errorMessage": "Error on \"FB Paid: Spend, Views, Likes, Shares, Followers\" node"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -4880,
        2192
      ],
      "id": "2e7e6c8d-c3cb-472f-9110-de91037444d9",
      "name": "Error on \"FB Paid: Spend, Views, Likes, Shares, Followers\""
    },
    {
      "parameters": {
        "errorMessage": "Error on \"IG Paid: Spend, Views, Likes, Shares, Followers\" node"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -4880,
        2576
      ],
      "id": "a0b6af4c-0cdf-4e77-b0a5-b0cf9e40c66a",
      "name": "Error on \"IG Paid: Spend, Views, Likes, Shares, Followers\""
    },
    {
      "parameters": {
        "errorMessage": "Error on \"PRIOR WEEK | YT Organic: Views, Likes, Shares, Subscriber Count, and Ave Minutes Watched\" node"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -4880,
        3152
      ],
      "id": "1363e88e-ccbf-4822-b587-e90c40373900",
      "name": "Error on \"PRIOR WEEK | YT Organic: Views, Likes, Shares, Subscriber Count, and Ave Minutes Watched\""
    },
    {
      "parameters": {
        "errorMessage": "Error on \"PRIOR WEEK | FB Organic: Views and Followers\" node"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -5104,
        3632
      ],
      "id": "54ac5fb6-4ca9-4cc0-8a71-8ad7e4fc718b",
      "name": "Error on \"PRIOR WEEK | FB Organic: Views and Followers\""
    },
    {
      "parameters": {
        "errorMessage": "Error on \"PRIOR WEEK | FB Organic: Likes and Shares\" node"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -4880,
        3536
      ],
      "id": "4e845929-f34b-4b95-9c05-5ae4d71597a9",
      "name": "Error on \"PRIOR WEEK | FB Organic: Likes and Shares\""
    },
    {
      "parameters": {
        "errorMessage": "Error on \"PRIOR WEEK | IG Organic: Views and Followers\" node"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -5104,
        4016
      ],
      "id": "8400e94b-369b-4561-8108-60a9f3c83cf0",
      "name": "Error on \"PRIOR WEEK | IG Organic: Views and Followers\""
    },
    {
      "parameters": {
        "errorMessage": "Error on \"PRIOR WEEK | IG Organic: Likes and Shares\" node"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -4880,
        3920
      ],
      "id": "b59dd7b2-af04-4213-af94-255091431ff8",
      "name": "Error on \"PRIOR WEEK | IG Organic: Likes and Shares\""
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3296,
        2384
      ],
      "id": "aaacadc0-64db-42e9-a909-8e62e0fb622e",
      "name": "Wait",
      "webhookId": "a3cb0ddf-ac95-41d1-af9f-4ec10765c86f"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\nif (!data || !data.rows) {\n  throw new Error(\"Data or data.rows is undefined\");\n}\nlet YTOrganic_totalViews = 0;\nlet YTOrganic_totalLikes = 0;\nlet YTOrganic_totalShares = 0;\nlet YTOrganic_totalFollowers = 0;\nlet YTOrganic_estMinsWatched = 0;\n\nfor (const row of data.rows) {\n  YTOrganic_totalViews += row[1];\n  YTOrganic_totalLikes += row[2];\n  YTOrganic_totalShares += row[3];\n  YTOrganic_totalFollowers += row[4];\n  YTOrganic_estMinsWatched += row[5];\n}\n\nreturn [\n  {\n    json: {\n      YTOrganic_totalViews,\n      YTOrganic_totalLikes,\n      YTOrganic_totalShares,\n      YTOrganic_totalFollowers,\n      YTOrganic_estMinsWatched\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5776,
        -464
      ],
      "id": "c030f809-64b3-4e0e-bebe-626c009d962c",
      "name": "(BACKUP) Format Data: YT Organic Views, Likes, Shares, Followers, Est. Mins Watched"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\n\nlet advertisingViews = 0;\ntry {\n  const trafficRows = $(\"YT Paid: Views Only\").first().json.rows;\n  for (const row of trafficRows) {\n    if (row[0] === \"ADVERTISING\") {\n      advertisingViews = row[1];\n      break;\n    }\n  }\n} catch (e) {\n  advertisingViews = 0;\n}\n\nreturn [\n  {\n    json: {\n      YTOrganic_totalViews: data.YTOrganic_totalViews - advertisingViews,\n      YTOrganic_totalLikes: data.YTOrganic_totalLikes,\n      YTOrganic_totalShares: data.YTOrganic_totalShares,\n      YTOrganic_totalFollowers: data.YTOrganic_totalFollowers,\n      YTOrganic_estMinsWatched: data.YTOrganic_estMinsWatched\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5552,
        -464
      ],
      "id": "51a4340e-1912-4cbc-8192-1f43b68ff9f3",
      "name": "[BACKUP] Subtract YT Advertising Views"
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items (from Merge node)\nconst items = $input.all();\n\n// First item = Organic daily table\nconst organicTable = items[0]?.json;\n\n// Second item = Traffic source table\nconst trafficTable = items[1]?.json;\n\n/* =========================\n   ORGANIC TOTALS\n========================= */\n\nlet YTOrganic_totalViews = 0;\nlet YTOrganic_totalLikes = 0;\nlet YTOrganic_totalShares = 0;\nlet YTOrganic_totalFollowers = 0;\nlet YTOrganic_estMinsWatched = 0;\n\n// Sum from daily table\nif (organicTable?.rows?.length) {\n  organicTable.rows.forEach(row => {\n    YTOrganic_totalViews += Number(row[1] || 0);\n    YTOrganic_totalLikes += Number(row[2] || 0);\n    YTOrganic_totalShares += Number(row[3] || 0);\n    YTOrganic_totalFollowers += Number(row[4] || 0);\n    YTOrganic_estMinsWatched += Number(row[5] || 0);\n  });\n}\n\n/* =========================\n   PAID TOTALS\n========================= */\n\nlet YTPaid_totalViews = 0;\n\n// Sum only ADVERTISING\nif (trafficTable?.rows?.length) {\n  trafficTable.rows.forEach(row => {\n    const source = row[0];\n    const views = Number(row[1] || 0);\n\n    if (source === \"ADVERTISING\") {\n      YTPaid_totalViews += views;\n    }\n  });\n}\n\n// Calculate true organic = all traffic except ADVERTISING\nconst YTOrganic_totalViews_corrected = YTOrganic_totalViews - YTPaid_totalViews;\n\n// Not available in traffic JSON\nlet YTPaid_totalLikes = 0;\nlet YTPaid_totalShares = 0;\nlet YTPaid_totalFollowers = 0;\nlet YTPaid_CPV = 0;\nlet YTPaid_CPL = 0;\nlet YTPaid_CPS = 0;\nlet YTPaid_CPF = 0;\n\n/* =========================\n   RETURN OUTPUT\n========================= */\n\nreturn [\n  {\n    json: {\n      YTOrganic_totalViews: YTOrganic_totalViews_corrected,\n      YTOrganic_totalLikes,\n      YTOrganic_totalShares,\n      YTOrganic_totalFollowers,\n      YTOrganic_estMinsWatched,\n      YTPaid_totalViews,\n      YTPaid_totalLikes,\n      YTPaid_totalShares,\n      YTPaid_totalFollowers,\n      YTPaid_CPV,\n      YTPaid_CPL,\n      YTPaid_CPS,\n      YTPaid_CPF\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4880,
        944
      ],
      "id": "c2e12646-03ac-4766-9748-ee40f2a9428f",
      "name": "Format Data: YT Organic and Paid"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -5104,
        944
      ],
      "id": "e0a041f4-58d1-4f75-b0ea-e0b1c51c22e3",
      "name": "Merge YT Organic and Paid Views"
    },
    {
      "parameters": {
        "url": "https://youtubeanalytics.googleapis.com/v2/reports",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"ids\": \"channel==UC4fnMqD3QD33iSmrIKJ57Ow\",\n  \"metrics\": \"views\",\n  \"dimensions\": \"insightTrafficSourceType\",\n  \"startDate\": \"{{ $json.start_date }}\",\n  \"endDate\": \"{{ $json.end_date }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5328,
        1040
      ],
      "id": "e5c48ad9-99e5-488e-865a-63e3c4da18b4",
      "name": "YT Paid: Views Only",
      "credentials": {
        "googleOAuth2Api": {
          "id": "Gnjz9LZnjDBoeLp9",
          "name": "[CUAL - cookingupalegacy@gmail.com] Google account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "Diagnostic Node to Test responses",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6160,
        1200
      ],
      "typeVersion": 1,
      "id": "edaedd63-231c-467b-901e-b71a43f48703",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v24.0/17841461428303569/insights",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"access_token\": \"EAAUT3CZAvdJ4BQ4Y146zSK3KwggiOusCZBWQPaANyABBdj71W3ZBgTuV7WqR0O5jF9sSZByYcluy1O9ZCelL5AYtZBBzdllIyyb6TZAXZCHigPkDT5bMnu9dJ2GEkMZCyh576BzBVkM5HqQRdvythcA1mGnZAxICNiWpHwp1iiIsUDH8eZAu2YGoZBYPb7B59nDCMHUBb3MZD\",\n  \"metric\": \"follower_count\",\n  \"period\": \"day\",\n  \"since\": \"{{ $('Set Date Range + Context').item.json.start_date }}\",\n  \"until\": \"{{ $('Set Date Range + Context').item.json.end_date }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5328,
        1712
      ],
      "id": "07d9739c-e301-488c-8575-5c89a01fa08f",
      "name": "IG Organic: Followers"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v24.0/17841461428303569/insights",
        "sendQuery": true,
        "specifyQuery": "=json",
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonQuery": "={\n    \"access_token\":\"EAAUT3CZAvdJ4BQ4Y146zSK3KwggiOusCZBWQPaANyABBdj71W3ZBgTuV7WqR0O5jF9sSZByYcluy1O9ZCelL5AYtZBBzdllIyyb6TZAXZCHigPkDT5bMnu9dJ2GEkMZCyh576BzBVkM5HqQRdvythcA1mGnZAxICNiWpHwp1iiIsUDH8eZAu2YGoZBYPb7B59nDCMHUBb3MZD\",\n    \"metric\":\"views,reach\",\n    \"metric_type\":\"total_value\",\n    \"period\":\"day\",\n    \"since\":\"{{ $('Set Date Range + Context').item.json.start_date }}\",\n    \"until\":\"{{ $('Set Date Range + Context').item.json.end_date }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5328,
        1904
      ],
      "id": "ccbd184e-834e-4652-9c49-721c795a6222",
      "name": "IG Organic: Views and Reach",
      "onError": "continueErrorOutput",
      "notes": "** FEB 25 2026 **\nADDED METRICS: impressions\nREMOVED parameters:\nlevel\ntime_increment\nuse_account_attribution_setting\naction_breakdowns\nfiltering\nnested \n\nOLD \"access_token\": \"EAAUT3CZAvdJ4BQkAPr3AAE4GnmrIW9ma03N0nE3ZCQKz6CK99LmoDKLPgNCY26mfeEtYuiDLVI0LDqU8b8KE3gzlhIZBHQcWcjXDEzzVOviZA013HA55TfZAY7kggRHBCThEoZBuZA6AHgsABuqxNAZAs2HOgN7dsYi5kKgZAeCDqXngnpxDvJxEruTcQAhV1htDoiMAyl8F2S7zbEBiSODLHEtszpJ9uswJ878FI\","
    }
  ],
  "connections": {
    "Google Ads: YouTube": {
      "main": [
        [
          {
            "node": "Format Data: YT Paid Views",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB Organic: Views and Followers": {
      "main": [
        [
          {
            "node": "FB Organic: Likes and Shares",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error on \"FB Organic: Views and Followers\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB Organic: Likes and Shares": {
      "main": [
        [
          {
            "node": "Format Data: FB Organic Likes, Views, Shares, Followers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error on \"FB Organic: Likes and Shares\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Organic: Likes and Shares": {
      "main": [
        [
          {
            "node": "Format Data: IG Organic Likes, Views, Shares, Followers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error on \"IG Organic: Likes and Shares\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YT Paid: Views": {
      "main": [
        [
          {
            "node": "Google Ads: YouTube",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error on YT Paid: Views",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YT Organic: Views, Likes, Shares, Subscriber Count, and Ave Minutes Watched": {
      "main": [
        [
          {
            "node": "Merge YT Organic and Paid Views",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "FB Paid: Spend, Views, Likes, Shares, Followers": {
      "main": [
        [
          {
            "node": "Format Data: FB Paid Spend, Views, Likes, Shares, Followers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error on \"FB Paid: Spend, Views, Likes, Shares, Followers\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data: FB Paid Spend, Views, Likes, Shares, Followers": {
      "main": [
        [
          {
            "node": "Merge all data",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "IG Paid: Spend, Views, Likes, Shares, Followers": {
      "main": [
        [
          {
            "node": "Format Data: IG Paid Spend, Views, Likes, Shares, Followers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error on \"IG Paid: Spend, Views, Likes, Shares, Followers\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data: IG Paid Spend, Views, Likes, Shares, Followers": {
      "main": [
        [
          {
            "node": "Merge all data",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Format Data: YT Paid Views": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Date Range + Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Date Range + Context": {
      "main": [
        [
          {
            "node": "FB Organic: Views and Followers",
            "type": "main",
            "index": 0
          },
          {
            "node": "IG Organic: Views and Reach",
            "type": "main",
            "index": 0
          },
          {
            "node": "FB Paid: Spend, Views, Likes, Shares, Followers",
            "type": "main",
            "index": 0
          },
          {
            "node": "IG Paid: Spend, Views, Likes, Shares, Followers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pull Expectations Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "PRIOR WEEK | YT Organic: Views, Likes, Shares, Subscriber Count, and Ave Minutes Watched1",
            "type": "main",
            "index": 0
          },
          {
            "node": "PRIOR WEEK | FB Organic: Views and Followers",
            "type": "main",
            "index": 0
          },
          {
            "node": "PRIOR WEEK | IG Organic: Views and Followers",
            "type": "main",
            "index": 0
          },
          {
            "node": "YT Organic: Views, Likes, Shares, Subscriber Count, and Ave Minutes Watched",
            "type": "main",
            "index": 0
          },
          {
            "node": "YT Paid: Views Only",
            "type": "main",
            "index": 0
          },
          {
            "node": "IG Organic: Followers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data: FB Organic Likes, Views, Shares, Followers": {
      "main": [
        [
          {
            "node": "Merge all data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format Data: IG Organic Likes, Views, Shares, Followers": {
      "main": [
        [
          {
            "node": "Merge all data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Pull Expectations Data": {
      "main": [
        [
          {
            "node": "Merge Target Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Target Data": {
      "main": [
        [
          {
            "node": "Merge all data",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "PRIOR WEEK | YT Organic: Views, Likes, Shares, Subscriber Count, and Ave Minutes Watched1": {
      "main": [
        [
          {
            "node": "PRIOR WEEK | YT Organic Views, Likes, Shares, Followers, Est. Mins Watched1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error on \"PRIOR WEEK | YT Organic: Views, Likes, Shares, Subscriber Count, and Ave Minutes Watched\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PRIOR WEEK | FB Organic: Views and Followers": {
      "main": [
        [
          {
            "node": "PRIOR WEEK | FB Organic: Likes and Shares",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error on \"PRIOR WEEK | FB Organic: Views and Followers\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PRIOR WEEK | FB Organic: Likes and Shares": {
      "main": [
        [
          {
            "node": "PRIOR WEEK | Format Data: FB Organic Likes, Views, Shares, Followers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error on \"PRIOR WEEK | FB Organic: Likes and Shares\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PRIOR WEEK | IG Organic: Likes and Shares": {
      "main": [
        [
          {
            "node": "PRIOR WEEK | Format Data: IG Organic Likes, Views, Shares, Followers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error on \"PRIOR WEEK | IG Organic: Likes and Shares\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PRIOR WEEK | IG Organic: Views and Followers": {
      "main": [
        [
          {
            "node": "PRIOR WEEK | IG Organic: Likes and Shares",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error on \"PRIOR WEEK | IG Organic: Views and Followers\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PRIOR WEEK | YT Organic Views, Likes, Shares, Followers, Est. Mins Watched1": {
      "main": [
        [
          {
            "node": "Merge all data",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "PRIOR WEEK | Format Data: FB Organic Likes, Views, Shares, Followers": {
      "main": [
        [
          {
            "node": "Merge all data",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "PRIOR WEEK | Format Data: IG Organic Likes, Views, Shares, Followers": {
      "main": [
        [
          {
            "node": "Merge all data",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "Merge all data": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Organic Data to Google Sheet": {
      "main": [
        []
      ]
    },
    "Message a model (JSON OUTPUT)": {
      "main": [
        [
          {
            "node": "Convert OpenAI Output to an actual JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert OpenAI Output to an actual JSON": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Execution Logger: Email sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Get all data (NEW)": {
      "main": [
        [
          {
            "node": "Add Organic Data to Google Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "YouTube Paid data => Budget (Paid) tab",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook Paid data => Budget (Paid) tab",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram Paid data => Budget (Paid) tab",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get all data (NEW)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(BACKUP) Format Data: YT Organic Views, Likes, Shares, Followers, Est. Mins Watched": {
      "main": [
        [
          {
            "node": "[BACKUP] Subtract YT Advertising Views",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[BACKUP] Subtract YT Advertising Views": {
      "main": [
        []
      ]
    },
    "Format Data: YT Organic and Paid": {
      "main": [
        [
          {
            "node": "Merge all data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge YT Organic and Paid Views": {
      "main": [
        [
          {
            "node": "Format Data: YT Organic and Paid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YT Paid: Views Only": {
      "main": [
        [
          {
            "node": "Merge YT Organic and Paid Views",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "IG Organic: Views and Reach": {
      "main": [
        [
          {
            "node": "IG Organic: Likes and Shares",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error on \"IG Organic: Views and Followers\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Organic: Followers": {
      "main": [
        [
          {
            "node": "IG Organic: Likes and Shares",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/New_York",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "foILvSy2LhUGBqkQ"
  },
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-02-25T13:22:10.939-05:00",
          "Readable date": "February 25th 2026, 1:22:10 pm",
          "Readable time": "1:22:10 pm",
          "Day of week": "Wednesday",
          "Year": "2026",
          "Month": "February",
          "Day of month": "25",
          "Hour": "13",
          "Minute": "22",
          "Second": "10",
          "Timezone": "America/New_York (UTC-05:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "tags": []
}