workflows/CMCA/bg8o5L8lUqPtR450cJsEu.json
{
  "id": "bg8o5L8lUqPtR450cJsEu",
  "name": "CMCA - Error Notification Handler",
  "active": true,
  "isArchived": false,
  "updatedAt": "2026-03-26T19:14:56.278Z",
  "createdAt": "2026-01-21T18:30:02.175Z",
  "versionId": "ddbab66b-2dcd-4aed-b29f-f01c2b6a579f",
  "nodes": [
    {
      "parameters": {
        "sendTo": "alec.galvez@designshopp.com, owen.quintenta@designshopp.com, melissa@designshopp.com",
        "subject": "=CMCA Alert [{{ $json.priority }}]: {{ $json.workflowName }} failed",
        "message": "=<b>PRIORITY: {{ $json.priority }}</b> — {{ $json.priorityLabel }}<br/>\n<b>Recommended Action:</b> {{ $json.recommendedAction }}<br/>\n<br/>\n<b>Workflow:</b> {{ $json.workflowName }}<br/>\n<br/>\n<hr/>\n<b>Technical Details</b><br/>\n<b>Workflow ID:</b> {{ $json.workflowId }}<br/>\n<b>Execution ID:</b> {{ $json.executionId }}<br/>\n<b>Execution URL:</b> {{ $json.executionUrl }}<br/>\n<b>Failed Node:</b> {{ $json.failedNode }}<br/>\n<b>Error Message:</b> {{ $json.errorMessage }}<br/>\n<b>Mode:</b> {{ $json.mode }}",
        "options": {},
        "operation": "send"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        656,
        0
      ],
      "id": "34b0a603-b9f3-4bb8-bc04-0963dd754b5a",
      "name": "Send a message",
      "webhookId": "5cf8b9a3-8a99-44e2-83ab-58b7a7ec1f75",
      "credentials": {
        "gmailOAuth2": {
          "id": "NMxhzXsSqk1u0lKF",
          "name": "automation@spilledmilkagency.com"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b0e5b674-f5fb-4e48-8739-e3909ca8d8f4",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nlet errorMessage = '';\nlet failedNode = '';\nlet executionId = '';\nlet executionUrl = '';\nlet mode = '';\nlet workflowName = item.workflow?.name || 'Unknown';\nlet workflowId = item.workflow?.id || 'Unknown';\n\nif (item.execution) {\n  errorMessage = item.execution.error?.message || 'Unknown';\n  failedNode = item.execution.lastNodeExecuted || 'Unknown';\n  executionId = item.execution.id || 'N/A';\n  executionUrl = item.execution.url || 'N/A';\n  mode = item.execution.mode || 'Unknown';\n} else if (item.trigger) {\n  errorMessage = item.trigger.error?.message || 'Unknown';\n  failedNode = 'Trigger Node (workflow did not execute)';\n  executionId = 'N/A (trigger-level failure)';\n  executionUrl = 'N/A (trigger-level failure)';\n  mode = item.trigger.mode || 'trigger';\n}\n\n// Rate limiting: max 3 email alerts per workflow per 30-minute window\n// Bug Log logging is NOT rate-limited — all real errors are always logged\nconst WINDOW_MS = 30 * 60 * 1000;\nconst MAX_EMAILS = 3;\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.emailRateLimits) staticData.emailRateLimits = {};\n\nconst now = Date.now();\nconst limit = staticData.emailRateLimits[workflowId] || { count: 0, windowStart: now };\n\nif (now - limit.windowStart > WINDOW_MS) {\n  limit.count = 0;\n  limit.windowStart = now;\n}\n\nconst emailAllowed = limit.count < MAX_EMAILS;\nif (emailAllowed) limit.count += 1;\nstaticData.emailRateLimits[workflowId] = limit;\n\n// Clean stale keys older than 2 windows\nfor (const k in staticData.emailRateLimits) {\n  if (now - staticData.emailRateLimits[k].windowStart > WINDOW_MS * 2) {\n    delete staticData.emailRateLimits[k];\n  }\n}\n\n// Priority classification\nconst lowPrioritySignals = ['503', '500', '429', 'Service unavailable',\n  'Too Many Requests', 'ECONNRESET', 'ETIMEDOUT', 'socket hang up'];\nconst isLowPriority = lowPrioritySignals.some(s => errorMessage.includes(s));\n\nconst priority = isLowPriority ? 'LOW' : 'HIGH';\nconst priorityLabel = isLowPriority\n  ? 'Temporary API/network issue — usually self-resolves'\n  : 'Logic or code failure — requires investigation';\nconst recommendedAction = isLowPriority\n  ? 'No action needed — monitor for recurrence. If persistent, check API status.'\n  : 'Action required — review execution log. Technical details below.';\n\nreturn [{\n  json: {\n    workflowName,\n    workflowId,\n    errorMessage,\n    failedNode,\n    executionId,\n    executionUrl,\n    mode,\n    emailAllowed,\n    priority,\n    priorityLabel,\n    recommendedAction\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "c00d3ae6-5c21-4a56-88d6-103e90fb9e88",
      "name": "Normalize Error Data"
    },
    {
      "id": "e7a1b2c3-d4e5-4f60-a7b8-c9d0e1f2a3b4",
      "name": "Is Real Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        432,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "filter-service-unavailable",
              "leftValue": "={{ $json.errorMessage }}",
              "rightValue": "Service unavailable",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "filter-internal-error",
              "leftValue": "={{ $json.errorMessage }}",
              "rightValue": "The service was not able to process your request",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "sheets-cmca-buglog",
      "name": "Log to Bug Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        656,
        200
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11yWjBmTvO_-cHHcWPJ2jT4PiRDN3nsjWyqSEnc7P_PI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 0,
          "mode": "id",
          "cachedResultName": "Bug Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Time": "={{ $now.format('HH:mm:ss') }}",
            "Client": "CMCA",
            "Workflow Name": "={{ $json.workflowName }}",
            "Error Type": "={{ $json.mode === 'trigger' ? 'Trigger Failure' : 'Execution Error' }}",
            "Error Message/Description": "={{ $json.errorMessage }}",
            "Node Where Error Occurred": "={{ $json.failedNode }}",
            "Triggered By": "Auto",
            "Status": "Open",
            "Assigned To": "Owen",
            "Resolution Notes": ""
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NuvxHNUd8fNqRvXJ",
          "name": "automation@spilledmilkagency.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "email-allowed-gate",
      "name": "Email Allowed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        100
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "rate-limit-check",
              "leftValue": "={{ $json.emailAllowed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Normalize Error Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Normalize Error Data": {
      "main": [
        [
          {
            "node": "Is Real Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Real Error?": {
      "main": [
        [
          {
            "node": "Log to Bug Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Allowed?": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Bug Log": {
      "main": [
        [
          {
            "node": "Email Allowed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {},
  "tags": []
}