workflows/CMCA/cGUopZq66zmIAF0e.json
{
  "id": "cGUopZq66zmIAF0e",
  "name": "[CMCA] P1 - GravityForms to Google Sheet",
  "active": true,
  "isArchived": false,
  "updatedAt": "2026-03-26T19:16:09.250Z",
  "createdAt": "2025-10-02T20:01:52.342Z",
  "versionId": "90cdedff-623f-41b4-9435-bc9cbf92fcc3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "757a3c15-c60a-471d-b50c-fb656f8598d3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        -208
      ],
      "id": "4916225b-c7a5-4ed2-b984-426facefaa26",
      "name": "Webhook",
      "webhookId": "757a3c15-c60a-471d-b50c-fb656f8598d3"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"first_name\": \"{{$json.body['31.3']}}\",\n  \"last_name\": \"{{$json.body['32.6']}}\",\n  \"email\": \"{{$json.body['28']}}\",\n  \"phone_number\": \"{{$json.body['33']}}\",\n  \"company_name\": \"{{$json.body['23.3']}}\",\n  \"website_url\": \"{{$json.body['40']}}\",\n  \"finance\": \"{{$json.body['2']}}\",\n  \"industry\": \"{{$json.body['4']}}\",\n  \"amount\": \"{{$json.body['8']}}\",\n  \"duration\": \"{{$json.body['11']}}\",\n  \"monthly_sales\": \"{{$json.body['16']}}\",\n  \"type_of_business\": \"{{$json.body['44']}}\",\n  \"accept_cards\": \"{{$json.body['48']}}\",\n  \"entry_date\": \"{{$json.body.date_created}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        -208
      ],
      "id": "2d806679-ecbd-4f2d-acde-09fd93916a51",
      "name": "Trigger GravityForm submission"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw",
          "mode": "list",
          "cachedResultName": "Automation: CMCA Application Lead Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 109979117,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw/edit#gid=109979117"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Duplicate?": "={{ $json[\"Duplicate?\"] }}",
            "row_number": "={{ $json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "First",
              "displayName": "First",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "What are you looking to finance?",
              "displayName": "What are you looking to finance?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "What industry are you in?",
              "displayName": "What industry are you in?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "How much financing do you need?",
              "displayName": "How much financing do you need?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Storefront/Online Business",
              "displayName": "Storefront/Online Business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "How long has your business been operating?",
              "displayName": "How long has your business been operating?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "What are your average monthly sales?",
              "displayName": "What are your average monthly sales?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Entry Date",
              "displayName": "Entry Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Duplicate?",
              "displayName": "Duplicate?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Admin Action",
              "displayName": "Admin Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Automation Status",
              "displayName": "Automation Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Log Date and Time",
              "displayName": "Log Date and Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1936,
        -208
      ],
      "id": "db8366ca-698b-4586-aec9-a186218b57a5",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gnjqsanqJmpgUgbn",
          "name": "[CMCA - admin@cmcafinance.com] Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw",
          "mode": "list",
          "cachedResultName": "Automation: CMCA Application Lead Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 109979117,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw/edit#gid=109979117"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First": "={{ $('Trigger GravityForm submission').item.json.first_name }}",
            "Last Name": "={{ $('Trigger GravityForm submission').item.json.last_name }}",
            "Email Address": "={{ $('Trigger GravityForm submission').item.json.email }}",
            "Phone Number": "={{ $('Trigger GravityForm submission').item.json.phone_number }}",
            "What are you looking to finance?": "={{ $('Trigger GravityForm submission').item.json.finance }}",
            "What industry are you in?": "={{ $('Trigger GravityForm submission').item.json.industry }}",
            "How much financing do you need?": "={{ $('Trigger GravityForm submission').item.json.amount }}",
            "Storefront/Online Business": "={{ $('Trigger GravityForm submission').item.json.type_of_business }}",
            "How long has your business been operating?": "={{ $('Trigger GravityForm submission').item.json.duration }}",
            "What are your average monthly sales?": "={{ $('Trigger GravityForm submission').item.json.monthly_sales }}",
            "Company Name": "={{ $('Trigger GravityForm submission').item.json.company_name }}",
            "Entry Date": "={{ $json.entry_datetime }}",
            "Automation Status": "Rejected. No DocuSign email sent.",
            "Admin Action": "Reject (Startup)",
            "Log Date and Time": "={{ $json.log_datetime }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "First",
              "displayName": "First",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "What are you looking to finance?",
              "displayName": "What are you looking to finance?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "What industry are you in?",
              "displayName": "What industry are you in?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "How much financing do you need?",
              "displayName": "How much financing do you need?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Storefront/Online Business",
              "displayName": "Storefront/Online Business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "How long has your business been operating?",
              "displayName": "How long has your business been operating?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "What are your average monthly sales?",
              "displayName": "What are your average monthly sales?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Entry Date",
              "displayName": "Entry Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Duplicate?",
              "displayName": "Duplicate?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Admin Action",
              "displayName": "Admin Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Automation Status",
              "displayName": "Automation Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Log Date and Time",
              "displayName": "Log Date and Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        816,
        -304
      ],
      "id": "fcc9e4ed-e3a1-4918-acc1-c47fdd0fb5f6",
      "name": "Append row in sheet (startup)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gnjqsanqJmpgUgbn",
          "name": "[CMCA - admin@cmcafinance.com] Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw",
          "mode": "list",
          "cachedResultName": "Automation: CMCA Application Lead Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 109979117,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw/edit#gid=109979117"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First": "={{ $('Trigger GravityForm submission').item.json.first_name }}",
            "Last Name": "={{ $('Trigger GravityForm submission').item.json.last_name }}",
            "Email Address": "={{ $('Trigger GravityForm submission').item.json.email }}",
            "Phone Number": "={{ $('Trigger GravityForm submission').item.json.phone_number }}",
            "What are you looking to finance?": "={{ $('Trigger GravityForm submission').item.json.finance }}",
            "What industry are you in?": "={{ $('Trigger GravityForm submission').item.json.industry }}",
            "How much financing do you need?": "={{ $('Trigger GravityForm submission').item.json.amount }}",
            "Storefront/Online Business": "={{ $('Trigger GravityForm submission').item.json.type_of_business }}",
            "How long has your business been operating?": "={{ $('Trigger GravityForm submission').item.json.duration }}",
            "What are your average monthly sales?": "={{ $('Trigger GravityForm submission').item.json.monthly_sales }}",
            "Company Name": "={{ $('Trigger GravityForm submission').item.json.company_name }}",
            "Entry Date": "={{ $json.entry_datetime }}",
            "Automation Status": "=DocuSign email sent. Reminder email will be sent after 24 hours.",
            "Log Date and Time": "={{ $json.log_datetime }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "First",
              "displayName": "First",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "What are you looking to finance?",
              "displayName": "What are you looking to finance?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "What industry are you in?",
              "displayName": "What industry are you in?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "How much financing do you need?",
              "displayName": "How much financing do you need?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Storefront/Online Business",
              "displayName": "Storefront/Online Business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "How long has your business been operating?",
              "displayName": "How long has your business been operating?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "What are your average monthly sales?",
              "displayName": "What are your average monthly sales?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Entry Date",
              "displayName": "Entry Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Duplicate?",
              "displayName": "Duplicate?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Admin Action",
              "displayName": "Admin Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Automation Status",
              "displayName": "Automation Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Log Date and Time",
              "displayName": "Log Date and Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        816,
        -112
      ],
      "id": "7095363b-66bd-4623-8f64-9fde596770d1",
      "name": "Append row in sheet (Non-startup)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gnjqsanqJmpgUgbn",
          "name": "[CMCA - admin@cmcafinance.com] Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "14b06210-874a-411d-83a5-97fb07adc4a3",
              "leftValue": "={{ $('Trigger GravityForm submission').item.json.duration }}",
              "rightValue": "Less than 3 months",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        592,
        -208
      ],
      "id": "aee5c8b5-91e4-4327-9c94-de37651bd880",
      "name": "Check if Company is a Startup"
    },
    {
      "parameters": {
        "jsCode": "// Get all rows\nconst rows = items.map(item => item.json);\n\n// Count occurrences of each email\nconst emailCounts = {};\nrows.forEach(row => {\n  const email = (row['Email Address'] || '').trim().toLowerCase();\n  if (email) emailCounts[email] = (emailCounts[email] || 0) + 1;\n});\n\n// Create updated rows with Duplicate and Status logic\nconst updatedRows = rows.map(row => {\n  const email = (row['Email Address'] || '').trim().toLowerCase();\n  const businessAge = (row['How long has your business been operating?'] || '').trim();\n\n  // Mark duplicates\n  row['Duplicate?'] = emailCounts[email] > 1 ? 'Duplicate Entry' : '';\n\n  // Startup rejection logic\n  // Make sure text matches EXACTLY the dropdown choice in Google Sheets\n  if (businessAge.toLowerCase() === 'less than 3 months') {\n    row['Status'] = 'Rejected (Startup)'; \n  }\n\n  return row;\n});\n\n// Return array of updated rows for bulk update\nreturn updatedRows.map(r => ({ json: r }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        -208
      ],
      "id": "00f160d7-0f23-4c21-89bc-66a53d331d37",
      "name": "Check for duplicates"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw",
          "mode": "list",
          "cachedResultName": "Automation: CMCA Application Lead Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 109979117,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw/edit#gid=109979117"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        -208
      ],
      "id": "a3f9399b-0490-48c9-ae11-331ce1f33c2f",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gnjqsanqJmpgUgbn",
          "name": "[CMCA - admin@cmcafinance.com] Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const entryDate = $input.first().json.entry_date; // Expects 'YYYY-MM-DD HH:mm:ss' in UTC\n\n// Convert string to Date in UTC\nconst [datePart, timePart] = entryDate.split(' ');\nconst [year, month, day] = datePart.split('-').map(Number);\nconst [hour, minute, second] = timePart.split(':').map(Number);\n// Months are 0-indexed\nconst utcDate = new Date(Date.UTC(year, month - 1, day, hour, minute, second));\n\n// Format entry_datetime in 'MMMM D, YYYY [at] h:mm a' (using en-CA and custom code)\nconst options1 = { timeZone: 'America/Toronto', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: '2-digit' };\nconst toLocaleString1 = utcDate.toLocaleString('en-CA', options1).replace(',', ' at');\n\n// Format log_datetime in 'YYYY-MM-DD | HH:mm'\nconst options2 = { timeZone: 'America/Toronto', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', hour12: false };\nconst toLocaleString2 = utcDate.toLocaleString('en-CA', options2);\nconst [dateCA, timeCA] = toLocaleString2.replace(',', '').split(' ');\nconst logDateTime = dateCA + \" | \" + timeCA;\n\nreturn [{\n  json: {\n    entry_datetime: toLocaleString1,\n    log_datetime: logDateTime,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -208
      ],
      "id": "8265eebc-e8d3-41e8-80de-5f0771128ba7",
      "name": "Convert Entry Date to another format"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ed08bd60-0bc9-4abf-b2ba-205a52d24179",
              "leftValue": "={{ $json['Duplicate?'] }}",
              "rightValue": "Duplicate Entry",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1712,
        -208
      ],
      "id": "949a0918-d92c-466a-8375-8dcd0413fa42",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"Email Address\"] }}",
        "subject": "CMCA Application Received – Action Required",
        "message": "=<!doctype html>\n<html>\n    <head>\n        <meta charset=\"utf-8\" />\n        <meta name=\"viewport\" content=\"width=device-width\" />\n        <title>CMCA Application Received – Action Required</title>\n        <style>\n            @media only screen and (max-width: 620px) {\n                .container {\n                    width: 100% !important;\n                }\n                .stack {\n                    display: block !important;\n                    width: 100% !important;\n                }\n                .pad {\n                    padding-left: 16px !important;\n                    padding-right: 16px !important;\n                }\n            }\n            img {\n                border: 0;\n                -ms-interpolation-mode: bicubic;\n                display: block;\n            }\n            a {\n                color: inherit;\n                text-decoration: none;\n            }\n        </style>\n    </head>\n    <body\n        style=\"\n            margin: 0;\n            padding: 0;\n            background-color: #f4f4f4;\n            font-family: Arial, Helvetica, sans-serif;\n            -webkit-text-size-adjust: 100%;\n            -ms-text-size-adjust: 100%;\n        \"\n    >\n        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" role=\"presentation\">\n            <tr>\n                <td align=\"center\" style=\"padding: 20px 10px\">\n                    <table\n                        class=\"container\"\n                        cellpadding=\"0\"\n                        cellspacing=\"0\"\n                        border=\"0\"\n                        width=\"600\"\n                        role=\"presentation\"\n                        style=\"\n                            width: 600px;\n                            max-width: 600px;\n                            background-color: #ffffff;\n                            border-radius: 6px;\n                            overflow: hidden;\n                        \"\n                    >\n                        <tr>\n                    \t\t<td style=\"padding:30px;background-color: #00314D;\">\n                    \t\t\t<p style=\"margin: 0; width: 100%;text-align: center; color: #fff; font-size: 13px; line-height: 24px;\"><b><span style=\"color:#E03431;\">QUICK & EASY APPROVALS.</span> STRAIGHTFORWARD PROCESS.</b></p>\n                    \t\t</td>\n                    \t</tr>\n                        <tr>\n                            <td style=\"padding: 30px; text-align: center; background-color: #ffffff\">\n                                <img\n                                    src=\"http://canadianmerchantcashadvance.ca/wp-content/uploads/2025/11/logo-cmca.png\"\n                                    alt=\"CMCA Finance\"\n                                    width=\"160\"\n                                    style=\"display: block; border: 0; outline: none; text-decoration: none; margin: auto;\"\n                                />\n                            </td>\n                        </tr>\n                        <tr>\n                            <td class=\"pad\" style=\"padding: 10px 45px; color: #515967;\">\n                                <p style=\"margin: 0 0 16px 0; font-size: 18px; font-weight: 700; line-height: 24px; color: #15243C;\">Hello,</p>\n                                <p style=\"margin: 0 0 16px 0; font-size: 18px; font-weight: 700; line-height: 24px; color: #15243C;\">\n                                    Thank you for contacting CMCA Financial Services. We’ve received your request and are ready to begin your application.\n                                </p>\n                                <p style=\"margin: 0 0 30px 0; font-size: 15px; font-weight: 400; line-height: 24px; color: #515967;\">\n                                    To proceed, please complete your application using the secure DocuSign link below. This is the fastest and most efficient way to finalize your submission.\n                                </p>\n                                <p style=\"margin: 0 0 10px 0; text-align: center; font-size: 24px; font-weight: 700; line-height: 24px; color: #00314D;\">\n                                    COMPLETE YOUR APPLICATION\n                                </p>\n                                <p style=\"margin: 0 0 16px 0; text-align: center; font-size: 12px; font-weight: 700; line-height: 24px; color: #00314D;\">\n                                    No printing or scanning required.\n                                </p>\n                                <table\n                                    width=\"100%\"\n                                    cellpadding=\"0\"\n                                    cellspacing=\"0\"\n                                    border=\"0\"\n                                    role=\"presentation\"\n                                    style=\"margin: 0 0 20px 0\"\n                                >\n                                    <tr>\n                                        <td align=\"center\">\n                                            <!--[if mso\n                                                ]><v:roundrect\n                                                    xmlns:v=\"urn:schemas-microsoft-com:vml\"\n                                                    xmlns:w=\"urn:schemas-microsoft-com:office:word\"\n                                                    href=\"https://us.services.docusign.net/webforms-ux/v1.0/forms/9ae36a3d3cf37672f93540d462f296bc\"\n                                                    style=\"height: 44px; v-text-anchor: middle; width: 220px\"\n                                                    arcsize=\"8%\"\n                                                    strokecolor=\"#1a73e8\"\n                                                    fillcolor=\"#1a73e8\"\n                                                    ><w:anchorlock />\n                                                    <center\n                                                        style=\"\n                                                            color: #ffffff;\n                                                            font-family: Arial, sans-serif;\n                                                            font-size: 16px;\n                                                            font-weight: bold;\n                                                        \"\n                                                    >\n                                                        Complete via DocuSign\n                                                    </center></v:roundrect\n                                                ><!\n                                            [endif]-->\n                                            <a\n                                                href=\"https://us.services.docusign.net/webforms-ux/v1.0/forms/9ae36a3d3cf37672f93540d462f296bc\"\n                                                target=\"_blank\"\n                                                style=\"\n                                                    display: inline-block;\n                                                    background-color: #00314D;\n                                                    color: #ffffff;\n                                                    text-decoration: none;\n                                                    padding: 22px 10px;\n                                                    border-radius: 10px;\n                                                    font-weight: bold;\n                                                    font-size: 16px;\n                                                    line-height: 18px;\n                                                    margin: 0 auto 10px;\n                                                    min-width: 280px;\n                                                \"\n                                            >\n                                                COMPLETE APPLICATION\n                                            </a>\n                                            <p style=\"margin:0; display: block; text-align: center;\">\n                                                <img src=\"http://canadianmerchantcashadvance.ca/wp-content/uploads/2025/11/logo-docusign.png\" width=\"170\" style=\"display: inline-block;\" />\n                                            </p>\n                                        </td>\n                                    </tr>\n                                </table>\n                                <p style=\"display: block; max-width: 460px; width: 100%; margin: 0 auto 30px; font-size: 15px; font-weight: 400px; line-height: 22px; text-align: center; color: #515967;\">\n                                    Once your information is received, our underwriting team will review your file and contact you with the financing options available.\n                                </p>\n                                <p style=\"display: block; max-width: 460px; width: 100%; margin: 0 auto 30px; font-size: 15px; font-weight: 400px; line-height: 22px; text-align: center; color: #515967;\">\n                                    If you have any questions during the process, our team is here to assist you <a href=\"mailto:underwriting@cmcafinance.com\">underwriting@cmcafinance.com</a>.\n                                </p>\n                                <div style=\"display: block; max-width: 460px; width: 100%; margin: 0 auto; height: 1px; background-color: #E1E6EF;\"></div>\n                            </td>\n                        </tr>\n                        <tr>\n                            <td>\n                                <p style=\"display: block; max-width: 510px; margin: 30px auto; font-size: 17px; font-weight: 700; line-height: 22px; text-align: center; color: #C5221F;\">CMCA is committed to responsible, secure, and transparent lending.</p>\n                                <table\n                                    width=\"460\"\n                                    cellpadding=\"0\"\n                                    cellspacing=\"0\"\n                                    border=\"0\"\n                                    role=\"presentation\"\n                                    style=\"margin: 0 auto;\"\n                                >\n                                    <tr>\n                                        <td>\n                                            <p style=\"font-size: 13px; font-weight: 400; line-height: 22px; text-align: center; color: #15243C;\">We are accredited by the Better Business Bureau</p>\n                                            <p style=\"margin:0; display: block; text-align: center;\">\n                                                <img src=\"http://canadianmerchantcashadvance.ca/wp-content/uploads/2025/11/logo-bbb.png\" width=\"150\" style=\"display: inline-block;\" />\n                                            </p>\n                                        </td>\n                                        <td>\n                                            <p style=\"font-size: 13px; font-weight: 400; line-height: 22px; text-align: center; color: #15243C;\">Proud member of the Canadian Lender Association</p>\n                                            <p style=\"margin:0; display: block; text-align: center;\">\n                                                <img src=\"http://canadianmerchantcashadvance.ca/wp-content/uploads/2025/11/logo-cla.png\" width=\"150\" style=\"display: inline-block;\" />\n                                            </p>\n                                        </td>\n                                    </tr>\n                                    <tr>\n                                        <td colspan=\"2\">\n                                            <p style=\"margin: 30px auto; font-size: 12px; font-weight: 400; line-height: 19px; text-align: center; font-style: italic; color: #15243C;\">Note: If you prefer to complete a PDF version of the application instead, simply reply to this email to request the form. Docusign is the preferred method.</p>\n                                            <div style=\"display: block; max-width: 460px; width: 100%; margin: 0 auto; height: 1px; background-color: #E1E6EF;\"></div>\n                                        </td>\n                                    </tr>\n                                </table>\n                            </td>\n                        </tr>\n                        <tr>\n                            <td>\n                                <table\n                                    width=\"460\"\n                                    cellpadding=\"0\"\n                                    cellspacing=\"0\"\n                                    border=\"0\"\n                                    role=\"presentation\"\n                                    style=\"margin: 0 auto;\"\n                                >\n                                    <p style=\"text-align: center; font-size: 10px; font-weight: 400; line-height: 17px; color: #515967; margin-top:30px;\"><b>CMCA – Canadian Merchant Cash Advance</b><br/>Underwriting & Client Services</p>\n                                    <p style=\"text-align: center; font-size: 10px; font-weight: 400; line-height: 17px; color: #515967;margin-bottom:30px;\"><b>CMCA Finance® Corporate Office</b><br/>309 Lakeshore Blvd. Pointe-Claire, QC H9S 4L6<br/>Phone: <a href=\"tel:18556512844\">1-855-651-2844</a><br/>Fax: <a href=\"tel:18555416893\">1-855-541-6893</a><br/><a href=\"www.canadianmerchantcashadvance.ca\" target=\"_blank\">www.canadianmerchantcashadvance.ca</a>&nbsp;&nbsp;&nbsp;<a href=\"mailto:underwriting@cmcafinance.com\" target=\"_blank\">underwriting@cmcafinance.com</a></p>\n                                </table>\n                            </td>\n                        </tr>\n                    </table>\n                </td>\n            </tr>\n        </table>\n    </body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1040,
        -112
      ],
      "id": "055baa16-2db3-4a26-a7cc-d50f080fbb50",
      "name": "Send DocuSign email",
      "webhookId": "7b6ee4af-7561-4450-9266-3524e3e8c414",
      "credentials": {
        "gmailOAuth2": {
          "id": "LfULPgXZiOMRS3r5",
          "name": "[CMCA - admin@cmcafinance.com] Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"Email Address\"] }}",
        "subject": "Update on Your CMCA Application",
        "message": "=<!doctype html>\n<html>\n    <head>\n        <meta charset=\"utf-8\" />\n        <meta name=\"viewport\" content=\"width=device-width\" />\n        <title>Reminder: Documents Needed to Complete OUR Review</title>\n        <style>\n            @media only screen and (max-width: 620px) {\n                .container {\n                    width: 100% !important;\n                }\n                .stack {\n                    display: block !important;\n                    width: 100% !important;\n                }\n                .pad {\n                    padding-left: 16px !important;\n                    padding-right: 16px !important;\n                }\n            }\n            img {\n                border: 0;\n                -ms-interpolation-mode: bicubic;\n                display: block;\n            }\n            a {\n                color: inherit;\n                text-decoration: none;\n            }\n        </style>\n    </head>\n    <body\n        style=\"\n            margin: 0;\n            padding: 0;\n            background-color: #f4f4f4;\n            font-family: Arial, Helvetica, sans-serif;\n            -webkit-text-size-adjust: 100%;\n            -ms-text-size-adjust: 100%;\n        \"\n    >\n        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" role=\"presentation\">\n            <tr>\n                <td align=\"center\" style=\"padding: 20px 10px\">\n                    <table\n                        class=\"container\"\n                        cellpadding=\"0\"\n                        cellspacing=\"0\"\n                        border=\"0\"\n                        width=\"600\"\n                        role=\"presentation\"\n                        style=\"\n                            width: 600px;\n                            max-width: 600px;\n                            background-color: #ffffff;\n                            border-radius: 6px;\n                            overflow: hidden;\n                        \"\n                    >\n                        <tr>\n                    \t\t<td style=\"padding:30px;background-color: #00314D;\">\n                    \t\t\t<p style=\"margin: 0; width: 100%;text-align: center; color: #fff; font-size: 13px; line-height: 24px;\"><b><span style=\"color:#E03431;\">QUICK & EASY APPROVALS.</span> STRAIGHTFORWARD PROCESS.</b></p>\n                    \t\t</td>\n                    \t</tr>\n                        <tr>\n                            <td style=\"padding: 30px; text-align: center; background-color: #ffffff\">\n                                <img\n                                    src=\"http://canadianmerchantcashadvance.ca/wp-content/uploads/2025/11/logo-cmca.png\"\n                                    alt=\"CMCA Finance\"\n                                    width=\"160\"\n                                    style=\"display: block; border: 0; outline: none; text-decoration: none; margin: auto;\"\n                                />\n                            </td>\n                        </tr>\n                        <tr>\n                            <td class=\"pad\" style=\"padding: 10px 45px; color: #515967;\">\n                                <p style=\"margin: 0 0 16px 0; font-size: 18px; font-weight: 700; line-height: 24px; color: #15243C;\">Hello,</p>\n                                <p style=\"margin: 0 0 30px 0; font-size: 18px; font-weight: 700; line-height: 24px; color: #15243C;\">\n                                    Thank you for submitting your application and providing your information.\n                                </p>\n                                <p style=\"margin: 0 0 30px 0; font-size: 15px; font-weight: 400; line-height: 22px; color: #515967;\">\n                                    After reviewing your file, our underwriting team determined that your business is still at an early startup stage, which unfortunately falls outside of CMCA’s current lending criteria.\n                                </p>\n                                <p style=\"max-width: 460px; margin: 0 auto 24px; font-size: 12px; font-weight: 400; line-height: 22px; color: #515967;\">\n                                    This is not a reflection of the quality of your business—only its stage of development. Many clients become eligible once they have additional operating history and stronger banking activity.\n                                </p>\n                                <p style=\"max-width: 460px; margin: 0 auto 24px; font-size: 12px; font-weight: 400; line-height: 22px; color: #515967;\">\n                                    <b>We would be pleased to reassess your application in the coming months once your business has:</b>\n                                </p>\n                                <ul style=\"max-width: 460px; margin: 0 auto 24px; font-size: 12px; font-weight: 400; line-height: 22px; color: #515967;\">\n                                    <li>A few more months of consistent operating activity</li>\n                                    <li>Regular business banking history</li>\n                                    <li>Steady incoming deposits</li>\n                                </ul>\n                                <p style=\"max-width: 460px; margin: 0 auto 24px; font-size: 12px; font-weight: 400; line-height: 22px; color: #515967;\">\n                                    At that point, we can take a much closer look at potential financing options for you.\n                                </p>\n                                <p style=\"max-width: 460px; margin: 0 auto 24px; font-size: 12px; font-weight: 400; line-height: 22px; color: #515967;\">\n                                    If you have questions or would like guidance on what to prepare for a future review, feel free to reply to this email. We’re here to support you as your business grows.\n                                </p>\n                                <p style=\"max-width: 460px; margin: 0 auto 30px; font-size: 12px; font-weight: 400; line-height: 22px; color: #515967;\">\n                                    <b><i>Thank you again for considering CMCA.</i></b>\n                                </p>\n\n                                <div style=\"display: block; max-width: 460px; width: 100%; margin: 0 auto; height: 1px; background-color: #E1E6EF;\"></div>\n                            </td>\n                        </tr>\n                        <tr>\n                            <td>\n                                <p style=\"display: block; max-width: 510px; margin: 30px auto; font-size: 17px; font-weight: 700; line-height: 22px; text-align: center; color: #C5221F;\">CMCA is committed to responsible, secure, and transparent lending.</p>\n                                <table\n                                    width=\"460\"\n                                    cellpadding=\"0\"\n                                    cellspacing=\"0\"\n                                    border=\"0\"\n                                    role=\"presentation\"\n                                    style=\"margin: 0 auto;\"\n                                >\n                                    <tr>\n                                        <td>\n                                            <p style=\"font-size: 13px; font-weight: 400; line-height: 22px; text-align: center; color: #15243C;\">We are accredited by the Better Business Bureau</p>\n                                            <p style=\"margin:0; display: block; text-align: center;\">\n                                                <img src=\"http://canadianmerchantcashadvance.ca/wp-content/uploads/2025/11/logo-bbb.png\" width=\"150\" style=\"display: inline-block;\" />\n                                            </p>\n                                        </td>\n                                        <td>\n                                            <p style=\"font-size: 13px; font-weight: 400; line-height: 22px; text-align: center; color: #15243C;\">Proud member of the Canadian Lender Association</p>\n                                            <p style=\"margin:0; display: block; text-align: center;\">\n                                                <img src=\"http://canadianmerchantcashadvance.ca/wp-content/uploads/2025/11/logo-cla.png\" width=\"150\" style=\"display: inline-block;\" />\n                                            </p>\n                                        </td>\n                                    </tr>\n                                    <tr>\n                                        <td colspan=\"2\">\n                                            <p style=\"margin: 30px auto; font-size: 12px; font-weight: 400; line-height: 19px; text-align: center; font-style: italic; color: #15243C;\">Note: If you prefer to complete a PDF version of the application instead, simply reply to this email to request the form. Docusign is the preferred method.</p>\n                                            <div style=\"display: block; max-width: 460px; width: 100%; margin: 0 auto; height: 1px; background-color: #E1E6EF;\"></div>\n                                        </td>\n                                    </tr>\n                                </table>\n                            </td>\n                        </tr>\n                        <tr>\n                            <td>\n                                <table\n                                    width=\"460\"\n                                    cellpadding=\"0\"\n                                    cellspacing=\"0\"\n                                    border=\"0\"\n                                    role=\"presentation\"\n                                    style=\"margin: 0 auto;\"\n                                >\n                                    <p style=\"text-align: center; font-size: 10px; font-weight: 400; line-height: 17px; color: #515967; margin-top:30px;\"><b>CMCA – Canadian Merchant Cash Advance</b><br/>Underwriting & Client Services</p>\n                                    <p style=\"text-align: center; font-size: 10px; font-weight: 400; line-height: 17px; color: #515967;margin-bottom:30px;\"><b>CMCA Finance® Corporate Office</b><br/>309 Lakeshore Blvd. Pointe-Claire, QC H9S 4L6<br/>Phone: <a href=\"tel:18556512844\">1-855-651-2844</a><br/>Fax: <a href=\"tel:18555416893\">1-855-541-6893</a><br/><a href=\"www.canadianmerchantcashadvance.ca\" target=\"_blank\">www.canadianmerchantcashadvance.ca</a>&nbsp;&nbsp;&nbsp;<a href=\"mailto:underwriting@cmcafinance.com\" target=\"_blank\">underwriting@cmcafinance.com</a></p>\n                                </table>\n                            </td>\n                        </tr>\n                    </table>\n                </td>\n            </tr>\n        </table>\n    </body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1040,
        -304
      ],
      "id": "f3d33fcd-b91f-48fe-aca7-a6fc7ce94b08",
      "name": "Send Reject (Startup) email",
      "webhookId": "7b6ee4af-7561-4450-9266-3524e3e8c414",
      "credentials": {
        "gmailOAuth2": {
          "id": "LfULPgXZiOMRS3r5",
          "name": "[CMCA - admin@cmcafinance.com] Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Trigger GravityForm submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger GravityForm submission": {
      "main": [
        [
          {
            "node": "Convert Entry Date to another format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        []
      ]
    },
    "Check if Company is a Startup": {
      "main": [
        [
          {
            "node": "Append row in sheet (startup)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet (Non-startup)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for duplicates": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet (startup)": {
      "main": [
        [
          {
            "node": "Send Reject (Startup) email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet (Non-startup)": {
      "main": [
        [
          {
            "node": "Send DocuSign email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Entry Date to another format": {
      "main": [
        [
          {
            "node": "Check if Company is a Startup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Check for duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send DocuSign email": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reject (Startup) email": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "bg8o5L8lUqPtR450cJsEu",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "pinData": {},
  "tags": []
}