workflows/CMCA/P3-P4-P5_update_payload.json
{
  "name": "P3 + P4 + P5: Create draft posts and Google Docs from approved articles in Google Sheets",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -768,
        -208
      ],
      "id": "fad9ad68-01bb-4bc6-93e3-d11291a31479",
      "name": "Loop Over Items: APPROVED"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "Today's date: {{ $now.toFormat('MMMM d, yyyy') }}\n\nYou are a content writer for Canadian Merchant Cash Advance (CMCA), a Canadian small business lender. Write a blog post based on the source material below.\n\nVOICE AND STYLE:\n- Audience: Canadian small business owners (restaurants, retail, hospitality, trades, services) — NOT investors, economists, or corporate executives\n- Tone: Practical, empathetic, advisory. The reader is under pressure. Acknowledge that first.\n- Language: Plain English. Short sentences. No jargon. Write like explaining to a friend who owns a business.\n- Do NOT copy-paste from the source. Do NOT write a news summary.\n- Filter EVERYTHING through: “How does this affect a Canadian SME’s cash flow or ability to access financing?”\n- Avoid: alarmist language, vague corporate-speak, passive voice, generic advice that could apply to any country\n- ALWAYS write in English even if the source material is in French\n\nMANDATORY 4-SECTION STRUCTURE:\n\n## [Section 1 — HOOK: 60–90 words]\nOpen with a specific fact, statistic, or business scenario from the source. Must be about Canada specifically. Make it concrete — name a sector, a dollar amount, a percentage, or a recognizable Canadian situation. Do NOT open with “In today’s economy”, “As a small business owner”, or similar generic openers.\n\n## [Section 2 — CANADIAN SME CONTEXT: 150–200 words]\nWhat does this news mean specifically for Canadian small businesses? Focus ONLY on: cash flow, operating costs, access to credit, seasonal revenue, or regulatory compliance. Ignore anything in the source about: foreign markets, large corporations, investors, or abstract macro trends. If source is French, extract the relevant facts and write this section in English.\n\n## [Section 3 — BUSINESS IMPLICATIONS + PRACTICAL STEPS: 200–250 words]\nGive 2–3 concrete, actionable steps the business owner can take. Be specific. Connect at least one step to cash flow management or business financing. Example: “Review your fixed costs before the quarter ends”, “Consider a short-term cash advance to bridge the gap before your busy season”.\n\n## [Section 4 — CTA CLOSE: 80–100 words]\nClose with CMCA’s value proposition. Use these facts EXACTLY as written — do not change them:\n- “95% approval rate”\n- “funding available in as little as 24 hours”\n- “BBB accredited”\n- “CLA member”\n- “5.0 Google Reviews rating”\nInclude two CTAs: one to email (“Send us an email”), one to apply (“Apply for a Cash Advance”). Frame CMCA as the logical next step after this article — not a generic ad.\n\nCONTENT RULES:\n- Minimum 550 words, target 600–700\n- All content must relate to Canadian SMEs — remove anything about foreign economies, large corporations, or investment markets\n- Write in English always, even if source is in French\n- No crypto, stock market, pension fund, or wealth management content even if in source\n\nCANADIAN RELEVANCE SCORE — evaluate this BEFORE writing anything.\n\nScore +0.5 for each that applies:\n- The article directly affects Canadian businesses, workers, consumers, or the Canadian economy\n- The article describes a US/international policy, tariff, rate decision, or economic event that explicitly names Canadian impact (e.g., “US tariffs on Canadian goods”, “Fed rate hike affecting Canadian borrowing costs”)\n- The article references Canadian institutions, provinces, cities, or government programs in the context of business impact\n\nScore -0.5 for each that applies:\n- The article is exclusively about US domestic affairs with zero mention of Canada\n- The article is about another country’s internal economy (India, UK, EU, etc.) with no Canadian connection\n- The article is about investment products (ETFs, hedge funds, pension funds, portfolios, crypto) with no small business angle\n\nKEY RULE: A US or international article that MENTIONS Canada or Canadian businesses = relevant. An article ONLY about the US, India, or another country with no Canadian angle = not relevant.\n\nFAILURE CONDITION:\nIf total score ≤ 0, OR if source content is empty, under 100 words, or has zero relevance to Canadian small business cash flow or financing, return this exact JSON and nothing else:\n{\"error\": \"insufficient_content\", \"title\": \"\", \"slug\": \"\", \"content\": \"\", \"wp_content\": \"\", \"category\": \"\", \"meta_description\": \"\"}\n\nOUTPUT FORMAT:\nReturn valid JSON only. No markdown. No explanation. No text outside the JSON.\n{\n  \"title\": \"Blog post title — specific and benefit-focused, under 70 characters, no clickbait\",\n  \"slug\": \"url-slug-with-hyphens\",\n  \"meta_description\": \"150-160 character meta description for SEO\",\n  \"category\": \"One of: Small Business Tips | Cash Flow | Business Financing | Industry News | Tax & Compliance\",\n  \"content\": \"Full blog post in plain text with section headings marked as ## Heading\",\n  \"wp_content\": \"Full blog post in WordPress-ready HTML: use <h2> for headings, <p> for paragraphs, <strong> for emphasis\"\n}\n\nSOURCE MATERIAL:\nTitle: {{ $('Read Sheet').item.json.TITLE }}\nSource URL: {{ $('Read Sheet').item.json.URL }}\nSource Content: {{ $json.CONTENT }}"
            },
            {
              "content": "You are a blog writer for CMCA Finance (Canadian Merchant Cash Advance), writing for Canadian small business owners. Return ONLY valid JSON with no text before or after:\n\n{\n  \"title\": \"\",\n  \"slug\": \"\",\n  \"content\": \"\",\n  \"wp_content\": \"\",\n  \"category\": \"\",\n  \"meta_description\": \"\"\n}\n\nOUTPUT FORMAT RULES:\n- \"slug\": Convert title to lowercase, replace spaces with dashes, remove special characters.\n- \"content\": Plain text version of the article for Google Docs. Must be 550-700 words. Force minimum 550 words.\n- \"wp_content\": HTML version for WordPress. Same article as \"content\" but wrapped in HTML tags (<p>, <h2>, <h3>, <strong>, <a>, <ol>, <li>). Must be 550-700 words. Force minimum 550 words. Do NOT include the headline title in wp_content (it is added separately by WordPress). Do NOT include meta_description in the article body.\n- \"category\": Select the best fit from: Financial Advice (ID: 5), Restaurants (ID: 13), Small Business (ID: 6). Output the ID number only.\n- \"meta_description\": 150-160 characters. SEO-optimized summary. This goes in the JSON only, NOT inside the article body.\n\nCONTENT DEPTH RULES:\nYour job is NOT to summarize the source article. Your job is to EXTRACT the business lesson and convert it into actionable guidance for Canadian SME owners. For every article:\n1. Identify the core issue affecting Canadian small businesses.\n2. Explain WHY it matters to a business owner's cash flow, operations, or growth — with specific detail, not vague generalities.\n3. Provide concrete, actionable advice they can implement this week — not abstract principles.\n4. Connect naturally to CMCA's services ONLY in the closing paragraph.\n\nWRITING STYLE — MATCH THIS TONE:\nWrite like a knowledgeable Canadian business advisor talking directly to a small business owner. Study these patterns from approved CMCA articles:\n\nGOOD (match this): \"Labour shortages are already hitting the sector hard, making it difficult to maintain consistent service. This reality forces businesses to re-evaluate recruiting, retention, and training strategies, often at a higher operational cost.\"\nWHY IT WORKS: Specific problem, concrete consequence, practical implication. No buzzwords.\n\nGOOD (match this): \"Inflation has increased expenses for fuel, food supplies, and other essentials, putting pressure on profit margins. Labour shortages can further limit your ability to meet demand during busy periods.\"\nWHY IT WORKS: Names specific cost categories. Connects cause to business effect.\n\nGOOD (match this): \"Reassess your budget regularly to reflect changing costs and revenues, adjusting plans to protect your cash flow.\"\nWHY IT WORKS: Actionable, specific, one sentence. Not padded with filler.\n\nBAD (never do this): \"In the dynamic landscape of entrepreneurship, businesses are navigating challenges and seizing opportunities.\"\nWHY IT'S BAD: Empty buzzwords, says nothing specific, sounds AI-generated.\n\nBAD (never do this): \"This is where strategic planning and innovative solutions come into play, enabling businesses to thrive in an ever-changing marketplace.\"\nWHY IT'S BAD: Generic filler that could apply to any topic. Obvious AI pattern.\n\nANTI-AI WRITING RULES (CRITICAL — FOLLOW STRICTLY):\n- NEVER start the article with \"In today's...\", \"In the dynamic...\", \"In the ever-evolving...\", \"In an increasingly...\", or \"In the world of...\"\n- NEVER use \"navigate\", \"landscape\", \"realm\", \"paradigm\", \"leverage\", \"spearhead\", \"delve\", \"robust\", \"synergy\", \"holistic\", \"streamline\" or \"game-changer\"\n- NEVER use \"This is where [X] comes in\" or \"This is where [X] steps in\"\n- NEVER label sections \"Introduction\" or \"Conclusion\"\n- NEVER end with \"In conclusion...\" or \"To sum up...\"\n- NEVER use three adjectives in a row (\"innovative, dynamic, and comprehensive\")\n- NEVER pad sentences with filler like \"It's important to note that...\" or \"It goes without saying...\"\n- Vary sentence length. Mix short punchy sentences with longer explanatory ones.\n- Use concrete nouns and specific numbers where possible, not abstract concepts.\n- Write as if you are explaining this to a real person sitting across from you.\n\nBRAND VOICE REQUIREMENTS:\n- Voice: Supportive, trustworthy, straightforward, Canadian, empowering\n- Tone: Informative, clear, helpful, professional, factual, reassuring\n- NEVER use the word \"loan\" or \"loans\" — CMCA provides merchant cash advances, not loans\n- Brand name: Use \"CMCA\" or \"CMCA Finance\" only. Never invent variations.\n- Service terms: Use \"merchant cash advance,\" \"cash advance,\" \"funding,\" or \"working capital\"\n- Use Canadian spelling: colour, centre, favour, honour, analyse, programme, catalogue\n- Reference Canadian context (regulations, economy, seasons), not American\n\nWRITING RULES:\n- Write in second person (\"you\", \"your business\")\n- Keep sentences concise and paragraphs short (3-4 sentences max per paragraph)\n- Use simple, clear language accessible to a general audience\n- No aggressive sales language or unrealistic promises\n- No overly technical financial terminology\n- Do not be condescending or preachy\n\nTRUST SIGNALS (weave ONE naturally into the CTA paragraph — do not list all of them):\n- BBB Accredited Business (use this exact phrase only — do not modify, abbreviate, or add prefixes like 'AAA')\n- Canadian Lenders Association (CLA) member\n- 95% approval rate\n- Headquartered in Montreal\n- 5.0 Google Reviews rating\n\nKEY MESSAGES (use where naturally relevant — do not force all of them):\n- Speed: \"funding in as little as 24 hours\"\n- Simplicity: \"quick and easy process\"\n- Flexibility: \"tailored to your business needs\"\n- Canadian: \"proudly Canadian\", headquartered in Montreal\n\nCTA RULES:\n- Include the CTA ONLY ONCE, in a separate closing paragraph AFTER the advice section\n- Do NOT embed CTA language within numbered advice points\n- Keep advice points focused on actionable tips, not promotional content\n- Use one of these CTAs, adapted to the article topic:\n  * \"If your business is facing cash flow challenges, CMCA Finance can help with flexible, short-term funding solutions.\"\n  * \"Need working capital to navigate these changes? CMCA Finance offers fast, flexible funding for Canadian businesses.\"\n  * \"CMCA Finance helps Canadian small businesses access the funds they need, when they need them.\"\n\nIMPORTANT: Count your words before outputting. If \"content\" or \"wp_content\" is under 550 words, expand the middle section with more specific detail about business impact. Do NOT pad with filler phrases — add substance.",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        352,
        -272
      ],
      "id": "29293643-70a8-4480-b357-b37bd5f9aeac",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "cGgSXZ6cb8m5Q3gj",
          "name": "[SpilledMilk - billing@spilledmilk.com] OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1O7jBME_Vmh0ORs5vchKfWvAo0Ayn0wjWeBJbDJdpfas",
          "mode": "list",
          "cachedResultName": "CMCA Blog Topics - AUTOMATION TEST",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O7jBME_Vmh0ORs5vchKfWvAo0Ayn0wjWeBJbDJdpfas/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O7jBME_Vmh0ORs5vchKfWvAo0Ayn0wjWeBJbDJdpfas/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $('Extract Article Text').item.json.URL }}",
            "STATUS LOG": "={{ $('Convert DateTime format').item.json.date }} {{ $('Convert DateTime format').item.json.time }} | Google Doc created and WordPress draft post created",
            "LINK TO WORDPRESS BACKEND": "=https://canadianmerchantcashadvance.ca/wp-admin/post.php?post={{ $json.id }}&action=edit&lang=en",
            "LINK TO GOOGLE DOC": "=https://docs.google.com/document/d/{{ $('Insert text to document').item.json.documentId }}"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TITLE",
              "displayName": "TITLE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DATE PUBLISHED",
              "displayName": "DATE PUBLISHED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ADMIN ACTION",
              "displayName": "ADMIN ACTION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS LOG",
              "displayName": "STATUS LOG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LINK TO GOOGLE DOC",
              "displayName": "LINK TO GOOGLE DOC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LINK TO WORDPRESS BACKEND",
              "displayName": "LINK TO WORDPRESS BACKEND",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1376,
        -208
      ],
      "id": "ca884285-f327-4467-aaf4-adba4225b3fe",
      "name": "Updated Status Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NuvxHNUd8fNqRvXJ",
          "name": "automation@spilledmilkagency.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "simple": false,
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model').item.json.message.content.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        928,
        -272
      ],
      "id": "d1fe7ffe-0642-4b05-a1e3-c8e4acd857eb",
      "name": "Insert text to document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Rowcq7rTCiyfehVc",
          "name": "automation@spilledmilkagency.com"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -96,
        -272
      ],
      "id": "a8c5bf4c-533f-4c14-8b74-590b41061d53",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.currentDate;\n\n// Parse original datetime\nconst date = new Date(input);\n\n// Formatter for Canada Eastern Time\nconst formatter = new Intl.DateTimeFormat('en-CA', {\n  timeZone: 'America/Toronto',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false,\n});\n\nconst parts = formatter.formatToParts(date);\nconst get = (type) => parts.find(p => p.type === type).value;\n\nreturn {\n  date: `${get('year')}-${get('month')}-${get('day')}`,\n  time: `${get('hour')}:${get('minute')}`\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -272
      ],
      "id": "0a45df0a-1d6e-4f94-83bd-e4292dc31518",
      "name": "Convert DateTime format"
    },
    {
      "parameters": {
        "title": "=[DRAFT] {{ $('Message a model').item.json.message.content.title }}",
        "additionalFields": {
          "content": "={{ $('Message a model').item.json.message.content.wp_content }}",
          "slug": "={{ $('Message a model').item.json.message.content.slug }}",
          "categories": "={{ $('Message a model').item.json.message.content.category }}"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1152,
        -272
      ],
      "id": "f3b758a6-6ac5-4526-8887-58d3ee48f13d",
      "name": "Create a post",
      "credentials": {
        "wordpressApi": {
          "id": "apu6UY3Ke6WNXjpp",
          "name": "[CMCA - dstheme] Wordpress account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst filtered = items.filter(item => {\n  const row = item.json;\n\n  return (\n    row[\"ADMIN ACTION\"] === \"Approve\" &&\n    (!row[\"STATUS LOG\"] ||\n    row[\"STATUS LOG\"].trim() === \"\" ||\n    row[\"STATUS LOG\"].toLowerCase().startsWith(\"rejected\") ||\n    row[\"STATUS LOG\"].toLowerCase() === \"ready for review\") &&\n    (!row[\"LINK TO GOOGLE DOC\"] || row[\"LINK TO GOOGLE DOC\"].trim() === \"\") &&\n    (!row[\"LINK TO WORDPRESS BACKEND\"] || row[\"LINK TO WORDPRESS BACKEND\"].trim() === \"\")\n  );\n});\n\nreturn filtered;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        -208
      ],
      "id": "11b8a563-326f-407d-b1d2-e8a9dfebef11",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "folderId": "1w46IETmauIkWMqTrNaE3tJFx4uk0cszQ",
        "title": "=[{{ $('Convert DateTime format').item.json.date }}] {{ $json.message.content.title }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        704,
        -272
      ],
      "id": "8584b9dc-2e88-4601-be35-79d94a3e0845",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Rowcq7rTCiyfehVc",
          "name": "automation@spilledmilkagency.com"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; CMCABot/1.0)"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -544,
        -272
      ],
      "id": "d289511e-8cff-4234-aed6-b4402acf92aa",
      "name": "Fetch Article Page",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get the HTTP response (HTML string)\nconst html = $input.first().json.data || $input.first().json.body || \"\";\n\n// Get original sheet data from the loop node (HTTP Request replaces $json with response data)\nconst originalData = $('Loop Over Items: APPROVED').item.json;\n\n// If HTTP request failed or returned empty/too short HTML\nif (!html || html.length < 100) {\n  return []; // Empty array = skip this item in the loop silently\n}\n\n\n// Remove non-article elements and their content\nlet cleaned = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, \"\")\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, \"\")\n  .replace(/<nav[\\s\\S]*?<\\/nav>/gi, \"\")\n  .replace(/<header[\\s\\S]*?<\\/header>/gi, \"\")\n  .replace(/<footer[\\s\\S]*?<\\/footer>/gi, \"\")\n  .replace(/<aside[\\s\\S]*?<\\/aside>/gi, \"\")\n  .replace(/<figure[\\s\\S]*?<\\/figure>/gi, \"\");\n\n// Try to extract from <article> tag first (most news sites use this)\nconst articleMatch = cleaned.match(/<article[\\s\\S]*?<\\/article>/i);\nif (articleMatch) {\n  cleaned = articleMatch[0];\n}\n\n// Strip all remaining HTML tags\ncleaned = cleaned.replace(/<[^>]+>/g, \" \");\n\n// Clean up HTML entities and whitespace\ncleaned = cleaned\n  .replace(/&nbsp;/g, \" \")\n  .replace(/&amp;/g, \"&\")\n  .replace(/&lt;/g, \"<\")\n  .replace(/&gt;/g, \">\")\n  .replace(/&#39;/g, \"'\")\n  .replace(/&quot;/g, '\"')\n  .replace(/\\s+/g, \" \")\n  .trim();\n\n// Take first 2000 characters (~500 words) to avoid token overload\nconst truncated = cleaned.substring(0, 4000);\n\n// Return original sheet data with scraped CONTENT merged in\nreturn [{\n  json: {\n    ...originalData,\n    CONTENT: truncated\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -272
      ],
      "id": "183ea8b0-8f86-4cb2-8b59-8286036a00ec",
      "name": "Extract Article Text"
    },
    {
      "id": "f1e2d3c4-b5a6-7891-1234-567890abcde1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1456,
        -208
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      }
    },
    {
      "id": "a9b8c7d6-e5f4-3210-9876-543210fedcb1",
      "name": "Read Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1216,
        -208
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1O7jBME_Vmh0ORs5vchKfWvAo0Ayn0wjWeBJbDJdpfas",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NuvxHNUd8fNqRvXJ",
          "name": "automation@spilledmilkagency.com"
        }
      }
    },
    {
      "id": "e1a2b3c4-d5e6-7f89-ab01-cd23ef456789",
      "name": "Error: WP Post Failed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1152,
        -48
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NuvxHNUd8fNqRvXJ",
          "name": "automation@spilledmilkagency.com"
        }
      },
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1O7jBME_Vmh0ORs5vchKfWvAo0Ayn0wjWeBJbDJdpfas",
          "mode": "list",
          "cachedResultName": "CMCA Blog Topics - AUTOMATION TEST",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O7jBME_Vmh0ORs5vchKfWvAo0Ayn0wjWeBJbDJdpfas/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O7jBME_Vmh0ORs5vchKfWvAo0Ayn0wjWeBJbDJdpfas/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $('Extract Article Text').item.json.URL }}",
            "STATUS LOG": "={{ $now.setZone('America/Toronto').toFormat('yyyy-MM-dd HH:mm') }} | ERROR - WordPress post creation failed"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TITLE",
              "displayName": "TITLE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DATE PUBLISHED",
              "displayName": "DATE PUBLISHED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ADMIN ACTION",
              "displayName": "ADMIN ACTION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS LOG",
              "displayName": "STATUS LOG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LINK TO GOOGLE DOC",
              "displayName": "LINK TO GOOGLE DOC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LINK TO WORDPRESS BACKEND",
              "displayName": "LINK TO WORDPRESS BACKEND",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Loop Over Items: APPROVED": {
      "main": [
        [],
        [
          {
            "node": "Fetch Article Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updated Status Log": {
      "main": [
        [
          {
            "node": "Loop Over Items: APPROVED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert text to document": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Convert DateTime format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert DateTime format": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Updated Status Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: WP Post Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items: APPROVED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Insert text to document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Article Page": {
      "main": [
        [
          {
            "node": "Extract Article Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Article Text": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Sheet",
            "type": "0",
            "index": 0
          }
        ]
      ]
    },
    "Read Sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "0",
            "index": 0
          }
        ]
      ]
    },
    "Error: WP Post Failed": {
      "main": [
        [
          {
            "node": "Loop Over Items: APPROVED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "bg8o5L8lUqPtR450cJsEu"
  },
  "staticData": {
    "node:Google Sheets Trigger": {
      "documentId": "1O7jBME_Vmh0ORs5vchKfWvAo0Ayn0wjWeBJbDJdpfas",
      "sheetId": 0,
      "lastRevision": 652,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=1O7jBME_Vmh0ORs5vchKfWvAo0Ayn0wjWeBJbDJdpfas&revision=652&exportFormat=xlsx"
    },
    "node:Google Sheets Trigger1": {
      "documentId": "1O7jBME_Vmh0ORs5vchKfWvAo0Ayn0wjWeBJbDJdpfas",
      "sheetId": 0,
      "lastRevision": 423,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=1O7jBME_Vmh0ORs5vchKfWvAo0Ayn0wjWeBJbDJdpfas&revision=423&exportFormat=xlsx"
    },
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4599499a-36cb-474c-8fe2-b1f0e67140b1",
  "activeVersionId": "4599499a-36cb-474c-8fe2-b1f0e67140b1",
  "versionCounter": 312,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-02T19:46:36.190Z",
      "createdAt": "2026-01-02T19:46:36.190Z",
      "role": "workflow:owner",
      "workflowId": "wbLgyQrVlroyVo0f",
      "projectId": "hAjZa5KBJiO84BJN",
      "project": {
        "updatedAt": "2025-10-02T18:41:09.537Z",
        "createdAt": "2025-10-02T18:41:06.328Z",
        "id": "hAjZa5KBJiO84BJN",
        "name": "DesignShopp   <n8n@designshopp.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "00770771-8b12-4aae-95b8-5cd8ec787ce1"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-16T14:09:13.343Z",
    "createdAt": "2026-03-16T14:09:13.343Z",
    "versionId": "4599499a-36cb-474c-8fe2-b1f0e67140b1",
    "workflowId": "wbLgyQrVlroyVo0f",
    "nodes": [
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -768,
          -208
        ],
        "id": "fad9ad68-01bb-4bc6-93e3-d11291a31479",
        "name": "Loop Over Items: APPROVED"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4.1",
            "mode": "list",
            "cachedResultName": "GPT-4.1"
          },
          "messages": {
            "values": [
              {
                "content": "Today's date: {{ $now.toFormat('MMMM d, yyyy') }}\n\nYou are a content writer for Canadian Merchant Cash Advance (CMCA), a Canadian small business lender. Write a blog post based on the source material below.\n\nVOICE AND STYLE:\n- Audience: Canadian small business owners (restaurants, retail, hospitality, trades, services) — NOT investors, economists, or corporate executives\n- Tone: Practical, empathetic, advisory. The reader is under pressure. Acknowledge that first.\n- Language: Plain English. Short sentences. No jargon. Write like explaining to a friend who owns a business.\n- Do NOT copy-paste from the source. Do NOT write a news summary.\n- Filter EVERYTHING through: “How does this affect a Canadian SME’s cash flow or ability to access financing?”\n- Avoid: alarmist language, vague corporate-speak, passive voice, generic advice that could apply to any country\n- ALWAYS write in English even if the source material is in French\n\nMANDATORY 4-SECTION STRUCTURE:\n\n## [Section 1 — HOOK: 60–90 words]\nOpen with a specific fact, statistic, or business scenario from the source. Must be about Canada specifically. Make it concrete — name a sector, a dollar amount, a percentage, or a recognizable Canadian situation. Do NOT open with “In today’s economy”, “As a small business owner”, or similar generic openers.\n\n## [Section 2 — CANADIAN SME CONTEXT: 150–200 words]\nWhat does this news mean specifically for Canadian small businesses? Focus ONLY on: cash flow, operating costs, access to credit, seasonal revenue, or regulatory compliance. Ignore anything in the source about: foreign markets, large corporations, investors, or abstract macro trends. If source is French, extract the relevant facts and write this section in English.\n\n## [Section 3 — BUSINESS IMPLICATIONS + PRACTICAL STEPS: 200–250 words]\nGive 2–3 concrete, actionable steps the business owner can take. Be specific. Connect at least one step to cash flow management or business financing. Example: “Review your fixed costs before the quarter ends”, “Consider a short-term cash advance to bridge the gap before your busy season”.\n\n## [Section 4 — CTA CLOSE: 80–100 words]\nClose with CMCA’s value proposition. Use these facts EXACTLY as written — do not change them:\n- “95% approval rate”\n- “funding available in as little as 24 hours”\n- “BBB accredited”\n- “CLA member”\n- “5.0 Google Reviews rating”\nInclude two CTAs: one to email (“Send us an email”), one to apply (“Apply for a Cash Advance”). Frame CMCA as the logical next step after this article — not a generic ad.\n\nCONTENT RULES:\n- Minimum 550 words, target 600–700\n- All content must relate to Canadian SMEs — remove anything about foreign economies, large corporations, or investment markets\n- Write in English always, even if source is in French\n- No crypto, stock market, pension fund, or wealth management content even if in source\n\nCANADIAN RELEVANCE SCORE — evaluate this BEFORE writing anything.\n\nScore +0.5 for each that applies:\n- The article directly affects Canadian businesses, workers, consumers, or the Canadian economy\n- The article describes a US/international policy, tariff, rate decision, or economic event that explicitly names Canadian impact (e.g., “US tariffs on Canadian goods”, “Fed rate hike affecting Canadian borrowing costs”)\n- The article references Canadian institutions, provinces, cities, or government programs in the context of business impact\n\nScore -0.5 for each that applies:\n- The article is exclusively about US domestic affairs with zero mention of Canada\n- The article is about another country’s internal economy (India, UK, EU, etc.) with no Canadian connection\n- The article is about investment products (ETFs, hedge funds, pension funds, portfolios, crypto) with no small business angle\n\nKEY RULE: A US or international article that MENTIONS Canada or Canadian businesses = relevant. An article ONLY about the US, India, or another country with no Canadian angle = not relevant.\n\nFAILURE CONDITION:\nIf total score ≤ 0, OR if source content is empty, under 100 words, or has zero relevance to Canadian small business cash flow or financing, return this exact JSON and nothing else:\n{\"error\": \"insufficient_content\", \"title\": \"\", \"slug\": \"\", \"content\": \"\", \"wp_content\": \"\", \"category\": \"\", \"meta_description\": \"\"}\n\nOUTPUT FORMAT:\nReturn valid JSON only. No markdown. No explanation. No text outside the JSON.\n{\n  \"title\": \"Blog post title — specific and benefit-focused, under 70 characters, no clickbait\",\n  \"slug\": \"url-slug-with-hyphens\",\n  \"meta_description\": \"150-160 character meta description for SEO\",\n  \"category\": \"One of: Small Business Tips | Cash Flow | Business Financing | Industry News | Tax & Compliance\",\n  \"content\": \"Full blog post in plain text with section headings marked as ## Heading\",\n  \"wp_content\": \"Full blog post in WordPress-ready HTML: use <h2> for headings, <p> for paragraphs, <strong> for emphasis\"\n}\n\nSOURCE MATERIAL:\nTitle: {{ $('Read Sheet').item.json.TITLE }}\nSource URL: {{ $('Read Sheet').item.json.URL }}\nSource Content: {{ $json.CONTENT }}"
              },
              {
                "content": "You are a blog writer for CMCA Finance (Canadian Merchant Cash Advance), writing for Canadian small business owners. Return ONLY valid JSON with no text before or after:\n\n{\n  \"title\": \"\",\n  \"slug\": \"\",\n  \"content\": \"\",\n  \"wp_content\": \"\",\n  \"category\": \"\",\n  \"meta_description\": \"\"\n}\n\nOUTPUT FORMAT RULES:\n- \"slug\": Convert title to lowercase, replace spaces with dashes, remove special characters.\n- \"content\": Plain text version of the article for Google Docs. Must be 550-700 words. Force minimum 550 words.\n- \"wp_content\": HTML version for WordPress. Same article as \"content\" but wrapped in HTML tags (<p>, <h2>, <h3>, <strong>, <a>, <ol>, <li>). Must be 550-700 words. Force minimum 550 words. Do NOT include the headline title in wp_content (it is added separately by WordPress). Do NOT include meta_description in the article body.\n- \"category\": Select the best fit from: Financial Advice (ID: 5), Restaurants (ID: 13), Small Business (ID: 6). Output the ID number only.\n- \"meta_description\": 150-160 characters. SEO-optimized summary. This goes in the JSON only, NOT inside the article body.\n\nCONTENT DEPTH RULES:\nYour job is NOT to summarize the source article. Your job is to EXTRACT the business lesson and convert it into actionable guidance for Canadian SME owners. For every article:\n1. Identify the core issue affecting Canadian small businesses.\n2. Explain WHY it matters to a business owner's cash flow, operations, or growth — with specific detail, not vague generalities.\n3. Provide concrete, actionable advice they can implement this week — not abstract principles.\n4. Connect naturally to CMCA's services ONLY in the closing paragraph.\n\nWRITING STYLE — MATCH THIS TONE:\nWrite like a knowledgeable Canadian business advisor talking directly to a small business owner. Study these patterns from approved CMCA articles:\n\nGOOD (match this): \"Labour shortages are already hitting the sector hard, making it difficult to maintain consistent service. This reality forces businesses to re-evaluate recruiting, retention, and training strategies, often at a higher operational cost.\"\nWHY IT WORKS: Specific problem, concrete consequence, practical implication. No buzzwords.\n\nGOOD (match this): \"Inflation has increased expenses for fuel, food supplies, and other essentials, putting pressure on profit margins. Labour shortages can further limit your ability to meet demand during busy periods.\"\nWHY IT WORKS: Names specific cost categories. Connects cause to business effect.\n\nGOOD (match this): \"Reassess your budget regularly to reflect changing costs and revenues, adjusting plans to protect your cash flow.\"\nWHY IT WORKS: Actionable, specific, one sentence. Not padded with filler.\n\nBAD (never do this): \"In the dynamic landscape of entrepreneurship, businesses are navigating challenges and seizing opportunities.\"\nWHY IT'S BAD: Empty buzzwords, says nothing specific, sounds AI-generated.\n\nBAD (never do this): \"This is where strategic planning and innovative solutions come into play, enabling businesses to thrive in an ever-changing marketplace.\"\nWHY IT'S BAD: Generic filler that could apply to any topic. Obvious AI pattern.\n\nANTI-AI WRITING RULES (CRITICAL — FOLLOW STRICTLY):\n- NEVER start the article with \"In today's...\", \"In the dynamic...\", \"In the ever-evolving...\", \"In an increasingly...\", or \"In the world of...\"\n- NEVER use \"navigate\", \"landscape\", \"realm\", \"paradigm\", \"leverage\", \"spearhead\", \"delve\", \"robust\", \"synergy\", \"holistic\", \"streamline\" or \"game-changer\"\n- NEVER use \"This is where [X] comes in\" or \"This is where [X] steps in\"\n- NEVER label sections \"Introduction\" or \"Conclusion\"\n- NEVER end with \"In conclusion...\" or \"To sum up...\"\n- NEVER use three adjectives in a row (\"innovative, dynamic, and comprehensive\")\n- NEVER pad sentences with filler like \"It's important to note that...\" or \"It goes without saying...\"\n- Vary sentence length. Mix short punchy sentences with longer explanatory ones.\n- Use concrete nouns and specific numbers where possible, not abstract concepts.\n- Write as if you are explaining this to a real person sitting across from you.\n\nBRAND VOICE REQUIREMENTS:\n- Voice: Supportive, trustworthy, straightforward, Canadian, empowering\n- Tone: Informative, clear, helpful, professional, factual, reassuring\n- NEVER use the word \"loan\" or \"loans\" — CMCA provides merchant cash advances, not loans\n- Brand name: Use \"CMCA\" or \"CMCA Finance\" only. Never invent variations.\n- Service terms: Use \"merchant cash advance,\" \"cash advance,\" \"funding,\" or \"working capital\"\n- Use Canadian spelling: colour, centre, favour, honour, analyse, programme, catalogue\n- Reference Canadian context (regulations, economy, seasons), not American\n\nWRITING RULES:\n- Write in second person (\"you\", \"your business\")\n- Keep sentences concise and paragraphs short (3-4 sentences max per paragraph)\n- Use simple, clear language accessible to a general audience\n- No aggressive sales language or unrealistic promises\n- No overly technical financial terminology\n- Do not be condescending or preachy\n\nTRUST SIGNALS (weave ONE naturally into the CTA paragraph — do not list all of them):\n- BBB Accredited Business (use this exact phrase only — do not modify, abbreviate, or add prefixes like 'AAA')\n- Canadian Lenders Association (CLA) member\n- 95% approval rate\n- Headquartered in Montreal\n- 5.0 Google Reviews rating\n\nKEY MESSAGES (use where naturally relevant — do not force all of them):\n- Speed: \"funding in as little as 24 hours\"\n- Simplicity: \"quick and easy process\"\n- Flexibility: \"tailored to your business needs\"\n- Canadian: \"proudly Canadian\", headquartered in Montreal\n\nCTA RULES:\n- Include the CTA ONLY ONCE, in a separate closing paragraph AFTER the advice section\n- Do NOT embed CTA language within numbered advice points\n- Keep advice points focused on actionable tips, not promotional content\n- Use one of these CTAs, adapted to the article topic:\n  * \"If your business is facing cash flow challenges, CMCA Finance can help with flexible, short-term funding solutions.\"\n  * \"Need working capital to navigate these changes? CMCA Finance offers fast, flexible funding for Canadian businesses.\"\n  * \"CMCA Finance helps Canadian small businesses access the funds they need, when they need them.\"\n\nIMPORTANT: Count your words before outputting. If \"content\" or \"wp_content\" is under 550 words, expand the middle section with more specific detail about business impact. Do NOT pad with filler phrases — add substance.",
                "role": "system"
              }
            ]
          },
          "jsonOutput": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          352,
          -272
        ],
        "id": "29293643-70a8-4480-b357-b37bd5f9aeac",
        "name": "Message a model",
        "credentials": {
          "openAiApi": {
            "id": "cGgSXZ6cb8m5Q3gj",
            "name": "[SpilledMilk - billing@spilledmilk.com] OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1O7jBME_Vmh0ORs5vchKfWvAo0Ayn0wjWeBJbDJdpfas",
            "mode": "list",
            "cachedResultName": "CMCA Blog Topics - AUTOMATION TEST",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O7jBME_Vmh0ORs5vchKfWvAo0Ayn0wjWeBJbDJdpfas/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O7jBME_Vmh0ORs5vchKfWvAo0Ayn0wjWeBJbDJdpfas/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "URL": "={{ $('Read Sheet').item.json.URL }}",
              "STATUS LOG": "={{ $('Convert DateTime format').item.json.date }} {{ $('Convert DateTime format').item.json.time }} | Google Doc created and WordPress draft post created",
              "LINK TO WORDPRESS BACKEND": "=https://canadianmerchantcashadvance.ca/wp-admin/post.php?post={{ $json.id }}&action=edit&lang=en",
              "LINK TO GOOGLE DOC": "=https://docs.google.com/document/d/{{ $('Insert text to document').item.json.documentId }}"
            },
            "matchingColumns": [
              "URL"
            ],
            "schema": [
              {
                "id": "URL",
                "displayName": "URL",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "TITLE",
                "displayName": "TITLE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "DATE PUBLISHED",
                "displayName": "DATE PUBLISHED",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "ADMIN ACTION",
                "displayName": "ADMIN ACTION",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "STATUS LOG",
                "displayName": "STATUS LOG",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "LINK TO GOOGLE DOC",
                "displayName": "LINK TO GOOGLE DOC",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "LINK TO WORDPRESS BACKEND",
                "displayName": "LINK TO WORDPRESS BACKEND",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1376,
          -208
        ],
        "id": "ca884285-f327-4467-aaf4-adba4225b3fe",
        "name": "Updated Status Log",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "NuvxHNUd8fNqRvXJ",
            "name": "automation@spilledmilkagency.com"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentURL": "={{ $json.id }}",
          "simple": false,
          "actionsUi": {
            "actionFields": [
              {
                "action": "insert",
                "text": "={{ $('Message a model').item.json.message.content.content }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          928,
          -272
        ],
        "id": "d1fe7ffe-0642-4b05-a1e3-c8e4acd857eb",
        "name": "Insert text to document",
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "Rowcq7rTCiyfehVc",
            "name": "automation@spilledmilkagency.com"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.dateTime",
        "typeVersion": 2,
        "position": [
          -96,
          -272
        ],
        "id": "a8c5bf4c-533f-4c14-8b74-590b41061d53",
        "name": "Date & Time"
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json.currentDate;\n\n// Parse original datetime\nconst date = new Date(input);\n\n// Formatter for Canada Eastern Time\nconst formatter = new Intl.DateTimeFormat('en-CA', {\n  timeZone: 'America/Toronto',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false,\n});\n\nconst parts = formatter.formatToParts(date);\nconst get = (type) => parts.find(p => p.type === type).value;\n\nreturn {\n  date: `${get('year')}-${get('month')}-${get('day')}`,\n  time: `${get('hour')}:${get('minute')}`\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          128,
          -272
        ],
        "id": "0a45df0a-1d6e-4f94-83bd-e4292dc31518",
        "name": "Convert DateTime format"
      },
      {
        "parameters": {
          "title": "=[DRAFT] {{ $('Message a model').item.json.message.content.title }}",
          "additionalFields": {
            "content": "={{ $('Message a model').item.json.message.content.wp_content }}",
            "slug": "={{ $('Message a model').item.json.message.content.slug }}",
            "categories": "={{ $('Message a model').item.json.message.content.category }}"
          }
        },
        "type": "n8n-nodes-base.wordpress",
        "typeVersion": 1,
        "position": [
          1152,
          -272
        ],
        "id": "f3b758a6-6ac5-4526-8887-58d3ee48f13d",
        "name": "Create a post",
        "credentials": {
          "wordpressApi": {
            "id": "apu6UY3Ke6WNXjpp",
            "name": "[CMCA - dstheme] Wordpress account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nconst filtered = items.filter(item => {\n  const row = item.json;\n\n  return (\n    row[\"ADMIN ACTION\"] === \"Approve\" &&\n    (!row[\"STATUS LOG\"] ||\n    row[\"STATUS LOG\"].trim() === \"\" ||\n    row[\"STATUS LOG\"].toLowerCase().startsWith(\"rejected\") ||\n    row[\"STATUS LOG\"].toLowerCase() === \"ready for review\") &&\n    (!row[\"LINK TO GOOGLE DOC\"] || row[\"LINK TO GOOGLE DOC\"].trim() === \"\") &&\n    (!row[\"LINK TO WORDPRESS BACKEND\"] || row[\"LINK TO WORDPRESS BACKEND\"].trim() === \"\")\n  );\n});\n\nreturn filtered;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -992,
          -208
        ],
        "id": "11b8a563-326f-407d-b1d2-e8a9dfebef11",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "folderId": "1w46IETmauIkWMqTrNaE3tJFx4uk0cszQ",
          "title": "=[{{ $('Convert DateTime format').item.json.date }}] {{ $json.message.content.title }}"
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          704,
          -272
        ],
        "id": "8584b9dc-2e88-4601-be35-79d94a3e0845",
        "name": "Create a document",
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "Rowcq7rTCiyfehVc",
            "name": "automation@spilledmilkagency.com"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.URL }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0 (compatible; CMCABot/1.0)"
              }
            ]
          },
          "options": {
            "redirect": {
              "redirect": {}
            },
            "response": {
              "response": {
                "responseFormat": "text"
              }
            },
            "timeout": 30000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -544,
          -272
        ],
        "id": "d289511e-8cff-4234-aed6-b4402acf92aa",
        "name": "Fetch Article Page",
        "alwaysOutputData": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "// Get the HTTP response (HTML string)\nconst html = $input.first().json.data || $input.first().json.body || \"\";\n\n// Get original sheet data from the loop node (HTTP Request replaces $json with response data)\nconst originalData = $('Loop Over Items: APPROVED').item.json;\n\n// If HTTP request failed or returned empty/too short HTML\nif (!html || html.length < 100) {\n  return []; // Empty array = skip this item in the loop silently\n}\n\n\n// Remove non-article elements and their content\nlet cleaned = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, \"\")\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, \"\")\n  .replace(/<nav[\\s\\S]*?<\\/nav>/gi, \"\")\n  .replace(/<header[\\s\\S]*?<\\/header>/gi, \"\")\n  .replace(/<footer[\\s\\S]*?<\\/footer>/gi, \"\")\n  .replace(/<aside[\\s\\S]*?<\\/aside>/gi, \"\")\n  .replace(/<figure[\\s\\S]*?<\\/figure>/gi, \"\");\n\n// Try to extract from <article> tag first (most news sites use this)\nconst articleMatch = cleaned.match(/<article[\\s\\S]*?<\\/article>/i);\nif (articleMatch) {\n  cleaned = articleMatch[0];\n}\n\n// Strip all remaining HTML tags\ncleaned = cleaned.replace(/<[^>]+>/g, \" \");\n\n// Clean up HTML entities and whitespace\ncleaned = cleaned\n  .replace(/&nbsp;/g, \" \")\n  .replace(/&amp;/g, \"&\")\n  .replace(/&lt;/g, \"<\")\n  .replace(/&gt;/g, \">\")\n  .replace(/&#39;/g, \"'\")\n  .replace(/&quot;/g, '\"')\n  .replace(/\\s+/g, \" \")\n  .trim();\n\n// Take first 2000 characters (~500 words) to avoid token overload\nconst truncated = cleaned.substring(0, 4000);\n\n// Return original sheet data with scraped CONTENT merged in\nreturn [{\n  json: {\n    ...originalData,\n    CONTENT: truncated\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -320,
          -272
        ],
        "id": "183ea8b0-8f86-4cb2-8b59-8286036a00ec",
        "name": "Extract Article Text"
      },
      {
        "id": "f1e2d3c4-b5a6-7891-1234-567890abcde1",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -1456,
          -208
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 5
              }
            ]
          }
        }
      },
      {
        "id": "a9b8c7d6-e5f4-3210-9876-543210fedcb1",
        "name": "Read Sheet",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -1216,
          -208
        ],
        "parameters": {
          "operation": "read",
          "documentId": {
            "__rl": true,
            "value": "1O7jBME_Vmh0ORs5vchKfWvAo0Ayn0wjWeBJbDJdpfas",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1"
          },
          "options": {}
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "NuvxHNUd8fNqRvXJ",
            "name": "automation@spilledmilkagency.com"
          }
        }
      }
    ],
    "connections": {
      "Loop Over Items: APPROVED": {
        "main": [
          [],
          [
            {
              "node": "Fetch Article Page",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message a model": {
        "main": [
          [
            {
              "node": "Create a document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Updated Status Log": {
        "main": [
          [
            {
              "node": "Loop Over Items: APPROVED",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert text to document": {
        "main": [
          [
            {
              "node": "Create a post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Date & Time": {
        "main": [
          [
            {
              "node": "Convert DateTime format",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert DateTime format": {
        "main": [
          [
            {
              "node": "Message a model",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a post": {
        "main": [
          [
            {
              "node": "Updated Status Log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Loop Over Items: APPROVED",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a document": {
        "main": [
          [
            {
              "node": "Insert text to document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Article Page": {
        "main": [
          [
            {
              "node": "Extract Article Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Article Text": {
        "main": [
          [
            {
              "node": "Date & Time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Read Sheet",
              "type": "0",
              "index": 0
            }
          ]
        ]
      },
      "Read Sheet": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "0",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "DesignShopp  ",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-16T14:09:13.559Z",
        "id": 181,
        "workflowId": "wbLgyQrVlroyVo0f",
        "versionId": "4599499a-36cb-474c-8fe2-b1f0e67140b1",
        "event": "activated",
        "userId": "00770771-8b12-4aae-95b8-5cd8ec787ce1"
      },
      {
        "createdAt": "2026-03-16T14:09:13.433Z",
        "id": 180,
        "workflowId": "wbLgyQrVlroyVo0f",
        "versionId": "4599499a-36cb-474c-8fe2-b1f0e67140b1",
        "event": "deactivated",
        "userId": "00770771-8b12-4aae-95b8-5cd8ec787ce1"
      }
    ]
  }
}