workflows/CMCA/TtULG9dkROqOH1l4.json
{
  "id": "TtULG9dkROqOH1l4",
  "name": "[CMCA] P2 - Send reminder emails",
  "active": true,
  "isArchived": false,
  "updatedAt": "2026-03-30T18:35:51.656Z",
  "createdAt": "2025-12-07T14:54:48.917Z",
  "versionId": "12584c6f-8c1d-4107-a8f0-824e7968c2bc",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw",
          "mode": "list",
          "cachedResultName": "Automation: CMCA Application Lead Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 109979117,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw/edit#gid=109979117"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -48,
        -1312
      ],
      "id": "8637df4e-5155-4649-8529-eea62630176d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gnjqsanqJmpgUgbn",
          "name": "[CMCA - admin@cmcafinance.com] Google Sheets account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "options": {
          "timezone": "America/Toronto"
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -496,
        -1312
      ],
      "id": "de0ae291-7339-4686-a8fa-1ef8ec6059e6",
      "name": "Get Date & Time"
    },
    {
      "parameters": {
        "jsCode": "const entryDate = $input.first().json.currentDate; // Expects ISO 8601 string with timezone\n\n// Parse ISO string into Date object\nconst dateObj = new Date(entryDate);\n\n// Options for 'MMMM D, YYYY at h:mm a'\nconst options1 = {\n  timeZone: 'America/Toronto',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric',\n  hour: 'numeric',\n  minute: '2-digit',\n  hour12: true,\n};\nconst entry_datetime = dateObj.toLocaleString('en-CA', options1).replace(',', ' at');\n\n// Options for 'YYYY-MM-DD | HH:mm'\nconst options2 = {\n  timeZone: 'America/Toronto',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false,\n};\nconst localeStr2 = dateObj.toLocaleString('en-CA', options2).replace(',', '');\nconst [dateCA, timeCA] = localeStr2.split(' ');\nconst log_datetime = `${dateCA} | ${timeCA}`;\n\nreturn [\n  {\n    json: {\n      entry_datetime,\n      log_datetime,\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -1312
      ],
      "id": "c6f1af35-df08-45bb-b67c-0c5a58f5f0ec",
      "name": "Convert Date & Time"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4783e98d-1804-4d76-bb7d-807d65fb745e",
              "leftValue": "={{ $json.has24HoursPassed }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1792,
        -1456
      ],
      "id": "b6b80bc8-ce69-42ee-91f1-4841c049508f",
      "name": "If 24 hours has passed"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -720,
        -1312
      ],
      "id": "cef6b66d-dbbc-4cf8-a50f-103a45c9641e",
      "name": "Schedule Trigger",
      "executeOnce": true,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw",
          "mode": "list",
          "cachedResultName": "Automation: CMCA Application Lead Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 109979117,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw/edit#gid=109979117"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Set fields from leads: DocuSign email sent').item.json['Row Number'] }}",
            "Log Date and Time": "={{ $('Set fields from leads: DocuSign email sent').item.json['Current Date and Time'] }}",
            "Automation Status": "=DocuSign reminder email sent"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "First",
              "displayName": "First",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "What are you looking to finance?",
              "displayName": "What are you looking to finance?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "What industry are you in?",
              "displayName": "What industry are you in?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "How much financing do you need?",
              "displayName": "How much financing do you need?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Storefront/Online Business",
              "displayName": "Storefront/Online Business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "How long has your business been operating?",
              "displayName": "How long has your business been operating?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "What are your average monthly sales?",
              "displayName": "What are your average monthly sales?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Entry Date",
              "displayName": "Entry Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Duplicate?",
              "displayName": "Duplicate?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Admin Action",
              "displayName": "Admin Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Automation Status",
              "displayName": "Automation Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Log Date and Time",
              "displayName": "Log Date and Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2240,
        -1456
      ],
      "id": "69f89cd6-2d00-4231-baa2-f90048a6ec60",
      "name": "Update Automation Status: DocuSign email reminder created",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gnjqsanqJmpgUgbn",
          "name": "[CMCA - admin@cmcafinance.com] Google Sheets account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f24664f-f823-4122-aa55-b3b8aef0455c",
              "name": "Row Number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            },
            {
              "id": "6c4c5ec6-f8a0-4256-a4f9-23d1e1bea311",
              "name": "First Name",
              "value": "={{ $json.First }}",
              "type": "string"
            },
            {
              "id": "27cb19bd-c22a-400f-b543-514c4545622b",
              "name": "Last Name",
              "value": "={{ $json['Last Name'] }}",
              "type": "string"
            },
            {
              "id": "d3862fc3-16cd-4ea9-ac47-f33c6d3af520",
              "name": "Email Address",
              "value": "={{ $json['Email Address'] }}",
              "type": "string"
            },
            {
              "id": "45dcc614-8f14-4e40-a78f-63a3a8a21765",
              "name": "Last Action Initiated",
              "value": "={{ $json['Last Action Initiated'] }}",
              "type": "string"
            },
            {
              "id": "60dd4d56-534f-48a5-8363-c6065d2a963e",
              "name": "Automation Status",
              "value": "={{ $json['Automation Status'] }}",
              "type": "string"
            },
            {
              "id": "57b8f9ce-02d3-486a-b93e-7b31c8ecc185",
              "name": "Log Date and Time",
              "value": "={{ $json['Log Date and Time'] }}",
              "type": "string"
            },
            {
              "id": "f596e1f7-119c-4b9e-96f3-16b45e783cef",
              "name": "Current Date and Time",
              "value": "={{ $('Convert Date & Time').item.json.log_datetime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        -1504
      ],
      "id": "6817d1a8-fcd3-4d66-a6db-1133854d3f8b",
      "name": "Set fields from leads: DocuSign email sent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        896,
        -1456
      ],
      "id": "901849b9-0118-4695-a148-1735a6f1bc44",
      "name": "Loop leads = DocuSign email sent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        896,
        -1168
      ],
      "id": "c1666259-5fe2-470e-807f-2896f74d3862",
      "name": "Loop leads = DocuSign received"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f24664f-f823-4122-aa55-b3b8aef0455c",
              "name": "Row Number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            },
            {
              "id": "6c4c5ec6-f8a0-4256-a4f9-23d1e1bea311",
              "name": "First Name",
              "value": "={{ $json.First }}",
              "type": "string"
            },
            {
              "id": "27cb19bd-c22a-400f-b543-514c4545622b",
              "name": "Last Name",
              "value": "={{ $json['Last Name'] }}",
              "type": "string"
            },
            {
              "id": "d3862fc3-16cd-4ea9-ac47-f33c6d3af520",
              "name": "Email Address",
              "value": "={{ $json['Email Address'] }}",
              "type": "string"
            },
            {
              "id": "45dcc614-8f14-4e40-a78f-63a3a8a21765",
              "name": "Last Action Initiated",
              "value": "={{ $json['Last Action Initiated'] }}",
              "type": "string"
            },
            {
              "id": "60dd4d56-534f-48a5-8363-c6065d2a963e",
              "name": "Automation Status",
              "value": "={{ $json['Automation Status'] }}",
              "type": "string"
            },
            {
              "id": "57b8f9ce-02d3-486a-b93e-7b31c8ecc185",
              "name": "Log Date and Time",
              "value": "={{ $json['Log Date and Time'] }}",
              "type": "string"
            },
            {
              "id": "f596e1f7-119c-4b9e-96f3-16b45e783cef",
              "name": "Current Date and Time",
              "value": "={{ $('Convert Date & Time').item.json.log_datetime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        -1232
      ],
      "id": "a4fd8b87-dabc-456f-97be-7f1e2cd2a894",
      "name": "Set fields from leads: DocuSign received"
    },
    {
      "parameters": {
        "jsCode": "// Example inputs\nconst log_datetime = $input.first().json['Log Date and Time'];\nconst current_datetime = $input.first().json['Current Date and Time'];\n\n// Function to parse \"YYYY-MM-DD | HH:mm TZ\"\nfunction parseDate(dateString) {\n  // Replace \" | \" with \" \" and let Date parse it with timezone\n  const cleaned = dateString.replace(\" | \", \" \");\n  return new Date(cleaned);\n}\n\nconst logDate = parseDate(log_datetime);\nconst currentDate = parseDate(current_datetime);\n\n// Calculate difference in milliseconds\nconst diffMs = currentDate - logDate;\n\n// Convert ms → hours\nconst diffHours = diffMs / (1000 * 60 * 60);\n\n// Check if 3 days (72 hours) have passed\nconst has3DaysPassed = diffHours >= 72;\n\n// Return result\nreturn [{ json: { has3DaysPassed } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -1168
      ],
      "id": "3f3bcde8-fae4-46f2-90e6-71f039e1dde7",
      "name": "Compare Logged DateTime with Current DateTime: 72 hours"
    },
    {
      "parameters": {
        "jsCode": "// Example inputs\nconst log_datetime = $input.first().json['Log Date and Time'];\nconst current_datetime = $input.first().json['Current Date and Time'];\n\n// Function to parse \"YYYY-MM-DD | HH:mm TZ\"\nfunction parseDate(dateString) {\n  // Replace \" | \" with \" \" and let Date parse it with timezone\n  const cleaned = dateString.replace(\" | \", \" \");\n  return new Date(cleaned);\n}\n\nconst logDate = parseDate(log_datetime);\nconst currentDate = parseDate(current_datetime);\n\n// Calculate difference in milliseconds\nconst diffMs = currentDate - logDate;\n\n// Convert ms → hours\nconst diffHours = diffMs / (1000 * 60 * 60);\n\n// Check if 24 hours have passed\nconst has24HoursPassed = diffHours >= 24;\n\n// Return result\nreturn [{ json: { has24HoursPassed } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        -1456
      ],
      "id": "abfbbd27-dba4-4a02-80d4-60c7d961da4c",
      "name": "Compare Logged DateTime with Current DateTime: 24 hours"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4783e98d-1804-4d76-bb7d-807d65fb745e",
              "leftValue": "={{ $json.has3DaysPassed }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1568,
        -1168
      ],
      "id": "afdc4d19-41c1-4622-a6d1-9c25a1c33e8a",
      "name": "If 72 hours has passed"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw",
          "mode": "list",
          "cachedResultName": "Automation: CMCA Application Lead Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 109979117,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12ykIh8SyE2gZ1JRzAeBdEch5vrY_YczuTbPmMIZBnEw/edit#gid=109979117"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Set fields from leads: DocuSign received').item.json['Row Number'] }}",
            "Log Date and Time": "={{ $('Set fields from leads: DocuSign received').item.json['Current Date and Time'] }}",
            "Automation Status": "DocuSign follow up email sent"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "First",
              "displayName": "First",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "What are you looking to finance?",
              "displayName": "What are you looking to finance?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "What industry are you in?",
              "displayName": "What industry are you in?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "How much financing do you need?",
              "displayName": "How much financing do you need?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Storefront/Online Business",
              "displayName": "Storefront/Online Business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "How long has your business been operating?",
              "displayName": "How long has your business been operating?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "What are your average monthly sales?",
              "displayName": "What are your average monthly sales?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Entry Date",
              "displayName": "Entry Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Duplicate?",
              "displayName": "Duplicate?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Admin Action",
              "displayName": "Admin Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Automation Status",
              "displayName": "Automation Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Log Date and Time",
              "displayName": "Log Date and Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2016,
        -1168
      ],
      "id": "ab74d445-0cb7-48c2-a4a7-d70c44df6676",
      "name": "Update Automation Status: DocuSign follow up email sent",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gnjqsanqJmpgUgbn",
          "name": "[CMCA - admin@cmcafinance.com] Google Sheets account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aee71f17-ec62-4bfc-b695-12b740fdee95",
                    "leftValue": "={{ $json['Automation Status'] }}",
                    "rightValue": "DocuSign email sent",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DocuSign email sent"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "94669b87-5b4c-4994-8b2c-4950ce97aa20",
                    "leftValue": "={{ $json['Automation Status'] }}",
                    "rightValue": "DocuSign received",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DocuSign received"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        400,
        -1312
      ],
      "id": "9983e8cc-a9f3-42f5-a624-24e0c50d0ed8",
      "name": "Switch for Admin Actions"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4ec54342-175f-470c-b477-5723657a4d2a",
              "leftValue": "={{ $json['Admin Action'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        -1312
      ],
      "id": "5b39bfdf-472a-471d-9e15-7ab03a56b142",
      "name": "If admin action IS empty"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Set fields from leads: DocuSign received').item.json['Email Address'] }}",
        "subject": "=Reminder: Documents Needed to Complete Our Review",
        "message": "=<!doctype html>\n<html>\n    <head>\n        <meta charset=\"utf-8\" />\n        <meta name=\"viewport\" content=\"width=device-width\" />\n        <title>Reminder: Documents Needed to Complete OUR Review</title>\n        <style>\n            @media only screen and (max-width: 620px) {\n                .container {\n                    width: 100% !important;\n                }\n                .stack {\n                    display: block !important;\n                    width: 100% !important;\n                }\n                .pad {\n                    padding-left: 16px !important;\n                    padding-right: 16px !important;\n                }\n            }\n            img {\n                border: 0;\n                -ms-interpolation-mode: bicubic;\n                display: block;\n            }\n            a {\n                color: inherit;\n                text-decoration: none;\n            }\n        </style>\n    </head>\n    <body\n        style=\"\n            margin: 0;\n            padding: 0;\n            background-color: #f4f4f4;\n            font-family: Arial, Helvetica, sans-serif;\n            -webkit-text-size-adjust: 100%;\n            -ms-text-size-adjust: 100%;\n        \"\n    >\n        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" role=\"presentation\">\n            <tr>\n                <td align=\"center\" style=\"padding: 20px 10px\">\n                    <table\n                        class=\"container\"\n                        cellpadding=\"0\"\n                        cellspacing=\"0\"\n                        border=\"0\"\n                        width=\"600\"\n                        role=\"presentation\"\n                        style=\"\n                            width: 600px;\n                            max-width: 600px;\n                            background-color: #ffffff;\n                            border-radius: 6px;\n                            overflow: hidden;\n                        \"\n                    >\n                        <tr>\n                    \t\t<td style=\"padding:30px;background-color: #00314D;\">\n                    \t\t\t<p style=\"margin: 0; width: 100%;text-align: center; color: #fff; font-size: 13px; line-height: 24px;\"><b><span style=\"color:#E03431;\">QUICK & EASY APPROVALS.</span> STRAIGHTFORWARD PROCESS.</b></p>\n                    \t\t</td>\n                    \t</tr>\n                        <tr>\n                            <td style=\"padding: 30px; text-align: center; background-color: #ffffff\">\n                                <img\n                                    src=\"http://canadianmerchantcashadvance.ca/wp-content/uploads/2025/11/logo-cmca.png\"\n                                    alt=\"CMCA Finance\"\n                                    width=\"160\"\n                                    style=\"display: block; border: 0; outline: none; text-decoration: none; margin: auto;\"\n                                />\n                            </td>\n                        </tr>\n                        <tr>\n                            <td class=\"pad\" style=\"padding: 10px 45px; color: #515967;\">\n                                <p style=\"margin: 0 0 16px 0; font-size: 18px; font-weight: 700; line-height: 24px; color: #15243C;\">Hello,</p>\n                                <p style=\"margin: 0 0 16px 0; font-size: 18px; font-weight: 700; line-height: 24px; color: #C5221F;\">\n                                    We’re following up regarding your application.\n                                </p>\n                                <p style=\"margin: 0 0 16px 0; font-size: 18px; font-weight: 700; line-height: 24px; color: #15243C;\">\n                                    CMCA works well with your industry. We already work with businesses like yours and we're ready to move forward once we have everything we need.\n                                </p>\n                                <p style=\"margin: 0 0 30px 0; font-size: 18px; font-weight: 700; line-height: 24px; color: #15243C;\">\n                                    We have received your DocuSign submission, but <span style=\"color: #C5221F;\">we have not yet received your business bank statements, which are required to complete our review.</span>\n                                </p>\n                                <p style=\"margin: 0 0 10px 0; text-align: center; font-size: 24px; font-weight: 700; line-height: 24px; color: #00314D;\">\n                                    COMPLETE YOUR APPLICATION\n                                </p>\n                                <p style=\"margin: 0 0 30px 0; text-align: center; font-size: 16px; font-weight: 700; line-height: 24px; color: #C5221F;\">\n                                    Final Step\n                                </p>\n                                <p style=\"margin: 0 0 30px 0; font-size: 15px; font-weight: 400; line-height: 22px; color: #515967;\">\n                                    <b>To complete our underwriting review, we require your business bank statements for the previous 2–3 months.</b> Once we receive your statements, our underwriting team will finalize the assessment and prepare the financing options available to you.\n                                </p>\n\n\n                                <p style=\"display: block; max-width: 460px; width: 100%; margin: 0 auto 30px; font-size: 12px; font-weight: 400px; line-height: 19px; text-align: center; color: #515967;\">\n                                    <i>If you’d like to discuss next steps or have questions, you may also schedule a call with us. Please let us know the best phone number to reach you and a convenient time for a brief call. We’re here to make this process clear, secure, and efficient: <a href=\"mailto:underwriting@cmcafinance.com\">underwriting@cmcafinance.com</a>.</i>\n                                </p>\n                                <div style=\"display: block; max-width: 460px; width: 100%; margin: 0 auto; height: 1px; background-color: #E1E6EF;\"></div>\n                            </td>\n                        </tr>\n                        <tr>\n                            <td>\n                                <p style=\"display: block; max-width: 510px; margin: 30px auto; font-size: 17px; font-weight: 700; line-height: 22px; text-align: center; color: #C5221F;\">CMCA is committed to responsible, secure, and transparent lending.</p>\n                                <table\n                                    width=\"460\"\n                                    cellpadding=\"0\"\n                                    cellspacing=\"0\"\n                                    border=\"0\"\n                                    role=\"presentation\"\n                                    style=\"margin: 0 auto;\"\n                                >\n                                    <tr>\n                                        <td>\n                                            <p style=\"font-size: 13px; font-weight: 400; line-height: 22px; text-align: center; color: #15243C;\">We are accredited by the Better Business Bureau</p>\n                                            <p style=\"margin:0; display: block; text-align: center;\">\n                                                <img src=\"http://canadianmerchantcashadvance.ca/wp-content/uploads/2025/11/logo-bbb.png\" width=\"150\" style=\"display: inline-block;\" />\n                                            </p>\n                                        </td>\n                                        <td>\n                                            <p style=\"font-size: 13px; font-weight: 400; line-height: 22px; text-align: center; color: #15243C;\">Proud member of the Canadian Lender Association</p>\n                                            <p style=\"margin:0; display: block; text-align: center;\">\n                                                <img src=\"http://canadianmerchantcashadvance.ca/wp-content/uploads/2025/11/logo-cla.png\" width=\"150\" style=\"display: inline-block;\" />\n                                            </p>\n                                        </td>\n                                    </tr>\n                                    <tr>\n                                        <td colspan=\"2\">\n                                            <p style=\"margin: 30px auto; font-size: 12px; font-weight: 400; line-height: 19px; text-align: center; font-style: italic; color: #15243C;\">Note: If you prefer to complete a PDF version of the application instead, simply reply to this email to request the form. Docusign is the preferred method.</p>\n                                            <div style=\"display: block; max-width: 460px; width: 100%; margin: 0 auto; height: 1px; background-color: #E1E6EF;\"></div>\n                                        </td>\n                                    </tr>\n                                </table>\n                            </td>\n                        </tr>\n                        <tr>\n                            <td>\n                                <table\n                                    width=\"460\"\n                                    cellpadding=\"0\"\n                                    cellspacing=\"0\"\n                                    border=\"0\"\n                                    role=\"presentation\"\n                                    style=\"margin: 0 auto;\"\n                                >\n                                    <p style=\"text-align: center; font-size: 10px; font-weight: 400; line-height: 17px; color: #515967; margin-top:30px;\"><b>CMCA – Canadian Merchant Cash Advance</b><br/>Underwriting & Client Services</p>\n                                    <p style=\"text-align: center; font-size: 10px; font-weight: 400; line-height: 17px; color: #515967;margin-bottom:30px;\"><b>CMCA Finance® Corporate Office</b><br/>309 Lakeshore Blvd. Pointe-Claire, QC H9S 4L6<br/>Phone: <a href=\"tel:18556512844\">1-855-651-2844</a><br/>Fax: <a href=\"tel:18555416893\">1-855-541-6893</a><br/><a href=\"www.canadianmerchantcashadvance.ca\" target=\"_blank\">www.canadianmerchantcashadvance.ca</a>&nbsp;&nbsp;&nbsp;<a href=\"mailto:underwriting@cmcafinance.com\" target=\"_blank\">underwriting@cmcafinance.com</a></p>\n                                </table>\n                            </td>\n                        </tr>\n                    </table>\n                </td>\n            </tr>\n        </table>\n    </body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1792,
        -1168
      ],
      "id": "3aae8844-0a7d-481a-b7cb-36e666ab74bc",
      "name": "Send reminder email after 72 hours",
      "webhookId": "bc89bb67-a57d-4d68-a55d-3942003abf44",
      "credentials": {
        "gmailOAuth2": {
          "id": "LfULPgXZiOMRS3r5",
          "name": "[CMCA - admin@cmcafinance.com] Gmail account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "sendTo": "={{ $('Set fields from leads: DocuSign email sent').item.json['Email Address'] }}",
        "subject": "=Reminder: CMCA Application Received – Action Required",
        "message": "=<!doctype html>\n<html>\n    <head>\n        <meta charset=\"utf-8\" />\n        <meta name=\"viewport\" content=\"width=device-width\" />\n        <title>Documents Needed to Complete OUR Review</title>\n        <style>\n            @media only screen and (max-width: 620px) {\n                .container {\n                    width: 100% !important;\n                }\n                .stack {\n                    display: block !important;\n                    width: 100% !important;\n                }\n                .pad {\n                    padding-left: 16px !important;\n                    padding-right: 16px !important;\n                }\n            }\n            img {\n                border: 0;\n                -ms-interpolation-mode: bicubic;\n                display: block;\n            }\n            a {\n                color: inherit;\n                text-decoration: none;\n            }\n        </style>\n    </head>\n    <body\n        style=\"\n            margin: 0;\n            padding: 0;\n            background-color: #f4f4f4;\n            font-family: Arial, Helvetica, sans-serif;\n            -webkit-text-size-adjust: 100%;\n            -ms-text-size-adjust: 100%;\n        \"\n    >\n        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" role=\"presentation\">\n            <tr>\n                <td align=\"center\" style=\"padding: 20px 10px\">\n                    <table\n                        class=\"container\"\n                        cellpadding=\"0\"\n                        cellspacing=\"0\"\n                        border=\"0\"\n                        width=\"600\"\n                        role=\"presentation\"\n                        style=\"\n                            width: 600px;\n                            max-width: 600px;\n                            background-color: #ffffff;\n                            border-radius: 6px;\n                            overflow: hidden;\n                        \"\n                    >\n                        <tr>\n                    \t\t<td style=\"padding:30px;background-color: #00314D;\">\n                    \t\t\t<p style=\"margin: 0; width: 100%;text-align: center; color: #fff; font-size: 13px; line-height: 24px;\"><b><span style=\"color:#E03431;\">QUICK & EASY APPROVALS.</span> STRAIGHTFORWARD PROCESS.</b></p>\n                    \t\t</td>\n                    \t</tr>\n                        <tr>\n                            <td style=\"padding: 30px; text-align: center; background-color: #ffffff\">\n                                <img\n                                    src=\"http://canadianmerchantcashadvance.ca/wp-content/uploads/2025/11/logo-cmca.png\"\n                                    alt=\"CMCA Finance\"\n                                    width=\"160\"\n                                    style=\"display: block; border: 0; outline: none; text-decoration: none; margin: auto;\"\n                                />\n                            </td>\n                        </tr>\n                        <tr>\n                            <td class=\"pad\" style=\"padding: 10px 45px; color: #515967;\">\n                                <p style=\"margin: 0 0 16px 0; font-size: 18px; font-weight: 700; line-height: 24px; color: #15243C;\">Hello,</p>\n                                <p style=\"margin: 0 0 16px 0; font-size: 18px; font-weight: 700; line-height: 24px; color: #15243C;\">\n                                    Yesterday we sent you a secure DocuSign link to complete your CMCA Financial Services application. We have not yet received your completed form.\n                                </p>\n                                <p style=\"margin: 0 0 30px 0; font-size: 15px; font-weight: 400; line-height: 24px; color: #515967;\">\n                                    To continue with your financing request, please take a few minutes to finalize your application online:\n                                </p>\n                                <p style=\"margin: 0 0 10px 0; text-align: center; font-size: 24px; font-weight: 700; line-height: 24px; color: #00314D;\">\n                                    COMPLETE YOUR APPLICATION\n                                </p>\n                                <p style=\"margin: 0 0 16px 0; text-align: center; font-size: 12px; font-weight: 700; line-height: 24px; color: #00314D;\">\n                                    No printing or scanning required.\n                                </p>\n                                <table\n                                    width=\"100%\"\n                                    cellpadding=\"0\"\n                                    cellspacing=\"0\"\n                                    border=\"0\"\n                                    role=\"presentation\"\n                                    style=\"margin: 0 0 20px 0\"\n                                >\n                                    <tr>\n                                        <td align=\"center\">\n                                            <!--[if mso\n                                                ]><v:roundrect\n                                                    xmlns:v=\"urn:schemas-microsoft-com:vml\"\n                                                    xmlns:w=\"urn:schemas-microsoft-com:office:word\"\n                                                    href=\"https://us.services.docusign.net/webforms-ux/v1.0/forms/9ae36a3d3cf37672f93540d462f296bc\"\n                                                    style=\"height: 44px; v-text-anchor: middle; width: 220px\"\n                                                    arcsize=\"8%\"\n                                                    strokecolor=\"#1a73e8\"\n                                                    fillcolor=\"#1a73e8\"\n                                                    ><w:anchorlock />\n                                                    <center\n                                                        style=\"\n                                                            color: #ffffff;\n                                                            font-family: Arial, sans-serif;\n                                                            font-size: 16px;\n                                                            font-weight: bold;\n                                                        \"\n                                                    >\n                                                        Complete via DocuSign\n                                                    </center></v:roundrect\n                                                ><!\n                                            [endif]-->\n                                            <a\n                                                href=\"https://us.services.docusign.net/webforms-ux/v1.0/forms/9ae36a3d3cf37672f93540d462f296bc\"\n                                                target=\"_blank\"\n                                                style=\"\n                                                    display: inline-block;\n                                                    background-color: #00314D;\n                                                    color: #ffffff;\n                                                    text-decoration: none;\n                                                    padding: 22px 10px;\n                                                    border-radius: 10px;\n                                                    font-weight: bold;\n                                                    font-size: 16px;\n                                                    line-height: 18px;\n                                                    margin: 0 auto 10px;\n                                                    min-width: 280px;\n                                                \"\n                                            >\n                                                COMPLETE APPLICATION\n                                            </a>\n                                            <p style=\"margin:0; display: block; text-align: center;\">\n                                                <img src=\"http://canadianmerchantcashadvance.ca/wp-content/uploads/2025/11/logo-docusign.png\" width=\"170\" style=\"display: inline-block;\" />\n                                            </p>\n                                        </td>\n                                    </tr>\n                                </table>\n                                <p style=\"display: block; max-width: 460px; width: 100%; margin: 0 auto 30px; font-size: 15px; font-weight: 400px; line-height: 22px; text-align: center; color: #515967;\">\n                                    Once your information is received, our underwriting team will review your file and contact you with the financing options available.\n                                </p>\n                                <p style=\"display: block; max-width: 460px; width: 100%; margin: 0 auto 30px; font-size: 15px; font-weight: 400px; line-height: 22px; text-align: center; color: #515967;\">\n                                    Your information is encrypted and processed securely.\n                                </p>\n                                <p style=\"display: block; max-width: 460px; width: 100%; margin: 0 auto 30px; font-size: 15px; font-weight: 400px; line-height: 22px; text-align: center; color: #515967;\">\n                                    If you have any questions while completing your application, our team is here to help—simply reply to this email or call us at 1-855-651-2844.\n                                </p>\n                                <div style=\"display: block; max-width: 460px; width: 100%; margin: 0 auto; height: 1px; background-color: #E1E6EF;\"></div>\n                            </td>\n                        </tr>\n                        <tr>\n                            <td>\n                                <p style=\"display: block; max-width: 510px; margin: 30px auto; font-size: 17px; font-weight: 700; line-height: 22px; text-align: center; color: #C5221F;\">CMCA is committed to responsible, secure, and transparent lending.</p>\n                                <table\n                                    width=\"460\"\n                                    cellpadding=\"0\"\n                                    cellspacing=\"0\"\n                                    border=\"0\"\n                                    role=\"presentation\"\n                                    style=\"margin: 0 auto;\"\n                                >\n                                    <tr>\n                                        <td>\n                                            <p style=\"font-size: 13px; font-weight: 400; line-height: 22px; text-align: center; color: #15243C;\">We are accredited by the Better Business Bureau</p>\n                                            <p style=\"margin:0; display: block; text-align: center;\">\n                                                <img src=\"http://canadianmerchantcashadvance.ca/wp-content/uploads/2025/11/logo-bbb.png\" width=\"150\" style=\"display: inline-block;\" />\n                                            </p>\n                                        </td>\n                                        <td>\n                                            <p style=\"font-size: 13px; font-weight: 400; line-height: 22px; text-align: center; color: #15243C;\">Proud member of the Canadian Lender Association</p>\n                                            <p style=\"margin:0; display: block; text-align: center;\">\n                                                <img src=\"http://canadianmerchantcashadvance.ca/wp-content/uploads/2025/11/logo-cla.png\" width=\"150\" style=\"display: inline-block;\" />\n                                            </p>\n                                        </td>\n                                    </tr>\n                                    <tr>\n                                        <td colspan=\"2\">\n                                            <p style=\"margin: 30px auto; font-size: 12px; font-weight: 400; line-height: 19px; text-align: center; font-style: italic; color: #15243C;\">Note: If you prefer to complete a PDF version of the application instead, simply reply to this email to request the form. Docusign is the preferred method.</p>\n                                            <div style=\"display: block; max-width: 460px; width: 100%; margin: 0 auto; height: 1px; background-color: #E1E6EF;\"></div>\n                                        </td>\n                                    </tr>\n                                </table>\n                            </td>\n                        </tr>\n                        <tr>\n                            <td>\n                                <table\n                                    width=\"460\"\n                                    cellpadding=\"0\"\n                                    cellspacing=\"0\"\n                                    border=\"0\"\n                                    role=\"presentation\"\n                                    style=\"margin: 0 auto;\"\n                                >\n                                    <p style=\"text-align: center; font-size: 10px; font-weight: 400; line-height: 17px; color: #515967; margin-top:30px;\"><b>CMCA – Canadian Merchant Cash Advance</b><br/>Underwriting & Client Services</p>\n                                    <p style=\"text-align: center; font-size: 10px; font-weight: 400; line-height: 17px; color: #515967;margin-bottom:30px;\"><b>CMCA Finance® Corporate Office</b><br/>309 Lakeshore Blvd. Pointe-Claire, QC H9S 4L6<br/>Phone: <a href=\"tel:18556512844\">1-855-651-2844</a><br/>Fax: <a href=\"tel:18555416893\">1-855-541-6893</a><br/><a href=\"www.canadianmerchantcashadvance.ca\" target=\"_blank\">www.canadianmerchantcashadvance.ca</a>&nbsp;&nbsp;&nbsp;<a href=\"mailto:underwriting@cmcafinance.com\" target=\"_blank\">underwriting@cmcafinance.com</a></p>\n                                </table>\n                            </td>\n                        </tr>\n                    </table>\n                </td>\n            </tr>\n        </table>\n    </body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2016,
        -1456
      ],
      "id": "950ca90d-f976-420c-a716-afad6eb7ffec",
      "name": "Send reminder email after 24 hours",
      "webhookId": "dd2a0ae5-3f7b-4d6c-9934-74877b78c5ac",
      "credentials": {
        "gmailOAuth2": {
          "id": "LfULPgXZiOMRS3r5",
          "name": "[CMCA - admin@cmcafinance.com] Gmail account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    }
  ],
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If admin action IS empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Date & Time": {
      "main": [
        [
          {
            "node": "Convert Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Date & Time": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If 24 hours has passed": {
      "main": [
        [
          {
            "node": "Send reminder email after 24 hours",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Automation Status: DocuSign email reminder created": {
      "main": [
        [
          {
            "node": "Loop leads = DocuSign email sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set fields from leads: DocuSign email sent": {
      "main": [
        [
          {
            "node": "Compare Logged DateTime with Current DateTime: 24 hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop leads = DocuSign email sent": {
      "main": [
        [],
        [
          {
            "node": "Set fields from leads: DocuSign email sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop leads = DocuSign received": {
      "main": [
        [],
        [
          {
            "node": "Set fields from leads: DocuSign received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set fields from leads: DocuSign received": {
      "main": [
        [
          {
            "node": "Compare Logged DateTime with Current DateTime: 72 hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Logged DateTime with Current DateTime: 24 hours": {
      "main": [
        [
          {
            "node": "If 24 hours has passed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop leads = DocuSign email sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Logged DateTime with Current DateTime: 72 hours": {
      "main": [
        [
          {
            "node": "If 72 hours has passed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop leads = DocuSign received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If 72 hours has passed": {
      "main": [
        [
          {
            "node": "Send reminder email after 72 hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch for Admin Actions": {
      "main": [
        [
          {
            "node": "Loop leads = DocuSign email sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop leads = DocuSign received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If admin action IS empty": {
      "main": [
        [
          {
            "node": "Switch for Admin Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send reminder email after 72 hours": {
      "main": [
        [
          {
            "node": "Update Automation Status: DocuSign follow up email sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send reminder email after 24 hours": {
      "main": [
        [
          {
            "node": "Update Automation Status: DocuSign email reminder created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "bg8o5L8lUqPtR450cJsEu",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "pinData": {},
  "tags": []
}