workflows/Tornatech/pgDhvm56k0UovhT4.json
{
  "id": "pgDhvm56k0UovhT4",
  "name": "Tornatech - Form Submission",
  "active": false,
  "isArchived": false,
  "updatedAt": "2026-01-07T21:08:25.768Z",
  "createdAt": "2025-11-13T18:32:31.463Z",
  "versionId": "94f6e035-20d6-498c-9f5e-bb2079a1d868",
  "nodes": [
    {
      "parameters": {
        "title": "={{ $('Append row in sheet').item.json.Title }}",
        "additionalFields": {
          "content": "={{ $('Append row in sheet').item.json.Content }}",
          "status": "draft",
          "categories": "={{ $json.category_ids[0] }}"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1504,
        160
      ],
      "id": "7bbd2802-d5b0-4a97-aa62-710edd1f55e2",
      "name": "Create a post",
      "credentials": {
        "wordpressApi": {
          "id": "KDpoFaRvQy32gJv9",
          "name": "[DS] Tornatech WP Admin Account - designshopp"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "questionnaire",
        "responseMode": "=onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        160
      ],
      "id": "b534ba89-f957-4bad-a698-20547e617a92",
      "name": "Webhook",
      "webhookId": "6240d258-0192-4767-be5c-edab52d706e7"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert technical writer specializing in fire pump controllers and NFPA 20 compliance.\nWrite a polished Tornatech case study based strictly on the questionnaire below.\n\nYou may add brief, GENERAL engineering context that is standard to MI cable and NFPA 20 practice,\nbut you must NOT add any project-specific facts (no client names, locations, product models,\nmetrics, quotes, timelines, or AHJ decisions unless provided).\n\nIf you add general context, keep it clearly non-specific and industry-standard.\n\nWriting style:\n- neutral, engineering-forward, third person\n- no marketing fluff\n- 300–400 words\n- HTML output ready for WordPress\n- you can refer to the https://www.tornatech.com/ or https://firetrol.com/ website\n- Consider these additional notes {{ $('Webhook').item.json.body['14'] }}\n\nStructure exactly:\n1. Title (H1)\n2. Request or Situation (H3 + paragraph)\n3. Technical Challenge / Compliance Issue (H3 + paragraph, bullets if needed)\n4. Assessment / Findings (H3 + paragraph, bullets if needed)\n5. Tornatech Solution / Recommended Approach (H3 + paragraph)\n6. Final Outcome / Recommendation (H3 + paragraph)\n\n\n\nQuestionnaire answers:\n\n\n1. Request or Situation:\n{{ $('Webhook').item.json.body['10'] }}\n\n2. Technical Challenge or Code/Compliance Issue:\n{{ $('Webhook').item.json.body['11'] }}\n\n3. Assessment or Findings:\n{{ $('Webhook').item.json.body['12'] }}\n\n4. Tornatech Solution or Recommended Approach:\n{{ $('Webhook').item.json.body['9'] }}\n\n5. Final Outcome or Recommendation:\n{{ $('Webhook').item.json.body['13'] }}\n\n\n\nRULES:\n- Never add product names, hardware, codes, or procedures not explicitly mentioned.\n- If information is missing, state it generically without adding details.\n- Maintain technical accuracy and NFPA language where applicable.\n- remove the <html> opening tag"
            },
            {
              "content": "You are writing a WordPress case study. Return ONLY valid JSON.",
              "role": "system"
            },
            {
              "content": "From the form submission, generate:\n\ntitle: short, clear, SEO-friendly title (max 70 characters)\n\ncontent: full case study in HTML\n\nReturn ONLY this JSON:\n{\n  \"title\": \"\",\n  \"content\": \"\"\n}\ndo not include another <h1> title in the content and add a class \"ds-divider\" in every last paragraph before <h3>"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        336,
        160
      ],
      "id": "d67ed84e-a760-454f-a90d-a25098039eec",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "Wy1if1pl4YjrTymQ",
          "name": "[DS] - OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hulPVHOB8U1CCW7q6J3adKwi9QcrKr-A-ximFvCVEPw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hulPVHOB8U1CCW7q6J3adKwi9QcrKr-A-ximFvCVEPw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Content Type": "={{ $('Webhook').item.json.body['5'] }}",
            "Title": "={{ $json.message.content.title }}",
            "Date": "={{ $('Webhook').item.json.body.date_created }}",
            "Content": "={{ $json.message.content.content }}",
            "Email": "={{ $('Webhook').item.json.body['2'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Content Type",
              "displayName": "Content Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "needs_revision",
              "displayName": "needs_revision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        160
      ],
      "id": "28212aa5-cb66-412b-a185-66cc74ce8892",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fPpSuDM6jY8pi5qF",
          "name": "[DS - alec.galvez@designshopp.com] Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://tornatechstage.wpengine.com/wp-json/wp/v2/categories",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ $('Append row in sheet').item.json['Content Type'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        160
      ],
      "id": "17e63dfb-2d2f-41b1-82ae-62d2c320ef2f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// category name from webhook field body[\"5\"]\nconst wanted = ($node[\"Webhook\"].json.body?.[\"5\"] || \"\").toLowerCase().trim();\n\n// categories returned by HTTP Request (this node's input)\nconst match = items.find(\n  c => (c.json.name || \"\").toLowerCase().trim() === wanted\n);\n\nif (!match) {\n  throw new Error(`Category not found: ${wanted}`);\n}\n\nreturn [\n  {\n    json: {\n      category_ids: [match.json.id]\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        160
      ],
      "id": "63510a32-2561-4478-bb87-af2f39a62379",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hulPVHOB8U1CCW7q6J3adKwi9QcrKr-A-ximFvCVEPw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 282401417,
          "mode": "list",
          "cachedResultName": "Form_Submissions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hulPVHOB8U1CCW7q6J3adKwi9QcrKr-A-ximFvCVEPw/edit#gid=282401417"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.body['2'] }}",
            "submitted_at": "={{ $json.body.date_created }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submitted_at",
              "displayName": "submitted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        -96
      ],
      "id": "f3afcad9-f2ce-44f1-8d1b-2784bf6e5545",
      "name": "Append to Form_Submissions",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fPpSuDM6jY8pi5qF",
          "name": "[DS - alec.galvez@designshopp.com] Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const replyRaw = ($json.text || $json.response || $json.body || \"\").toLowerCase();\n\nconst approved =\n  replyRaw.includes(\"approved\") ||\n  replyRaw.includes(\"approve\") ||\n  replyRaw.trim() === \"yes\";\n\nreturn [{\n  json: {\n    approved,\n    replyRaw,\n    wp_post_id: $node[\"Create a post\"].json.id\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        160
      ],
      "id": "9acbc6c1-fbbc-4560-945e-690c466a5d17",
      "name": "Parse Approval"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "555e7746-dc93-41dd-a9d2-c8d8fada7a3f",
              "leftValue": "={{$json.approved}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2128,
        160
      ],
      "id": "cc7d0f3e-4e19-4a0f-9b89-7cc91c60ce8b",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "postId": "={{$json.wp_post_id}}",
        "updateFields": {
          "status": "publish"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        2400,
        144
      ],
      "id": "bf816717-c32c-4cb6-86cc-ac280c282656",
      "name": "Publish the Post",
      "credentials": {
        "wordpressApi": {
          "id": "KDpoFaRvQy32gJv9",
          "name": "[DS] Tornatech WP Admin Account - designshopp"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "={{ $('Webhook').item.json.body['2'] }}",
        "subject": "=Review & Approval Required: Draft  {{ $('Webhook').item.json.body['5'] }}",
        "message": "=Hi [Expert Name],\n\nHope you’re doing well. \n\nWe’ve generated a draft case study based on the questionnaire you/your team provided. Could you please review it for technical accuracy and NFPA 20 compliance?\n\nDraft link: {{ $json.link }}\n\nWhen reviewing, please check:\n\nAccuracy of the situation, findings, and recommended approach\n\nCorrect use of engineering/NFPA 20 language\n\nCompleteness and clarity for the intended audience\n\nAny details that should be revised, removed, or added\n\nReply with one of these options:\n\nApproved – The draft is accurate and ready to proceed.\n\nNeeds Revision – Please share the specific edits or corrections needed (bullet points are fine).\n\nIf revisions are needed, feel free to note them directly in your reply, or mark them in the draft if that’s easier.\n\nThank you in advance — your approval ensures we publish an accurate and compliant case study.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1936,
        -48
      ],
      "id": "af4d73ba-14c1-40cf-8424-f272287370d2",
      "name": "Send message and wait for response1",
      "webhookId": "a85e4924-591c-4edc-a5e0-9e5001464099",
      "credentials": {
        "gmailOAuth2": {
          "id": "SgIDsShQhrA71npJ",
          "name": "[Test Gmail - analyn.alvario@designshopp.com] Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body['2'] }}",
        "subject": "=Review Required: Draft  {{ $('Webhook').item.json.body['5'] }}",
        "message": "=<p>Hi {{ $('Webhook').item.json.body['15'] }}, </p>\n\n<p>Hope you’re doing well.</p>\n\n<p>\n  A draft case study has been created in the WordPress admin based on the questionnaire\n  you/your team provided. When you have a moment, please review it for technical accuracy\n  and NFPA 20 compliance.\n</p>\n\n<p>\n  Draft link:\n  <a href=\"{{ $json.link }}\" target=\"_blank\" rel=\"noopener noreferrer\">\n    {{ $json.link }}\n  </a>\n</p>\n\n<p>\n  Thank you in advance for taking a look. Your review helps ensure the case study is accurate\n  and compliant before we move forward.\n</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1712,
        160
      ],
      "id": "d469775b-2561-4a1a-bf6e-c2d64de60ed1",
      "name": "Send a message",
      "webhookId": "a85e4924-591c-4edc-a5e0-9e5001464099",
      "credentials": {
        "gmailOAuth2": {
          "id": "SgIDsShQhrA71npJ",
          "name": "[Test Gmail - analyn.alvario@designshopp.com] Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append to Form_Submissions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Form_Submissions": {
      "main": [
        []
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Approval": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Publish the Post",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "pinData": {},
  "tags": []
}