workflows/Tornatech/PTZr45O9pqnkfOXI.json
{
  "id": "PTZr45O9pqnkfOXI",
  "name": "Tornatech - Translation [Phase 1]",
  "active": false,
  "isArchived": false,
  "updatedAt": "2026-03-03T22:50:03.534Z",
  "createdAt": "2026-02-20T21:33:30.669Z",
  "versionId": "8b9eab71-8150-4656-b01a-ebaa5edf0790",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "23695779-84df-4767-940c-9b8b6c55f2ef",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "671cc5f6-c8b5-4cb6-98f3-8b8ff445ac7a",
              "leftValue": "={{\nArray.isArray($json.tags) && $json.tags.includes(882)\n}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "9d0678ec-3c7c-47d3-b757-398fd15647ae",
      "name": "Has \"translate\""
    },
    {
      "parameters": {
        "operation": "get",
        "postId": "17466",
        "options": {}
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        320,
        0
      ],
      "id": "3e0562f2-8cae-4323-b96a-10e5b9d5bc50",
      "name": "WP Get an Article",
      "credentials": {
        "wordpressApi": {
          "id": "KDpoFaRvQy32gJv9",
          "name": "[DS] Tornatech WP Admin Account - designshopp"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "17k2-o0vwbiLa2TepLuWJ3KyxgIf7f6ofsRZX-fEQIpk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17k2-o0vwbiLa2TepLuWJ3KyxgIf7f6ofsRZX-fEQIpk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.toISO() }}",
            "Post ID": "={{ $json.id }}",
            "Content ES": "={{ $json.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title EN",
              "displayName": "Title EN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title FR",
              "displayName": "Title FR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title ES",
              "displayName": "Title ES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content EN",
              "displayName": "Content EN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content FR",
              "displayName": "Content FR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content ES",
              "displayName": "Content ES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEO Title FR",
              "displayName": "SEO Title FR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEO Title ES",
              "displayName": "SEO Title ES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEO Desc FR",
              "displayName": "SEO Desc FR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEO Desc ES",
              "displayName": "SEO Desc ES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2160,
        -16
      ],
      "id": "f0f4d909-e770-48ea-b19f-9054fbcd7173",
      "name": "Append the Article to the sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cEd9FhgfccbmNQQA",
          "name": "[DS - analyn.alvario@designshopp.com] - Google Sheet account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1952,
        -256
      ],
      "id": "404d8bae-e715-4a75-b016-24e5e6b9448e",
      "name": "Remove the tag from Original post",
      "credentials": {
        "wordpressApi": {
          "id": "kcKRdIUs4AzcomCH",
          "name": "[Live] Tornatech WP Admin Account - qa@designshopp"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $node[\"WP Get an Article\"].json.title.rendered + \" (FR)\" }}",
        "additionalFields": {
          "content": "={{ $json.output[0].content[0].text }}"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1600,
        -256
      ],
      "id": "50b55817-eaeb-4bd1-97bc-a753c6493b79",
      "name": "Create FR version",
      "credentials": {
        "wordpressApi": {
          "id": "KDpoFaRvQy32gJv9",
          "name": "[DS] Tornatech WP Admin Account - designshopp"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $node[\"WP Get an Article\"].json.title.rendered + \" (ES)\" }}",
        "additionalFields": {
          "content": "={{ $json.output[0].content[0].text }}"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1600,
        240
      ],
      "id": "4bb7b613-6dab-47b8-b8e2-80b684d8f70b",
      "name": "Create ES version1",
      "credentials": {
        "wordpressApi": {
          "id": "KDpoFaRvQy32gJv9",
          "name": "[DS] Tornatech WP Admin Account - designshopp"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "postId": "={{ $json.id }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        2320,
        224
      ],
      "id": "dcc594fb-f8d9-4d9d-a0ea-9b08b0633cad",
      "name": "Remove the tag from Original post1",
      "credentials": {
        "wordpressApi": {
          "id": "KDpoFaRvQy32gJv9",
          "name": "[DS] Tornatech WP Admin Account - designshopp"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Translate the following blog post into French:\n\n\nContent:\n{{$json.content.rendered}} {{ $json.content }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1008,
        -256
      ],
      "id": "7ba271c4-b674-4b0d-b689-d0cb6f934bbf",
      "name": "Message a model FR",
      "credentials": {
        "openAiApi": {
          "id": "NZhdaORQZFnscxig",
          "name": "[Tornatech] OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Translate the following blog post into Spanish:\n\n\nContent:\n{{$json.content.rendered}} {{ $json.content }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        992,
        240
      ],
      "id": "948fa1c6-2d01-420a-ab20-eb2b3ba1bb76",
      "name": "Message a model ES",
      "credentials": {
        "openAiApi": {
          "id": "NZhdaORQZFnscxig",
          "name": "[Tornatech] OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "WP Get an Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has \"translate\"": {
      "main": [
        [
          {
            "node": "Message a model FR",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message a model ES",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "WP Get an Article": {
      "main": [
        [
          {
            "node": "Has \"translate\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove the tag from Original post": {
      "main": [
        []
      ]
    },
    "Create FR version": {
      "main": [
        [
          {
            "node": "Remove the tag from Original post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create ES version1": {
      "main": [
        [
          {
            "node": "Append the Article to the sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove the tag from Original post1": {
      "main": [
        []
      ]
    },
    "Message a model FR": {
      "main": [
        [
          {
            "node": "Create FR version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model ES": {
      "main": [
        [
          {
            "node": "Create ES version1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "qvfDo35OOWGGpZmWbbfm7"
  },
  "pinData": {},
  "tags": []
}